{% extends 'contenido_base.html.twig' %}

{% block contenido_body %}
    <a href="#" class="btn btn-primary pull-right">
        Create <span class="fa fa-plus-circle"></span>
    </a>
    <h1>Todas las entradas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Publicado?</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
                <tr>
                    <td>{{ entrada.titulo }}</td>
                    <td>{{ entrada.autor.email }}</td>
                    <td>
{#                        <span class="fa fa-{{ entrada.isPublished ? 'check' : 'times' }}"></span>#}
                    </td>
                    <td>
                        <a href="{{ path('admin_entrada_edit', {'id': entrada.id}) }}">
                            <i class="fi fi-page-edit"></i> Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
