{% extends 'base_admin.html.twig' %}

{% block title %}Nueva Entrada{% endblock %}

{% block content %}

    <h1>Nueva Entrada</h1>

    <div class="form-container">
        {{ include('admin_entrada/_form.html.twig') }}
    </div>

    <a class="btn btn-link" href="{{ path('admin_section_list') }}"><i class="fas fa-backspace"></i> Volver al listado</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.custom-file-input').on('change', function (event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}
