{% extends 'base_admin_board.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="col-sm-9 mx-auto">
        <a class="btn btn-info" href="{{ path('admin_entrada_index') }}">Cancelar e ir al Listado</a>
    </div>
{% endblock %}

