.navbar:before  {
    border-color: #5a5a5a transparent transparent transparent;
    position: absolute;
    /*display: block;*/
    border-style: solid;
    bottom: -1em;
    margin-left: 0px;
    content: '';
}

.navbar:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.navbar:after  {
    border-color: #5a5a5a transparent transparent transparent;
    position: absolute;
    /*display: block;*/
    border-style: solid;
    bottom: -1em;
    margin-left: 0px;
    content: '';
}

.navbar:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.bajomedia-content:before  {
    border-color: transparent transparent #31708f transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: 2.5em;
    content: '';
}

.bajomedia-content:before {
    left: 0;
    border-width: 0em 0em 1em 1em;
}

.navbar {

    /*position: absolute !important;
    top: 6px !important;

    height: 40px !important;
    left: -10px !important;*/
    background-color: #5a5a5a !important;
    background-image: url('../imagenes/imgMenu.png') !important;
    background-repeat: repeat !important;
    padding: 0 10px !important;
    margin-left: -16px;
    margin-right: -16px;
    box-shadow: 0px 10px 10px 5px;

}

.fondo {

    background-color: rgba(0,0,0, .5);
}

.principal{

    top: -2.5rem;
}

.text-point {

    color: #ca5430;
}

.border-point {
    border-color: #2e2e2e !important;

}

.bg-point {

    background-color: #f0e7d1;
}

.text-tan {
    color: #f0e7d1;
}

.bg-light-blue {

    background-color: #73aba2;
}

.bg-point-sec {

    background-color: #438789;
}

.text-point-sec {

    color: #438789;
}

.text-light-blue{
    color: #73aba2;
}
.carousel-inner img {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.eventos {

   /* margin-top: 20rem;*/
}

.btn-alameda{
    color:#f0e7d1;
    background-color:#438789;
    border-color:#007bff}
.btn-alameda:hover{color:#f0e7d1;background-color:#438789;border-color:#73aba2}
.btn-alameda.focus,.btn-alameda:focus{box-shadow:0 0 0 .2rem rgba(46,46,46,.5)}

.img-punto  {

    background-image:url(../imagenes/PEncuentroSinText.png) ;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:16px 16px;
    text-indent:-1000px;
    min-width:8px;
}

ul.punto li{

    list-style: none;
    text-indent: -3em;
;

}

.carousel{
    height: 66.67%;
    margin-bottom: 0;
}

/*.carousel, .carousel-inner > .carousel-item > img {

    height: 200px;
}*/

.fondo-evento{

    background-color: #f0e7d122;

}

.fondo-footer{

    background-color:rgba(67, 135, 137, .25)
}

.fondoFranja {

    background-image: url('../imagenes/imgMenu.png') !important;
    background-repeat: repeat !important;
    padding: 0 10px !important;
    box-shadow: 0px 10px 10px 5px;

}

a.text-tan:hover{

    color: #f0e7d1;
    text-decoration: underline;



}