/*********************************************/
/* A best practice for handling our adhoc,   */
/* real-time CCS additions and updates.      */
/*                                           */
/* http://csswizardry.com/2013/04/shame-css/ */
/*                                           */
/* Please include your name, date, reason    */
/* and the url where the new css is used.    */
/* This will help the code be properly       */
/* refactored into the main css files.       */
/*                                           */
/* - Thanks!                                 */
/*********************************************/

/*
* JCJ 2014-05-08
* Banner photography update to make more room for banner photos
*/
#header {
    background-size: cover;
}
#container .center-wrapper #center {
    margin-top: -82px;
}

/* Brian 2014.05.?? & Amy 2014.06.06
   Button code for registrations & downloads
   http://northpoint.org/adults/short-term-groups/love-sex-dating
   http://watermarkechurch.com/events/fooddrive
*/

a.register-button:before, a.download-button:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .3em;
}
a.register-button, a.download-button {
    background-color: #5a5a5a;
    display:inline-block;
    padding: 10px 50px;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 1em 0;
    color: #ffffff;
    border-radius: 4px;
}

a.register-button:after, a.download-button:after, a.app-button:after {
    clear: both;
}
a.register-button:before {
    content: "\f08e";
}
a.download-button:before {
    content:"\f019";
}

/* Charms 2014.11.06
    App buttons!
*/

a.solid-button {
    background-color: #5a5a5a;
    display:inline-block;
    padding: 10px 50px;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 1em 0;
    color: #ffffff;
    border-radius: 4px;
}

a.solid-button:hover {
    background-color: #878787;
}

a.app-button {
    padding: 14px 0px 12px;
    width: 100%;
    text-align: center;
}

a.app-button img {
    margin-top: -6px;
    padding: 0 0 0 8px;
}

/* Amy 2014.07.17
   Increased the Register & Info Event links font-size to standout more
*/
div.event-info p a {
    font-size: 1.3em;
}

/* Charms 2014.11.1
    NPCC rebrand - missed the mobile dropdown nav
*/
.col-full #main-nav .main-nav-in #responsive-nav .animate-wrapper .nav {
    background-color: #5a5a5a;
}

/* Evan 2014.11.17
Making our forms not look shorter than they should be
*/

input, textarea, .uneditable-input { width: 100%; }

/* Charms 2015.03.03
Fixing the main menu on mobile by hiding the social icons
*/

#social {
    display: none;
}

#main-nav .main-nav-in #navigation  {
    height: 40px;
}

.animate-wrapper {
    height: 0;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s;
}

.animate-wrapper.open {
    height: 428px;
}

@media (min-width: 554px) {
    #social {
        display: block;
    }

    #main-nav .main-nav-in #navigation {
        height: 40px;
    }
}

/* Rebecca 2015.04.29
Making the Giving FAQ questions wrap in line with the answers and fixing mobile responsiveness */

.faq .question:not(:first-child) {
    margin-top: 15px;
    margin-left: 65px;
}

.faq .question {
    width: 76%;
}

@media (max-width: 600px) {
    #container .col-full .center-wrapper #center .faq .answer, #container .col-full .center-wrapper #center .faq .question {
        margin-left: 0px;
    }
}

/*.series-content #video-message,*/
/*.series-content #video-message-html5 { display: block }*/