.navbar:before  {
    border-color: #5a5a5a transparent transparent transparent;
    position: absolute;
    /*display: block;*/
    border-style: solid;
    bottom: -1em;
    margin-left: 0px;
    content: '';
}

.navbar:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.navbar:after  {
    border-color: #5a5a5a transparent transparent transparent;
    position: absolute;
    /*display: block;*/
    border-style: solid;
    bottom: -1em;
    margin-left: 0px;
    content: '';
}

.navbar:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.bajomedia-content:before  {
    border-color: transparent transparent #31708f transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: 2.5em;
    content: '';
}

.bajomedia-content:before {
    left: 0;
    border-width: 0em 0em 1em 1em;
}

.navbar {

    /*position: absolute !important;
    top: 6px !important;

    height: 40px !important;
    left: -10px !important;*/
    background-color: #5a5a5a ;
    background-image: url('../imagenes/imgMenu.png') !important;
    background-repeat: repeat !important;
    padding: 0 10px !important;
    margin-left: -16px;
    margin-right: -16px;
    box-shadow: 0px 10px 10px 5px;

}

.fondo {

    background-color: rgba(0,0,0, .5);
}

.principal{

    top: -2.5rem;
}

.text-point {

    color: #ca5430;
}

.border-point {
    border-color: #2e2e2e !important;

}

.bg-point {

    background-color: #f0e7d1;
}

.text-tan {
    color: #f0e7d1;
}

.bg-light-blue {

    background-color: #73aba2;
}

.bg-point-sec {

    background-color: #438789;
}

.text-point-sec {

    color: #438789;
}

.text-light-blue{
    color: #73aba2;
}
.carousel-inner img {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.eventos {

   /* margin-top: 20rem;*/
}

.btn-alameda{
    color:#f0e7d1;
    background-color:#438789;
    border-color:#007bff}
.btn-alameda:hover{color:#f0e7d1;background-color:#438789;border-color:#73aba2}
.btn-alameda.focus,.btn-alameda:focus{box-shadow:0 0 0 .2rem rgba(46,46,46,.5)}

.img-punto  {

    background-image:url(../imagenes/PEncuentroSinText.png) ;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:16px 16px;
    text-indent:-1000px;
    min-width:8px;
}

ul.punto li{

    list-style: none;
    text-indent: -3em;
;

}

ul.pp li{

    list-style: none;
    text-indent: 2em;
;

}

.carousel{
    height: 66.67%;
    margin-bottom: 0;
}

/*.carousel, .carousel-inner > .carousel-item > img {

    height: 200px;
}*/

.fondo-evento{

    background-color: #f0e7d122;

}

.fondo-footer{

    background-color:rgba(67, 135, 137, .25)
}

.fondoFranja {

    background-image: url('../imagenes/imgMenu.png') !important;
    background-repeat: repeat !important;
    padding: 0 10px !important;
    box-shadow: 0px 10px 10px 5px;

}

a.text-tan:hover{

    color: #f0e7d1;
    text-decoration: underline;

}

.bg-teal{
    background-color:#006064EE!important}
a.bg-teal:focus,
a.bg-teal:hover,
button.bg-teal:focus,
button.bg-teal:hover{
    background-color:#00bcd4CC!important
}

.contador {

    font-size: 1.2rem !important;
}

.ajusteIndex{margin-top:-2rem !important;}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.bienvenido{
    /*background: url("../imagenes/imagen auditorio.jpeg");*/
    background-size: cover;
    animation:  3s linear fadeInRightBig;
    margin: auto auto;
    /*height: 38rem;

    width: 43rem;*/
}

@-webkit-keyframes move {

    from {
        margin-left: 50%;
        width: 150%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes move {
    from {
        margin-left: 50%;
        width: 150%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.paralelox{

    width:100%;
    height:570px;

    display: block;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;

}

.page-header > .container {
    color: #000 !important ;
}

.page-header {
    height: 105vh !important;

    padding-top: 10px;

    display: flex;
    align-items: flex-start;
}

.blockquote-point{
    padding: .5rem 1rem;
    border-left: .25rem solid #ca5430;
}

.tooltip {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #73aba2;
    border-radius: .25rem;
}
.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #73aba2 !important;
    border-radius: 0.25rem;
}

h3.quote:after, h3.quote:before {
    display: block;
    font-size: 1.5em;
    margin-top: 0.5em;
}
h3.quote:before {
    content: '“';
}
h3.quote:after {
    content: '”';
}

.mdl-card__media{
    background-color:rgb(0,150,136) !important;
}
.mdl-card__white{
    background-size:cover;background-origin:padding-box;
    background: rgb(0, 150, 136) repeat scroll 50% 50%;
    box-sizing:border-box;}

.section-heading .section-heading-lower{
    display:block;font-size:2rem !important;font-weight:100}

.text-tan.card .card-body .card-text, .dark-grey-text  {
    color: #f0e7d1 !important;
}

@media (min-width:768px) {
    header.masthead {
        padding-top:6rem;
        padding-bottom:6rem;
    }
    header.masthead h1 {
        font-size:3rem
    }
}
