/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
    height: 100%; }

@media (max-width: 740px) {
    .full-page-intro {
        height: 100%; } }

/* Half Page Carousel itself*/
.carousel {
    height: 50%; }
.carousel .carousel-inner {
    height: 100%; }
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
    .carousel {
        height: 100%; } }

/* Navbar animation */
.navbar {
    background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
    background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #1C2331; }

.btn-generico {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}



.btn-generico.verde{color:#fff;background:#6cbb23;border:1px solid transparent}
.btn-generico.verde:hover{color:#6cbb23;border:1px solid #6cbb23;background:#fff}

.btn-generico.azul{color:#fff;background:#051433;border:1px solid transparent}
.btn-generico.azul:hover{color:#545567;border:1px solid #545567;background:#fff}

.btn-generico.marron{color:#fff;background:#8d6e63;border:1px solid transparent}
.btn-generico.marron:hover{color:#8d6e63;border:1px solid #8d6e63;background:#fff}

.btn-generico.circular{border-radius:20px}

.bg-verde_claro{
   background: rgba(108,187,35,1);
}

.bg-verde_claro_less{
   background: rgba(108,187,35,0.8);
}

.bg-marron_claro{
   background: rgba(190,156,145,1);

}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

.seguir{
    background: url(../imagenes/campanias/arbolSolo.png) no-repeat center center/cover;

}
.relative{
    position: relative;
}
.seguir .prefondo-total{

    background: rgba(108,187,35,0.85);

}
.prefondo{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0
}

.icon{
    font-size:100px;
    background:#f0f8e9;text-align:center;padding:50px;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s
}
.seguir .icon:hover{
    color:#fff;background-color:#6cbb23
}.seguir .icon:hover .lnr{color:#fff}.seguir .lnr{color:#6cbb23}.seguir .desc{margin-top:30px}.seguir .desc h2{font-size:18px;font-weight:600;margin-bottom:10px;letter-spacing:2.5px}.seguir .desc p{color:#555}
.single-feature{background-color:#fff;padding:30px;margin-bottom:30px}



