.btn-generico.viaje
  {
    color:#fff;
    background:$marron-viaje-2;
  border:1px solid transparent;
  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    border: 1px solid darken($marron-viaje-2, 90%);
    color: darken($marron-viaje-2, 90%);
  }
}

.text-realce-viaje{
  color: $marron-viaje-1;

  font-weight: 600;
}

.bg-viaje_claro{
  background: $marron-viaje-4;
}

#section-viaje  b,
#section-viaje  i,
.base-viaje  sup,
.base-viaje  sub,
.base-viaje  u,
.base-viaje  del {

  color: $marron-viaje-1;

}

.section-viaje  b,
.section-viaje  i,
.base-viaje  sup,
.base-viaje  sub,
.base-viaje  u,
.base-viaje  del {

  color: $marron-viaje-1;
}

.text-5{
  font-size: 5rem;
}
.text-4{
  font-size: 4rem;
}
