{% extends 'base_material_kit.twig' %}
{% block sections %}
    <div class="container-fluid">
        <div class="row g-5">
            <div class="col-md-8 mr-0 pr-0">
                {% for section in datosIndex.section %}
                    {{ render(controller(
                        'App\\Controller\\SectionController::mostrarSection', {id: section.id}
                    )) }}
                {% endfor %}
            </div>
            <div class="col-md-4 ml-0 pl-0 ">
                {% for fixes in blocsFixes %}
                    {% if fixes.fixesType == 'side-fixe-right' %}
                        {% for blocsection in fixes.section %}
                            {{ render(controller(
                                'App\\Controller\\SectionController::mostrarSection', {id: blocsection.id}
                            )) }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="bg-camino" style="height: 200px">
            </div>
        </div>
    </div>

{% endblock %}
