{% extends 'base_material_kit.twig' %}
{% block title %} {{ principal.titulo | capitalize}}  {% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('stream-ui-kit/assets/css/styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}
{% block sslocal %}

{% endblock %}
{% block header %}
    <header>
        {% include 'inicio/_nav.html.twig' %}
    </header>
{% endblock %}
{% block sections %}
<section class="masthead masthead-oportunidades">
        {% for section in principal.secciones %}
            {%  include 'models/sections/'~section.modelTemplate~'.html.twig' with { 'section':section } %}
            <div class="d-flex col-sm-12">
                <hr class="my-auto flex-grow-1 divider col-sm-5">
                <hr class="col-sm-5 my-auto flex-grow-1">
            </div>
        {% endfor %}
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
