<section class="js-parallax bg-light u-content-space " style="">
    <div class="container">
        <header class="w-md-50 mx-auto text-center mb-8">
            <h2 class="h1  mb-1 u-font-accent font-weight-bold">Tenemos más para brindarte</h2>
            <p class="mb-4"></p>
        </header>
        <div id="a2"></div>
        <hr class="my-8" >

        <!-- A2 -->
        <div class="row" >
            <div class="col-lg-4 align-self-center text-sm-center text-lg-right pr-lg-5 mb-5 mb-lg-0 mx-auto">
                <h2 class="font-weight-bold mb-3  display-4 u-font-accent">A<span style="font-size: 4.5rem">2</span></h2>
                <p>Adolescentes  <strong class="text-primary">Alameda</strong>

                </p>
                <p>Creemos en un Dios amoroso y cercano <strong class="text-primary"> ♥️✝ </strong>️</p>
                <a class="btn btn-link btn--pill text-primary" target="_blank" href="alameda/a2.php">
                    <i class="fas fa-mobile-alt"></i> Conectate
                </a>
            </div>

            <div class="col-lg-5 order-first order-lg-last mb-4 mb-lg-0">
                <!-- Mockup Browser -->
                <figure>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 857 40" style="enable-background:new 0 0 857 40;" xml:space="preserve">
                  <g>
                      <path style="fill: #fff;" d="M856.8,40.2H0.8V19c0-10.5,8.5-19,19-19h818c10.5,0,19,8.5,19,19V40.2z"/>
                  </g>
                        <g>
                            <ellipse style="fill: #fb4143;" cx="28.5" cy="20.1" rx="6" ry="6"/>
                            <ellipse style="fill: #fab633;" cx="48.4" cy="20.1" rx="6" ry="6"/>
                            <ellipse style="fill: #0dd157;" cx="68.4" cy="20.1" rx="6" ry="6"/>
                        </g>
                </svg>
                </figure>
                <!-- End Mockup Browser -->

                <!--                <a target="_blank" href="https://unsplash.com/collections/1572580/stream-ui-kit">-->
                <img class="img-fluid w-100 u-browser-img u-box-shadow-lg" src="{{ asset('images/a2-fdoBlanco-ltrNaranja.jpg') }}" alt="{{ base.siteName |default('Alameda CMS') }}">
                <!--                </a>-->
            </div>
        </div>
        <!-- Fin A2 -->
        <!--        <div id="gex"></div>-->
        <!--        <hr class="my-8" >-->

        <!-- Gex -->
        <!--        <div class="row " >-->
        <!--            <div class="col-lg-5 mb-4 mb-lg-0">-->
        <!--                <!-- Mockup Browser -->
        <!--                <figure>-->
        <!--                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
        <!--                         viewBox="0 0 857 40" style="enable-background:new 0 0 857 40;" xml:space="preserve">-->
        <!--                  <g>-->
        <!--                      <path style="fill: #fff;" d="M856.8,40.2H0.8V19c0-10.5,8.5-19,19-19h818c10.5,0,19,8.5,19,19V40.2z"/>-->
        <!--                  </g>-->
        <!--                        <g>-->
        <!--                            <ellipse style="fill: #fb4143;" cx="28.5" cy="20.1" rx="6" ry="6"/>-->
        <!--                            <ellipse style="fill: #fab633;" cx="48.4" cy="20.1" rx="6" ry="6"/>-->
        <!--                            <ellipse style="fill: #0dd157;" cx="68.4" cy="20.1" rx="6" ry="6"/>-->
        <!--                        </g>-->
        <!--                </svg>-->
        <!--                </figure>-->
        <!--                <!-- End Mockup Browser -->
        <!---->
        <!--                <!--                <a target="_blank" href="https://fontawesome.com/icons?d=gallery&m=free">-->
        <!--                <img class="img-fluid w-100 u-browser-img u-box-shadow-lg" src="images/institucional/gex.jpg" alt="--><?php //echo $lemaSinEspacios?><!--">
<!--                <!--                </a>-->
        <!--            </div>-->
        <!---->
        <!--            <div class="col-lg-7 align-self-center pl-lg-5 ">-->
        <!--                <h2 class="font-weight-bold mb-3 display-4 u-font-accent">GEX</h2>-->
        <!--                <p>Generación <strong class="text-primary">Extrema</strong></p>-->
        <!--                <p>El espacio para niños de La Iglesia de la Alameda</p>-->
        <!--                <!--                <a class="btn btn-outline-primary" target="_blank" href="https://fontawesome.com/icons?d=gallery&m=free">-->
        <!--                <!--                    <i class="fab fa-font-awesome-flag mr-2"></i> Font Awesome Icons-->
        <!--                <!--                </a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!-- Fin Gex -->

    </div>
</section>
<!--Fin Ministerios-->
