{% extends 'base_material_kit.twig' %}

{% block sections %}
    <div class="page-header header-filter" data-parallax="true"
         style="background-image: url({{ asset('images/institucional/mix_auditorio.jpg') }})">
        <div class="container">
            <div class="row text-white">
                <div class="col-md-6">
                    <h4 class="title">AlamedaCMS</h4>
                    <h1>
                        ¡Bienvenido a la Reapertura! <br/>
                    </h1>
                    <h3>
                        A partir del martes a las 20hs. podrás hacer aquí tu reserva de asientos.
                    </h3>
                    <br>
                    <a href="https://iglesiaalameda.com" target="_blank" class="btn btn-primary btn-raised btn-lg">
                        <i class="fa fa-walking text-white"> </i> Visitános para saber más.
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
{% endblock %}