{% extends 'base_coreui.html.twig' %}

{% block title %}Edit MetaBase{% endblock %}

{% block content %}
    <h1>Edit MetaBase</h1>

    {{ include('meta_base/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('meta_base_index') }}">back to list</a>

    {{ include('meta_base/_delete_form.html.twig') }}
{% endblock %}
