liip_imagine:
    #    # valid drivers options include "gd" or "gmagick" or "imagick"
    #    driver: "gd"
    #

    loaders:
        flysystem_loader:
            flysystem:
                filesystem_service: oneup_flysystem.public_uploads_filesystem_filesystem

    # default loader to use for all filter sets
    data_loader: flysystem_loader

    resolvers:
        flysystem_resolver:
            flysystem:
                filesystem_service: oneup_flysystem.public_uploads_filesystem_filesystem
                cache_prefix: media/cache
                root_url: '%uploads_base_url%'

    # default cache resolver for saving thumbnails
    cache: flysystem_resolver

    filter_sets:
        #
        #        # an example thumbnail transformation definition
        #        # https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html#create-thumbnails
        squared_thumbnail_small:
            filters:
                thumbnail:
                    size:          [200, 200]
                    mode:          outbound
                    allow_upscale: true

        squared_thumbnail_section:
            filters:
                thumbnail:
                    size: [ 300, 100 ]
                    mode: outbound
                    allow_upscale: true

        squared_thumbnail_100:
            filters:
                thumbnail:
                    size:          [100, 100]
                    mode:          outbound
                    allow_upscale: true

        squared_thumbnail_medium:
            filters:
                thumbnail:
                    size:          [500, 500]
                    mode:          outbound
                    allow_upscale: true

        squared_thumbnail_large:
            filters:
                thumbnail:
                    size:          [540, 303]
                    mode:          inset
                    allow_upscale: true

        squared_thumbnail_750-300:
            filters:
                thumbnail:
                    size:          [750, 300]
                    mode:          inset
                    allow_upscale: true

        squared_thumbnail_600-300:
            filters:
                thumbnail:
                    size:          [600, 300]
                    mode:          outbound
                    allow_upscale: true

        squared_thumbnail_large_1920if:
            filters:
                thumbnail:
                    size:          [1920, 1080]
                    mode:          inset
                    allow_upscale: false

        squared_normal:
            filters:
                thumbnail:
                    size:          [100%, 100%]
                    mode:          outbound
                    allow_upscale: true

        squared_icon:
            filters:
                thumbnail:
                    size:          [30, 30]
                    mode:          outbound
                    allow_upscale: true

        squared_icon_70:
            filters:
                thumbnail:
                    size:          [70, 70]
                    mode:          outbound
                    allow_upscale: true

        squared_thumbnail_carousel:
            filters:
                fixed:

                    # set the fixed size to "120x90" pixels
                    width: 540
                    height: 304


#
#            # set your image quality defaults
#            jpeg_quality:          85
#            png_compression_level: 8
#
#            # setup the filter steps to apply for this transformation
#            filters:
#
#                # auto rotate the image using EXIF metadata
#                auto_rotate: ~
#
#                # strip the image of all metadata
#                strip: ~
#
#                # scale and square the image to the given dimensions
#                thumbnail:
#                    size:          [253, 253]
#                    mode:          outbound
#                    allow_upscale: true
#
#                # create border by placing image on larger black background
#                background:
#                    size:     [256, 256]
#                    position: center
#                    color:    '#fff'
