<footer class="mt-5 mb-0  text-center">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 mx-auto">
                <h4 class="title text-white-75 mb-0">Auditorio Alameda</h4>
                <h6 class="title text-white-50">Av. San Martín 2020, Mendoza</h6>
            </div>
        </div>
</footer>
