<footer class="footer text-tan text-center py-4 fondoFranja bg-dark mb-0">
    <div class="container">
        <div class="row">
            <!--<div class="col-sm-3">
                <span class="text-left">AlamedaCMS</span> <br/>


                <a class="text-tan text-center" href="nuestraAlameda.php"> Horarios de Nuestras Celebraciones</a>

                <hr class="bg-point"/>
            </div>-->
            <!--
                <div class="col-sm-3">
                <hr class="bg-point"/>


                <a class="text-tan" href="masporhacer.php"> Involocrarse ¡Hay mucho por hacer!</a>
                <hr class="bg-point"/>
            </div>
            <div class="col-sm-3">
                <hr class="bg-point"/>


                <a class="text-tan" href="contacto.php"> Estamos cerca tuyo, Aqui podrás encontrarnos </a>
                <hr class="bg-point"/>
            </div>-->
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <!--                <hr class="bg-point"/>-->
                <!--                <a class="text-tan" href="/puntopartida.php"> Punto de Partida</a>-->
                <hr class="bg-point"/>
                <a class="text-tan" href="/alamedaaldia.php"> Alameda al Día</a>
                <hr class="bg-point"/>
            </div>
            <div class="col-sm-2">
                <hr class="bg-point"/>
                <a class="text-tan" href="/masporhacer.php"> Eventos en la Alameda</a>
                <hr class="bg-point"/>
            </div>

            <div class="col-sm-2">
                <hr class="bg-point"/>
                <a class="text-tan" href="/nuestraalameda.php"> Dónde y Cuándo</a>
                <hr class="bg-point"/>
            </div>
            <div class="col-sm-2">
                <hr class="bg-point"/>
                <a class="text-tan" href="/acciones.php"> ¡¡Haciendo!!</a>
                <hr class="bg-point"/>
            </div>
            <div class="col-sm-2">
                <hr class="bg-point"/>
                <a class="text-tan" href="/seminario.php"> Seminario</a>
                <hr class="bg-point"/>
                <a class="text-tan" href="/oportunidades/index.php"> Servicio</a>
                <hr class="bg-point"/>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="col-sm-12">
            <p class="m-0 small ">San Martín 2020 de la Ciudad de Mendoza <br/>
                <strong>Horario de Reuniones</strong><br/>
                <em>Domingos por la mañana: 11hs. - Domingo por la tarde: 20hs.</em><br/>
                Copyright &copy; Iglesia Alameda 2020</p>
        </div>
    </div>
</footer>
