<footer class="footer mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="{{ path('index') }}">
                                {{ base.siteName|default('AlamedaCMS') }}
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="{{ path('index') }}" target="_blank">{{ base.siteName|default('AlamedaCMS') }}</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                </ul>
            </div>
        </div>
    </div>
</footer>
