<style>
    /*.bg-verde {*/
    /*    background-color: rgb(168, 228, 112)*/
    /*}*/
    .dropdown-menu{
        margin-left: -100px !important;
    }
    /*.fa, .fab, .fal, .far, .fa{*/

    /*    line-height: 1.5 !important;*/
    /*}*/
    .navbar-toggler-icon{
        color: #6cbb23 !important;
        /*width: 1.1em !important;*/
        /*height: 1.5em !important;*/
    }


</style>



<!--<nav class="navbar navbar-collapse navbar-expand-lg bg-white fixed-top mx-1">-->
<!--    <div class="container-fluid">-->
<nav class="navbar navbar-expand-lg bg-white fixed-top mx-1 mb-sm-2 ArialMedium" style="height: 64px ">
    <div class="container">

        <div class="navbar-translate">
{#            <a class="navbar-brand" href="{{ path('index') }}">#}
            <a class="navbar-brand" href="{{ path('index') }}">
                <!--                <img class="rounded-circle" src="/images/logo_n1.png" style="width: 30px;" alt="Logo Iglesia Alameda">-->
                <img class="rounded-circle" src="{{ asset('images/logo-solo-2020.png')}} " style="width: 35px;" alt="Logo Iglesia Alameda">
                <small>Iglesia de la Alameda</small>
                <!--                <img class="img-fluid" style="height: 40px" src="/images/institucional/logo-con-nombre-2020.png" alt="Logo Iglesia Alameda">-->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!--        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">-->
        <!-- Brand -->


        <!-- Collapse -->


        <!-- Links -->
        {% include 'inicio/_menu.html.twig' %}

    </div>
</nav>
