<style>
    /*.dropdown-menu {*/
    /*    margin-left: -100px !important;*/
    /*}*/
</style>
<nav class="navbar navbar-expand-lg bg-white fixed-top start-0 end-0 px-4 mb-sm-2 top-0 " style="height: 64px ">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="{{ path('index') }}" data-placement="bottom">
            <!--                <img class="rounded-circle" src="/images/logo_n1.png" style="width: 30px;" alt="Logo Iglesia Alameda">-->
            <img class="rounded d-none d-lg-block" src="{{ asset('images/logo-con-nombre.png') }}"
                 style="width: 130px;" alt="{{ base.siteName| default('AlamedaCMS') }}">
            <img class="rounded d-lg-none" src="{{ asset('/images/logo-solo-2020.png') }}" style="width: 35px;"
                 alt="Logo Iglesia Alameda">
        </a>
        <button class="navbar-toggler shadow-none me-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
        </button>
        <!-- Links -->
        {% include 'inicio/_menu.html.twig' %}
        <!-- Links -->
    </div>
</nav>
