{% extends 'base.html.twig' %}
{% block title %} Dar {{ base.siteName }} {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay u-overlay--dark text-dark"
             style="background-image: url(series/familia-2020/FAMILIA-2020-TAPA-002.jpg); background-repeat: repeat-y ;">
        <!-- Promo Content -->
        <div class="container u-overlay__inner u-ver-center u-content-space">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="text-center">

                        <div class="site-heading p-5">
                            <img src="images/LOGO_ALAMEDA_CON_TEXTO_B.png" style="max-height: 150px" class="img-fluid ">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Promo Content -->
    </section>
    </header>
    <main role="main" class="bg-white">
        <section class="a-content-space-medium">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 mb-2 mb-lg-2 pl-lg-2 ">
                        <h1 class="mb-3">Familia,<br/> Tu lugar en el Mundo</h1>
                        <p>
                            Descubrir el valor inmenso de la familia. A comprender el hilo que enlaza tu vida en tu familia.
                            Explorar y trabajar el desafío presente. Practicar algunas herramientas para destrabar los
                            enemigos de las relaciones. Encontrar en Dios las fuerzas para un amor más valiente, más
                            generoso, más confiado.

                        </p>
                        <p class="blockquote-footer">
                            "Ámense unos a otros con un afecto genuino y deléitense al honrarse mutuamente." Romanos 12:10
                            (NTV)

                        </p>
                    </div>

                    <div class="col-lg-6 align-self-center">
                        <img class="img-fluid rounded mb-4 mb-lg-0 overflow-auto align-items-center"
                             src="series/familia-2020/FAMILIA-2020-TAPA-001.jpg" alt="<?php echo $lemaSinEspacios ?>">
                    </div>
                </div>
            </div>
        </section>
        <!-- Charlas -->
        <section class="a-content-space-medium bg-fam text-center">
            <div class="container">
                <div class="row">
                    <!--                charla 1-->
                    <div class="col-md-4 mb-2 mx-auto   ">
                        <!--                                        <div class="card h-100">-->
                        <div class="card card-a h-100 overflow-hidden">
                            <div class="position-relative">
                                <img src="/series/familia-2020/01-Maravillas-Cotidianas.jpg" class="card-img-top "
                                     data-toggle="modal" data-target="#modal-01"
                                     alt="<?php echo $lemaSinEspacios ?>">
                            </div>
                            <div class="card-body position-relative mt-n6 mx-2 bg-white text-center rounded border border-light u-box-shadow-lg">
                                <h5 class="card-title">MARAVILLAS COTIDIANAS</h5>
                                <div class="middle-0">
                                    <i class="fas fa-quote-left mr-5"></i><br/>
                                    Descubrir el valor inmenso de la familia que hoy está a tu lado. Celebrar el regalo
                                    milagroso que sucede cada día al practicar el principio de la honra. Asignar valor a
                                    cada persona, y asi practicar el asombro, la admiración ante la maravilla que un padre,
                                    un conyugue, un hijo, un hermano son y serán en tu vida.
                                    <br/>

                                    <i class="fas fa-quote-right ml-5"></i>
                                </div>
                                <br/>

                                <div class="btn-group bottom-0">

                                    <a class="mr-4 btn btn-icon" href="series/familia-2020/01-Maravillas-Cotidianas.pdf" target="_blank">
                                        <i class="far fa-file-pdf mr-1"></i>
                                        <b>Notas</b>
                                    </a><br/>
                                    <a href="https://youtu.be/7KpEdC1O8eQ" class="btn btn-icon" target="_blank">
                                        <i class="fab fa-youtube fa-fw mr-1"></i>
                                        <i>Video</i>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <!--                                        </div>-->
                    </div>
                    <!--                fin charla 1-->

                    <!--                charla 2-->
                    <div class="col-md-4 mb-2 mx-auto   ">
                        <!--                                        <div class="card h-100">-->
                        <div class="card card-a h-100 overflow-hidden">
                            <div class="position-relative">
                                <img src="/series/familia-2020/02-tan-distintos-tan-valiosos.jpg" class="card-img-top "
                                     data-toggle="modal" data-target="#modal-01"
                                     alt="<?php echo $lemaSinEspacios ?>">
                            </div>
                            <div class="card-body position-relative mt-n6 mx-2 bg-white text-center rounded border border-light u-box-shadow-lg">
                                <h5 class="card-title">¡TAN DISTINTOS, TAN VALIOSOS!</h5>
                                <div class="middle-0">
                                    <i class="fas fa-quote-left mr-5"></i>
                                    <br/>
                                    Una ayuda del cielo para tu familia.
                                    <br/>
                                    <i class="fas fa-quote-right ml-5"></i>
                                </div>

                                <br/>

                                <div class="btn-group bottom-0">
                                    <a class="mr-4 btn btn-icon" href="series/familia-2020/02-tan-distintos-tan-valiosos.pdf" target="_blank">
                                        <i class="far fa-file-pdf mr-1"></i>
                                        <b>Notas</b>
                                    </a><br/>
                                    <?php
                                if ($notas_link !== null) {
                                    ?>
                                    <a href="<?php echo $notas_link ?>" class="btn btn-icon" target="_blank">

                                        <i class="fab fa-youtube fa-fw mr-1"></i>
                                        <i>Video</i>
                                    </a>
                                    <?php } ?>
                                    <!--                                <button class="btn btn-secondary btn-icon">-->
                                    <!--                                    <span class="mr-1"><i class="far fa-user"></i></span>-->
                                    <!--                                    Follow-->
                                    <!--                                </button>-->
                                    <!--                                <button class="btn btn-primary">-->
                                    <!--                                    <i class="far fa-envelope"></i>-->
                                    <!--                                </button>-->
                                </div>
                            </div>
                        </div>
                        <!--                                        </div>-->
                    </div>
                    <!--                fin charla 2-->

                </div>

            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="card-body">
            <h4 class="text-darker card-text text-center">Ver series anteriores </h4>
            <div class="col-sm-2 mx-auto text-center">
                <a href="notas-oraciones-audaces.php" class="btn btn-xl btn-primary"> Oraciones Audaces</a>
            </div>
        </div>

    </footer>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}