{% extends 'base_material_kit.twig' %}
{% block title %} Dar {{ base.siteName }} {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}
{% endblock %}
{% block sections %}
<div class="container ">
    {% include'inicio/_nav.html.twig' %}
    <section class="p5-5 mt-1 " id="inicio">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-center">
                <div class="col-sm-12 text-center mx-auto mt-1">
                    <header class="h-25 my-3">
                        <h1 class="display-3 mt-5">
                            Ofrendas y Diezmos.
                        </h1>

                        <div class="blockquote blockquote-alameda-primary ">
                            <h3>

                                "A través de tus ofrendas de fe, Dios usa la Iglesia de la Alameda para servir a
                                los demás y <br/>
                                compartir las buenas nuevas de Jesús con los perdidos, con los que sufren en
                                nuestras comunidades y<br/> en todo el mundo."

                            </h3>
                        </div>

                        <div class="blockquote blockquote-alameda-secondary">
                            <h3>
                                <footer class="blockquote-footer">
                                "Damos, no porque tengamos que hacerlo,
                                sino porque Dios nos lo dio primero,<br/>
                                y lo hacemos con un corazón alegre y un espíritu generoso.
                                </footer>
                            </h3>
                        </div>
                        <hr/>

                        <p>Hemos abierto diferentes maneras online para que puedas seguir apoyando tu iglesia.</p>


                    </header>
                </div>

            </div>
        </div>
    </section>
    <section class="p5-5 mt-1 " id="second">
        <div class="row text-center">
            <!--            <div class="col-lg-3 col-md-6 mb-4">-->
            <!--                <div class="card h-90">-->
            <!---->
            <!--                    <div class="card-body">-->
            <!--                        <h4 class="card-title">1°</h4>-->
            <!--                        <p class="card-text">Entregando sus sobres en la celebración del modo habitual.</p>-->
            <!--                    </div>-->
            <!---->
            <!--                </div>-->
            <!--            </div>-->

            <div class="col-lg-3 col-md-6 mb-5 mx-auto ">
                <div class="card h-90">
                    <div class="card-body">
                        <h2 class="card-title">1°</h2>
                        <h3 class="card-text h5">Realizando una transferencia bancaria: <br/>
                            CBU 01106288-20062802157674 <br/>
                            CUIT 33710832639<br/>
                            Cta. Cte. Banco Nación Sucursal 2405 <br/>
                            alias: PIEDRA:TITULO:DULCE
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                <div class="card h-90">
                    <div class="card-body">
                        <h2 class="card-title">2°</h2>
                        <h3 class="card-text h5">
                            Llamando al <a href="tel:+542614251182"><i class="fa fa-phone"></i> 4251182</a> (oficina de
                            la Alameda) y coordinando un método de entrega.
                            <br/> También puede escribir a <br/><a href="mailto:finanzas@primeramendoza.com.ar"><i
                                        class="fa fa-envelope"></i> finanzas@primeramendoza.com.ar</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                <div class="card h-90">
                    <div class="card-body">
                        <h2 class="card-title">3°</h2>
                        <h3 class="card-text my-auto h5">
                            Ingresando tu ofrenda por los canales PagoFacil, CobroExpress, o Rapipago mencionando <br/>
                            el código 26328 70259 <br/>
                            Fundación Cristiana Alameda</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                <div class="card h-90">
                    <div class="card-body">
                        <h2 class="card-title card-">4°</h2>
                        <h3 class="card-text h5">
                            Usando la aplicación de Mercado Pago, escaneando nuestro QR</h3>
                        <img src="{{ asset('images/institucional/qrmpILA.png') }}" class="img-fluid card-img-bottom" alt="Iglesia de la Alameda">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="vacio mb-3">

    </section>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}