<form method="post" action="{{ path('index_alameda_delete', {'id': index_alameda.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ index_alameda.id) }}">
    <button class="btn">Delete</button>
</form>
