{% extends 'base_admin.html.twig' %}

{% block title %}Edición IndexAlameda{% endblock %}

{% block content %}
    <h1>Editar IndexAlameda</h1>

    {{ include('index_alameda/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('index_alameda_index') }}">Volver al listado</a>

    {{ include('index_alameda/_delete_form.html.twig') }}
{% endblock %}
