{% extends 'contenido_base.html.twig' %}

{% block title %}Nuevo IndexAlameda{% endblock %}

{% block contenido_body %}
    <h1>Crear nueva IndexAlameda</h1>

    {{ include('index_alameda/_form.html.twig') }}

    <a href="{{ path('index_alameda_index') }}">Volver al listado</a>
{% endblock %}
