{% extends 'base.html.twig' %}

{% block title %}New Contacto{% endblock %}

{% block body %}
    <h1>Create new Contacto</h1>

    {{ include('contacto/_form.html.twig') }}

    <a href="{{ path('contacto_index') }}">back to list</a>
{% endblock %}
