@font-face {
  font-family: 'UniversLTStd-Obl';
  src: url('UniversLTStd-Obl.eot');
  src: url('UniversLTStd-Obl.woff2') format('woff2'),
       url('UniversLTStd-Obl.woff') format('woff'),
       url('UniversLTStd-Obl.ttf') format('truetype'),
       url('UniversLTStd-Obl.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

