{% extends 'base.html.twig' %}

{% block title %}Edit Roles{% endblock %}

{% block body %}
    <h1>Edit Roles</h1>

    {{ include('roles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('roles_list') }}">Volver al listado</a>

    {{ include('roles/_delete_form.html.twig') }}
{% endblock %}
