.sticky-header          { overflow: auto; height: 100vh; }
.sticky-header thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

.img-fluid_alameda {
    height: 50vh;
    margin-top: 2.5%;
    margin-bottom: -1%;
}

@media (max-width: 1800px) {
    .img-fluid_alameda {
        height: 45vh;
        margin-top: 2%;
        margin-bottom: -1%;
    }
}

@media (max-width: 1439px) {
    .img-fluid_alameda {
        height: 45vh;
        margin-top: 0;
        margin-bottom: -4%;
    }
}

@media (max-width: 1199px) {
    .img-fluid_alameda {
        height: 30vh;
        margin-top: 4%;
        margin-bottom: -1%;
    }
}
/* Media query for screens smaller than 1080px */
@media (max-width: 1080px) {
    .img-fluid_alameda {
        height: 30vh;
        margin-top: 4%;
        margin-bottom: -2%;
    }
}
@media (max-width: 991px) {
    .img-fluid_alameda {
        height: 30vh;
        margin-top: 3%;
        margin-bottom: -3%;
    }
}

@media (max-width: 767px) {
    .img-fluid_alameda {
        height: 30vh;
        margin-top: 1%;
        margin-bottom: -8%;
    }
}
@media (max-width: 575px) {
    .img-fluid_alameda {
        height: 25vh;
        margin-top: 2%;
        margin-bottom: -9%;
    }
}

@media (max-width: 460px) {
    .img-fluid_alameda {
        height: 20vh;
        margin-top: 5%;
        margin-bottom: -10%;
    }
}

/* Media query for screens smaller than 340px */
@media (max-width: 339px) {
    .img-fluid_alameda {
        height: 15vh;
        margin-top: 10%;
        margin-bottom: -9%;
    }
}