{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <h1>Create new Image</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('app_image_index') }}">back to list</a>
{% endblock %}
