{#
# Template section blockquote.html.twig
# Necesita template entrada
#}
<section class=" {{ section.cssClass}}" id="inicio" style="{{ section.cssStyle|default('text-center')}}">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-center">
            <div class="col-sm-12 text-center mx-auto mt-1">
                <header class="h-25 my-3">
                    {% if section.entrada is defined %}
                        {% set entradas = section.entrada %}
                    {% else %}
                        {% set entradas = section.entradas %}
                    {% endif %}

                    {% for entrada in entradas %}
                    {#  include 'modelEntrada/'~entrada.modelTemplate~'.html.twig' ignore missing with { 'entrada':entrada } #}
                    {%  include 'models/entradas/'~entrada.modelTemplate~'.html.twig' ignore missing with { 'entrada':entrada } %}
                    {% endfor %}
                    <hr/>

                    <p>{{ section.contenido | replace({'<p>':'', '</p>':'<br/>'}) | raw}} </p>
                </header>
            </div>

        </div>
    </div>
</section>
