<section class="p5-5 mt-1 " id="second">
    <div class="row text-center">
        {% if section.entrada is defined %}
            {% set entradas = section.entrada %}
        {% else %}
            {% set entradas = section.entradas %}
        {% endif %}

        {% for entrada in entradas %}
            {% if(entrada.publicadoAt is not null) %}
                {#  include 'modelEntrada/'~entrada.modelTemplate~'.html.twig' ignore missing with { 'section':entrada } #}
                {% include 'models/entradas/'~entrada.modelTemplate~'.html.twig' ignore missing with { 'entrada':entrada } %}
            {% endif %}
        {% endfor %}

    </div>
</section>
<style>
    strong {
        font-weight: 400 !important
    }

    .card-text {
        font-size: 1.1em !important;
        font-weight: 600 !important;
    }

    .card {
        margin-bottom: 15px !important;
        margin-top: 15px !important;
    }

    .blockquote {
        margin-bottom: 10px !important;
    }

    /*.left-card {*/
    /*    float: left;*/
    /*    width: 50%;*/
    /*}*/

    /*.right-card {*/
    /*    float: left;*/
    /*    width: 50%;*/
    /*}*/

</style>
