<hr class="col-sm-6 mx-auto text-center"/>
<section class="py-3">
    <div class="container">
        <div class="row  ">
        <div class="col-sm-8 mx-auto text-center">
            <h1 class="{{ section.cssClass }}">
                {{ section.contenido | raw }}
            </h1>
        </div>
            <div class="col-sm-8 mx-auto text-center">
            <div class="ratio ratio-16x9">
{#            <iframe class="embed-responsive-item "#}
            <iframe
                    src="{{ section.linkPosting }}" allowfullscreen></iframe>
        </div>
            </div>
    </div>
</div>
</section>
