<hr class="col-sm-6 mx-auto text-center"/>
<section class="py-3">
    <div class="container">
        <div class="row {{ section.cssClass }} ">
        <div class="col-sm-8 mx-auto text-center">
            <h1 class="text-white display-5">
                {{ section.contenido | raw }}
            </h1>
        </div>
        <div class="embed-responsive embed-responsive-16by9 text-center">
            <iframe class="embed-responsive-item"
                    src="{{ section.linkPosting }}" allowfullscreen></iframe>
        </div>
    </div>
</div>
</section>
