<hr class="col-sm-6 mx-auto text-center"/>
<section class="py-3">
    <div class="container">
        <div class="row  ">
        <div class="col-sm-8 mx-auto text-center">
            <h1 class="{{ section.cssClass }}">
                {{ section.contenido | raw }}
            </h1>
        </div>
        <div class="embed-responsive embed-responsive-16by9 text-center">
            <iframe class="embed-responsive-item col-sm-10 mx-auto text-center"
                    src="{{ section.linkPosting }}" allowfullscreen></iframe>
        </div>
    </div>
</div>
</section>
