<nav class="navbar navbar-expand-lg bg-dark navbar-light d-lg-block mr-0" id="templatemo_nav_top">
    <div class="container-fluid {{ section.cssClass }}" style="{{ section.cssStyle}}">
        <div class="w-100 d-flex justify-content-between">
            {{ section.content | raw }}
        </div>
        {% if is_granted('ROLE_USER') %}
            {{ include('inicio/_role_user.html.twig') }}
        {% endif %}
    </div>
</nav>


