<style>
    .action-btn-wrapper {
        position: relative;
    }
    .fixed-action-btn.my-float-btn {
        position: fixed;
        right: 0;
        bottom: 15%;
        padding-top: 15px;
    }
    .fixed-action-btn.my-float-btn>a{
        text-decoration: none;
    }
</style>
<section class="fuente-arial-nova {{ section.cssClass }}">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="action-btn-wrapper">
                    <div class="fixed-action-btn my-float-btn horizontal">
                        <ul class="list-group">
                            {% for entrada in entradas %}
                                {% if (entrada.contacto) %}
                                    <li class="list-group-item {{ section.cssClass }}">
                                        {% include 'modelEntrada/_pContacto.html.twig' with { 'contactos':entrada.contacto, 'class_label': section.cssClass' } %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
