{% extends 'base_admin_board.html.twig' %}

{% block title %}Nuevo grupo de celebración{% endblock %}

{% block content %}
    <h1>Crear nuevo grupo de celebración</h1>

    {{ include('group_celebration/_form.html.twig') }}

    <a href="{{ path('group_celebration_index') }}">Volver al listado</a>
{% endblock %}
