{% extends 'base.html.twig' %}

{% block title %}New GroupCelebration{% endblock %}

{% block body %}
    <h1>Create new GroupCelebration</h1>

    {{ include('group_celebration/_form.html.twig') }}

    <a href="{{ path('group_celebration_index') }}">back to list</a>
{% endblock %}
