{% extends 'base.html.twig' %}

{% block title %}New RelacionSectionEntrada{% endblock %}

{% block body %}
    <h1>Create new RelacionSectionEntrada</h1>

    {{ include('relacion_section_entrada/_form.html.twig') }}

    <a href="{{ path('relacion_section_entrada_index') }}">back to list</a>
{% endblock %}
