.Roboto{
    font-family: 'Roboto', sans-serif;font-weight:400;} /* 400 is industry standard for normal */

.RobotoLight{font-familiy:'Roboto';font-weight:300;} /* 300 is industry standard for normal */

.RobotoMedium{
    font-family: 'Roboto', sans-serif;font-weight:500;} /* 500 is industry standard for normal */

.h1{
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
.h2,h3{
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
.h4,h5{
    font-family: Roboto, sans-serif;
    font-size: 10px;
}