<form method="post" action="{{ path('app_type_fixe_delete', {'id': type_fixe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_fixe.id) }}">
    <button class="btn">Delete</button>
</form>
