{% extends 'base.html.twig' %}

{% block title %}Edit TypeFixe{% endblock %}

{% block body %}
    <h1>Edit TypeFixe</h1>

    {{ include('type_fixe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_fixe_index') }}">back to list</a>

    {{ include('type_fixe/_delete_form.html.twig') }}
{% endblock %}
