{% extends 'base_admin.html.twig' %}

{% block title %}Crear Página Principal{% endblock %}

{% block content %}
    <h5>Crea una nueva página Principal</h5>

    {{ include('principal/_form.html.twig') }}

    <a href="{{ path('principal_index') }}">Volver al listado</a>
{% endblock %}
