{% extends 'base_admin_board.html.twig' %}

{% block title %}Crear Página Principal{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Páginas Principales</h4>
                <p class="card-category">Nueva </p>
            </div>
            <div class="card-body">
                <a href="{{ path('principal_index') }}">Volver al listado</a>
                <hr/>

                {{ include('principal/_form.html.twig') }}
                <hr/>
                <a href="{{ path('principal_index') }}">Volver al listado</a>
            </div>
        </div>
    </div>
{% endblock %}
