<div class="modal" id="modalPlantillaWeb" role="dialog"
     tabindex="-1"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>

</div>
