{% extends 'base_admin_board.html.twig' %}

{% block title %}Admin {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if (is_granted("ROLE_ADMIN_RESERVA")) %}
                {% include 'admin/list_principal.html.twig' %}
                {% include 'admin/list_metabase.html.twig' %}
            {% endif %}
            {% if (is_granted("ROLE_RESERVA")) %}
                <a class="btn btn-alameda" href="{{ path('reserva_consulta') }}">
                    Ver Reservas
                </a>
                <a class="btn btn-alameda" href="{{ path('reserva_lectura') }}">
                    Lectura QR
                </a>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block jslocal %}
    {{ parent() }}
    <script>
        $('#admin').addClass('active');
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}