{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="flex justify-content-center align-content-center center-element">
        <h1>{{ "backend.global.welcome"|trans }} {{ app.user.primerNombre }}</h1>
    </div>
{% endblock %}
