<form method="post" action="{{ path('model_template_delete', {'id': model_template.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ model_template.id) }}">
    <button class="btn">Delete</button>
</form>
