<h1 class="display-3 mt-5">
    {{ entrada.titulo }}
</h1>

<div class="blockquote blockquote-alameda-primary ">
    <h3>
        {{ entrada.contenido  | replace({'<p>':'', '</p>':''}) | raw }}
    </h3>
</div>

<div class="blockquote blockquote-alameda-secondary">
    <h3>
        <footer class="blockquote-footer">
            {{ entrada.footer }}
        </footer>
    </h3>
</div>