{% extends 'contenido_base.html.twig' %}

{% block contenido_body %}

    <h4>Crear nueva sección! ?</h4>


<div class="form-container">
    <div class="form-container">
        {{ include('section_admin/_form.html.twig',
            {
                button_label:'Agregar Sección'
            }) }}
    </div>


</div>
    <a class="btn btn-info" href="{{ path('admin_section_list') }}">Ir al Listado</a>

{% endblock %}
