{% extends 'base_admin.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin_section_form.js') }}"></script>
{% endblock %}

{% block content %}

    <h4>Crear nueva sección! ?</h4>


<div class="form-container">
    <div class="form-container">
        {{ include('section_admin/_form.html.twig',
            {
                button_label:'Agregar Sección'
            }) }}
    </div>


</div>
    <a class="btn btn-info" href="{{ path('admin_section_list') }}">Ir al Listado</a>

{% endblock %}
