{% extends 'base_coreui.html.twig' %}

{% block title %}Nueva Entrada{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="col-sm-6 mx-auto text-center m-4">
        <h4 class="border border-primary border-top-0">Crear nueva entrada</h4>
    </div>

    <div class="form-container">
        {{ include('admin/entrada/_form.html.twig') }}
    </div>

    <a class="btn btn-link" href="{{ path('admin_section_list') }}"><i class="fas fa-backspace"></i> Volver al listado</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script type="application/javascript">#}
{#        $(function () {#}
{#            $('.datetimepicker').datetimepicker({#}
{#                format: 'YYYY-MM-DD HH:mm ',#}
{#                locale: 'es',#}
{#                inline: false,#}
{#                // sideBySide: true,#}
{#                icons: {#}
{#                    time: "fas fa-clock text-primary",#}
{#                    date: "fa fa-calendar text-primary",#}
{#                    up: "fa fa-chevron-up",#}
{#                    down: "fa fa-chevron-down",#}
{#                    previous: 'fa fa-chevron-left',#}
{#                    next: 'fa fa-chevron-right',#}
{#                    today: 'fa fa-screenshot',#}
{#                    clear: 'fa fa-trash',#}
{#                    close: 'fa fa-remove'#}
{#                },#}
{#                tooltips: {#}
{#                    selectTime: "Seleccione Hora"#}
{#                },#}
{#            });#}
{#        })#}
{#    </script>#}
{% endblock %}
