<form method="post" action="{{ path('principal_delete', {'id': principal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ principal.id) }}">
    <button class="btn btn-danger">BORRAR</button>
</form>
