<div class="col-sm-12">
    <h3>
        SEMILLAS DE AMISTAD
        <br/>
        <small>
            Serie: Reunión – Parte 3
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        “El que reanima a otros será reanimado."
        <br/>
        <small class="float-right">
            Proverbios 11:25 (NTV)
        </small>
    </p>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">

        <strong>
            Cuando sos bueno con la gente, estás {{ completa_lugar('uno') | raw}}
        </strong><br/>
        <span>
            Considera persona con Dios pone en tu camino, como una {{ completa_lugar('dos') | raw}}
            de crecer y avanzar en amor.
        </span>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "En la cárcel, había un joven hebreo,... Nosotros le contamos nuestros sueños, y él nos explicó el
            significado de cada sueño."
            <br/>
            <small class="float-right">
                Génesis 41:12 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            Alcanzar tu máximo potencial depende de que ayudes a {{ completa_lugar('tres') | raw}} a alcanzar su potencial.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Cuida de este hombre. Si los gastos superan esta cantidad,
            te pagaré la diferencia la próxima vez que pase por aquí”
            <br/>
            <small class="float-right">
                Lucas 10:35 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Panal de miel son los dichos suaves, suavidad para el alma y medicina para los huesos."
            <br/>
            <small class="float-right">
                Proverbios 16:24 (RV95)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Si compartes tu alimento con el que tiene hambre y satisfaces las necesidades del oprimido,
            entonces tu luz brillará como el amanecer. Tus sombras serán como luz de mediodía."
            <br/>
            <small class="float-right">
                Isaías 58:10 (PDT)
            </small>
        </p>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
