<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        UNA DANZA CON EL CIELO
        <br/>
        <small>
            Serie: No es lo que parece - Parte 4
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Entrégale a Dios tu amor, y él te dará lo que más deseas.
        Pon tu vida en sus manos, confía plenamente en él, y él actuará en tu favor;"
        <br/>
        <small class="float-right">
            Salmos 37:4-5 (TLA)
        </small>
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                CUANDO TU CORAZÓN DANZA
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Así mismo, cuando se cumplió el tiempo en que, según la ley de Moisés, ellos debían purificarse,
                José y María llevaron al niño a Jerusalén para presentarlo al Señor."
                <br/>
                <small class="float-right">
                    Lucas 2:22 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Así cumplieron con lo que en la ley del Señor está escrito: Todo varón primogénito será consagrado
                al Señor. También ofrecieron un sacrificio conforme a lo que la ley del Señor dice: un par de
                tórtolas o dos pichones.
                <br/>
                <small class="float-right">
                    Lucas 2:23-24 (NVI)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                CUANDO DIOS DANZA
            </h4>
            <strong>
            1- Pone {{ completa_lugar('uno') | raw}} en las noches oscuras.
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Cuando vieron al niño, contaron lo que les habían dicho acerca de él, y cuantos lo oyeron se
                asombraron de lo que los pastores decían."
                <br/>
                <small class="float-right">
                    Lucas 2:17-18 (NVI)
                </small>
            </p>
            <strong>
            2- Pone {{ completa_lugar('dos') | raw}} en los tiempos de incertidumbre.
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Movido por el Espíritu, fue al templo… Simeón lo tomó en sus brazos… les dio su bendición"
                <br/>
                <small class="float-right">
                    Lucas 2:27, 33-34 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Ana se presentó en aquel mismo momento, y comenzó a dar gracias a Dios y a hablar del niño Jesús
                a todos los que esperaban la liberación de Jerusalén."
                <br/>
                <small class="float-right">
                    Lucas 2:38 (DHH)
                </small>
            </p>
            <strong>
            3- Pone {{ completa_lugar('tres') | raw}} frente a situaciones imposibles.
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Cuando <b>llegaron a la casa</b>, vieron al niño con María, su madre; y postrándose lo adoraron.
                Abrieron sus cofres y le presentaron como regalos oro, incienso y mirra."
                <br/>
                <small class="float-right">
                    Mateo 2:11 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Cuando ya se habían ido, un ángel del Señor se le apareció en sueños a José y le dijo: "Levántate,
                toma al niño y a su madre, y huye a Egipto. Quédate allí hasta que yo te avise, porque Herodes va
                a buscar al niño para matarlo."
                <br/>
                <small class="float-right">
                    Mateo 2:13 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Hacé de Dios el mayor deleite y placer de tu vida, y él te dará lo que más deseas. Dale a Dios el
                derecho de dirigir tu vida, y mientras confías en él a lo largo del camino. ¡Verás como Él hace
                todo perfecto!”
                <br/>
                <small class="float-right">
                    Salmos 37:4-5 (TPT)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
