<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-start">
                    2 Reyes 6:8-23 (NTV)
                </small>
                “Cada vez que el rey de Aram entraba en guerra con Israel, consultaba con sus funcionarios y les decía:
                «Movilizaremos nuestras fuerzas en tal y tal lugar».<br/>
                <sup>9</sup> Sin embargo, de inmediato Eliseo, hombre de Dios, le advertía al rey de Israel: «No te
                acerques a ese lugar, porque allí los arameos piensan movilizar sus tropas».<br/>
                <sup>10</sup> Entonces el rey de Israel <b>mandaba un aviso al lugar indicado</b> por el hombre de Dios.
                Varias veces Eliseo le advirtió al rey para que <b>estuviera alerta en esos lugares</b>.”
                <br/>
                <small class="float-end">
                    2 Reyes 6:8-10 (NTV)
                </small>
                <sup>11</sup> Esa situación <b>disgustó mucho al rey de Aram</b> y llamó a sus oficiales y les preguntó:
                ¿Quién de ustedes es el traidor?<b>¿Quién ha estado informándole al rey de Israel acerca de mis
                    planes?</b><br/>
                <sup>12</sup> No somos nosotros, mi señor el rey —respondió uno de los oficiales. ¡Eliseo, el profeta de
                Israel, le comunica al rey de Israel hasta las palabras que usted dice en la intimidad de su alcoba!”
                <br/>
                <small class="float-end">
                    2 Reyes 6:11-12 (NTV)
                </small>
                <sup>13</sup> Vayan a averiguar dónde está —les ordenó el rey—, para mandar soldados a capturarlo. Luego
                le avisaron: «Eliseo está en Dotán».<br/>
                <sup>14</sup> Así que una noche, el rey de Aram envió un gran ejército con muchos caballos y carros de
                guerra para <b>rodear la ciudad</b>.<br/>
                <sup>15</sup> Al día siguiente, cuando el sirviente del hombre de Dios se levantó temprano y salió,
                había tropas, caballos y carros de guerra por todos lados. ¡Oh señor! <b>¿Qué vamos a hacer ahora?</b>—gritó
                el joven a Eliseo.<br/>
                <sup>16</sup> <b>¡No tengas miedo!</b> —le dijo Eliseo. <b>¡Hay más de nuestro lado que del lado de
                    ellos!</b><br/>
                <sup>17</sup> Entonces Eliseo oró: «Oh SEÑOR, <b>¡abre los ojos de este joven para que vea!</b>». Así
                que el SEÑOR abrió los ojos del joven, y<b>cuando levantó la vista vio que la montaña alrededor de
                    Eliseo estaba llena de caballos y carros de fuego</b>.<br/>
                <sup>18</sup> Cuando el ejército arameo avanzó hacia él, Eliseo rogó: «Oh SEÑOR, <b>haz que ellos queden
                    ciegos</b>». Entonces el SEÑOR los hirió con ceguera, tal como Eliseo había pedido.<br/>
                <sup>19</sup> Luego Eliseo salió y les dijo: «¡Ustedes vinieron por el camino equivocado! ¡Esta no es la
                ciudad correcta! Síganme y los llevaré a donde está el hombre que buscan», y los guió a la ciudad de
                Samaria. <br/>
                <sup>23</sup> “Después de este incidente, los saqueadores arameos se mantuvieron lejos de la tierra de
                Israel.” 2 Reyes 6:8-23 (NTV)
                <br/>
                <small class="float-end">
                    2 Reyes 6:8-23 (NTV)
                </small>

            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cierto día, el grupo de profetas fue a ver a Eliseo para decirle: Como puedes ver, este lugar, donde
                nos reunimos contigo es demasiado pequeño.<br/>
                <sup>2</sup> Bajemos al río Jordán, donde hay bastantes troncos. Allí podemos construir un lugar para
                reunirnos. Me parece bien —les dijo Eliseo—… Una vez que llegaron al Jordán, comenzaron a talar árboles;<br/>
                <sup>5</sup> pero mientras uno de ellos cortaba un árbol, <b>la cabeza de su hacha cayó al río</b>. ¡Ay,
                señor! —gritó—, ¡era un hacha prestada!<br/>
                <sup>6</sup> <b>¿Dónde cayó?</b> —preguntó el hombre de Dios. Cuando le mostró el lugar, Eliseo cortó un
                palo y lo tiró al agua en ese mismo sitio. Entonces <b>la cabeza del hacha salió a flote</b>.<br/>
                <sup>7</sup> Agárrala —le dijo Eliseo. Y el hombre extendió la mano y la tomó.”
                <br/>
                <small class="float-end">
                    2 Reyes 6:1-7 (NTV)
                </small>
            </p>
            {#            <h4 class="text-izq text-600"> #}
            {#                ¿CÓMO RECUPERAR TU PASIÓN? #}
            {#            </h4> #}
            <h5 class="text-centrado text-600">
                Tu {{ completa_lugar('uno') | raw }} sobre tu progreso, tus pérdidas, tu pasado y tu potencial es clave
                para tu vida excepcional
            </h5>

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El que está <b>en ustedes</b> es más poderoso que el que está en el mundo.”
                <br/>
                <small class="float-end">
                    1 Juan 4:4 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Lo que importa es lo que {{ completa_lugar('dos') | raw }} en mí y lo que dice de mí.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pido también que les <b>sean iluminados los ojos del corazón </b>para que sepan a qué esperanza él los
                ha llamado, cuál es la riqueza de su gloriosa herencia entre los santos,<br/>
                <sup>19</sup> y cuán incomparable es la grandeza de su poder a favor de los que creemos. <b>Ese poder es
                    la fuerza grandiosa y eficaz</b> <br/>
                <sup>20</sup> que Dios ejerció en Cristo cuando lo resucitó de entre los muertos y lo sentó a su derecha
                en las regiones celestiales, <br/>
                <sup>21</sup> <b>muy por encima de todo gobierno y autoridad, poder y dominio</b>, y de cualquier otro
                nombre que se invoque, no sólo en este mundo sino también en el venidero.”
                <br/>
                <small class="float-end">
                    Efesios 1:18-21 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Puede que estés rodeado de problemas, pero lo que necesitas ver es que el Dios Altísimo
                está {{ completa_lugar('tres') | raw }} lo que te rodea.

            </h5>



            {#            <h5 class="text-izq text-600"> #}
            {#                <strong>Tenés todo lo que necesitas, nunca te conformes con menos de aquello para lo cual Dios te creo #}
            {#                    para vivir</strong> #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
