<div class="col-sm-12">
    <h3>
        ROMPE CADENAS DE TU PASADO
        <br/>
        <small>
            Serie: Rotas cadenas – Parte 2
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "… Jesús soportó la cruz… porque sabía que después del sufrimiento tendría gozo y alegría"
        <br/>
        <small class="float-right">
            Hebreos 12:2 (DHH)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "El llanto podrá durar toda la noche, pero con la mañana llega la alegría."
        <br/>
        <small class="float-right">
            Salmos 30:5 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Somos transformados de gloria en gloria"
        <br/>
        <small class="float-right">
            2 Corintios 3:18 (RVC)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "El camino de los justos es como la luz del amanecer, que cada vez brilla más hasta que se hace de día."
        <br/>
        <small class="float-right">
            Proverbios 4:18 (PDT)
        </small>
    </p>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <strong>
            Confía que Dios {{ completa_lugar('uno') | raw}} tu historia.
        </strong><br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "A donde tú vayas, yo iré; dondequiera que tú vivas, yo viviré."
            <br/>
            <small class="float-right">
                Rut 1:16 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No me llamen Noemí —contestó ella. Más bien llámenme Mara."
            <br/>
            <small class="float-right">
                Rut 1:20 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Salí de aquí con las manos llenas, y ahora las traigo vacías"
            <br/>
            <small class="float-right">
                Rut 1:21 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¿Quién eres? —preguntó. Soy Rut, su sierva —contestó ella. Extienda sobre mí el borde de su manto ya que
            usted es el redentor de mi familia."
            <br/>
            <small class="float-right">
                Rut 3:9 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Entonces las mujeres del pueblo le dijeron a Noemí: … Que este niño… restaure tu juventud y te cuide en
            tu vejez."
            <br/>
            <small class="float-right">
                Rut 4:14-15 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Noemí regresó… Cuando llegaron a Belén estaba empezando la cosecha de cebada."
            <br/>
            <small class="float-right">
                Rut 1:22 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Con tu presencia me llenas de alegría; ¡estando a tu lado seré siempre dichoso!"
            <br/>
            <small class="float-right">
                Salmos 16:11 (RVC)
            </small>
        </p>
        <br/>

        <strong>
            Abraza el futuro {{ completa_lugar('dos') | raw}} despedís del pasado.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “– ¿Hasta cuándo vas a estar triste por causa de Saúl? Ya no quiero que él siga siendo rey de Israel..."
            <br/>
            <small class="float-right">
                1 Samuel 16:1 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Llena tu cuerno de aceite y ve a Belén a ver a un hombre llamado Isaí, pues he elegido a uno de sus
            hijos para ser el nuevo rey."
            <br/>
            <small class="float-right">
                1 Samuel 16:1 (PDT)
            </small>
        </p>
        <br/>
        <strong>
            Decidí que el {{ completa_lugar('tres') | raw}} dirija tu destino.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Al niño le puso por nombre Icabod (que significa «¿dónde está la gloria?») porque dijo: «La gloria de
            Israel se ha ido». Le puso ese nombre porque el arca de Dios había sido capturada y porque murieron su
            suegro y su esposo."
            <br/>
            <small class="float-right">
                1 Samuel 4:21 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pero yo estoy convencido de que llegaré a ver la bondad del Señor a lo largo de esta vida."
            <br/>
            <small class="float-right">
                Salmos 27:13 (DHH).
            </small>
        </p>
        <br/>


    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
