<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            <p class="text-14-300 font-italic pl-4 text-center">
                "Así David triunfó sobre el filisteo con sólo una honda y una piedra, porque no tenía espada."
                <br/>
                <small class="float-end">
                    1° Samuel 17:50 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                EL CAMINO A TU GRAN HISTORIA
            </h4>

            <h5 class="text-izq text-600">
                1. Se fiel en lo que parece {{ completa_lugar('uno') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Un día, Isaí le dijo a su hijo David: «Toma este canasto con grano cocido y estos diez panes y
                llévaselos a tus hermanos que están en el campamento."
                <br/>
                <small class="float-end">
                    1° Samuel 17:17 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "David cumplió con las instrucciones de Isaí. Se levantó muy de mañana y, después de encargarle el
                rebaño a un pastor, tomó las provisiones y se puso en camino. Llegó al campamento… dejó su carga al
                cuidado del encargado de las provisiones, y corrió a las filas para saludar a sus hermanos."
                <br/>
                <small class="float-end">
                    1° Samuel 17:20-22 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Salteate la {{ completa_lugar('dos') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Eliab, el hermano mayor de David, se enojó mucho al verlo hablar con los soldados y le reclamó: —¿Qué
                estás haciendo aquí? ¿Con quién dejaste el rebaño en el desierto? ¡Ya sé a qué viniste! No quisiste
                hacer tus deberes y sólo viniste para ver la batalla."
                <br/>
                <small class="float-end">
                    1° Samuel 17:28 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Se apartó de su hermano, y fue con otros soldados para que le confirmaran lo que había oído"
                <br/>
                <small class="float-end">
                    1° Samuel 17:30 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Vengo a ti en el nombre del Señor Todopoderoso"
                <br/>
                <small class="float-end">
                    1° Samuel 17:45 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Supera el {{ completa_lugar('tres') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                "Pero Saúl le dijo: «No creo que puedas pelear contra él, pues todavía eres muy joven y él ha sido un
                guerrero desde su juventud.»"
                <br/>
                <small class="float-end">
                    1° Samuel 17:33 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "David le respondió: «Sí, yo soy el pastor de las ovejas <b>de mi padre</b>, pero cuando <b>un león o un
                    oso</b> viene a llevarse algún cordero del rebaño, yo salgo tras el león o el oso, y lo hiero y lo
                libro de sus fauces. Si el animal me ataca, con mis manos lo agarro por las quijadas, y lo hiero hasta
                matarlo."
                <br/>
                <small class="float-end">
                    1° Samuel 17:34-35 (RVC)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Una historia lleva a otra historia.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Así David triunfó sobre el filisteo con sólo una honda y una piedra, porque no tenía espada."
                <br/>
                <small class="float-end">
                    1° Samuel 17:50 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Luego corrió y desenvainó la espada del filisteo, y se subió sobre él para rematarlo, y finalmente le
                cortó la cabeza. Y cuando el ejército de los filisteos vio que su gran guerrero estaba muerto, se dio a
                la fuga."
                <br/>
                <small class="float-end">
                    1° Samuel 17:51 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "El sacerdote le respondió: «Tengo la espada del filisteo Goliat, al que tú venciste en el valle de Elá…
                Si te sirve, tómala. Es la única que tengo.» Y David le dijo: «Ninguna otra sería mejor. Dámela.»"
                <br/>
                <small class="float-end">
                    1° Samuel 21:9 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "La palabra de Dios es viva y poderosa. Es más cortante que cualquier espada de dos filos"
                <br/>
                <small class="float-end">
                    Hebreos 4:12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Ningún arma forjada contra ti prosperará, Y condenarás toda lengua que se alce contra ti en juicio.
                Esta es la herencia de los siervos del SEÑOR"
                <br/>
                <small class="float-end">
                    Isaías 54:17 (NBLH)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la #}
            {#                        completará</b> hasta el Día de Cristo Jesús.” #}
            {#                    <br/> #}
            {#                    Filipenses 1:6 (BPD) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
