<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Ahora, Señor, puedes dejar que tu siervo muera en paz, como lo prometiste. <sup>30</sup> He visto con
                mis propios ojos cómo nos vas a salvar. <sup>31</sup> Todas las naciones podrán ver ahora cuál es tu
                plan. <sup>32</sup> <u>Él será una luz que alumbrará a todas las naciones</u>”
                <br/>
                <small class="float-end">
                    Lucas 2:29-32 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “«¡Miren! ¡La virgen concebirá un niño! Dará a luz un hijo, y lo llamarán Emanuel, que significa <u>“Dios
                    está con nosotros”</u>».”

                <br/>
                <small class="float-end">
                    Mateo 1:23 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Podemos {{ completa_lugar('uno') | raw }} a Dios en las cimas de la vida, pero lo alcanzamos
                a {{ completa_lugar('dos') | raw }} íntimamente en los valles
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dichoso el que tiene en ti su fortaleza, que sólo piensa en recorrer tus sendas. <sup>6</sup> Cuando
                pasa por <u>el valle de las Lágrimas</u> lo <u>convierte en región de manantiales</u>; también las
                lluvias tempranas cubren de bendiciones el valle. <sup>7</sup> Según avanzan los peregrinos, <u>cobran
                    más fuerzas</u>, y en Sión se presentan ante el Dios de dioses.”
                <br/>
                <small class="float-end">
                    Salmos 84:5-7 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡Cuán <u>bienaventurado</u> es el hombre que tiene en ti sus fuerzas,...”
                <br/>
                <small class="float-end">
                    Salmos 84:5 (BXT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “... los que <u>ponen su corazón</u> en tus caminos!”
                <br/>
                <small class="float-end">
                    Salmos 84:5 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Atravesando el valle de lágrimas, lo cambian en fuente cuando la lluvia llena <u>los estanques</u>.”
                <br/>
                <small class="float-end">
                    Salmos 84:6 (RV95)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡Jamás podría escaparme de tu Espíritu! ¡Jamás podría huir de tu presencia! <sup>8</sup> Si subo al
                cielo, allí estás tú; si desciendo a la tumba, allí estás tú. <sup>9</sup> Si cabalgo sobre las alas de
                la mañana, si habito junto a los océanos más lejanos, 10 aun allí me guiará tu mano y me sostendrá tu
                fuerza.”
                <br/>
                <small class="float-end">
                    Salmos 139:7-10 (NTV)
                </small>
            </p>

            <div class="col-sm-10 mx-auto">

                <div class="col-sm-4 mx-auto text-center">
                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no
                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».”
                    <br/>
                    Juan 8:12 (NTV)
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
