<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Dios es fiel</b> y no permitirá que sean puestos a prueba <b>más allá de sus fuerzas</b>; al
                contrario, junto con la prueba les proporcionará también la manera de <b>superarla con éxito</b>.”
                <br/>
                <small class="float-start">
                    1° Corintios 10:13 (AF)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Diga el débil: “<b>Fuerte soy</b>.”
                <br/>
                <small class="float-start">
                    Joel 3:10 (NBLH)
                </small>
            </p>

            {#            <h4 class="text-izq text-600"> #}
            {#                COMO SEGUIR ESPERANDO TU MILAGRO #}
            {#            </h4> #}

            <h5 class="text-izq text-600">
                Basa tu identidad en lo que {{ completa_lugar('uno') | raw }} de vos.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces, <b>¿quién eres?</b> Necesitamos alguna respuesta para los que nos enviaron. ¿Qué puedes
                decirnos de ti mismo?<br/>
                Juan <b>contestó con las palabras del profeta Isaías</b>: «Soy una voz que clama en el desierto: “¡Abran
                camino para la llegada del SEÑOR!”».”
                <br/>
                <small class="float-start">
                    Juan 1:22-23 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Comprende tu identidad {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “… Gedeón, hijo de Joás, estaba trillando trigo <b>en el fondo de un lagar para esconder el grano</b> de
                los madianitas.<br/>
                “Entonces el ángel del SEÑOR se le apareció y le dijo: <b>¡Guerrero valiente, el SEÑOR está
                    contigo!”</b>
                <br/>
                <small class="float-start">
                    Jueces 6:11-12 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces el SEÑOR lo miró y le dijo: <b>Ve tú con la fuerza que tienes</b> y rescata a Israel de los
                madianitas. ¡Yo soy quien te envía!<br/>
                <sup>15</sup> Pero, SEÑOR —respondió Gedeón—, ¿cómo podré yo rescatar a Israel? ¡Mi clan es <b>el más
                    débil de toda la tribu</b> de Manasés, y yo soy el de menor importancia en mi familia!<br/>
                <sup>16</sup> El SEÑOR le dijo: <b>Yo estaré contigo</b>, y destruirás a los madianitas como si
                estuvieras <b>luchando contra un solo hombre</b>.”
                <br/>
                <small class="float-start">
                    Jueces 6:14-16 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Pedile a {{ completa_lugar('tres') | raw }} como Él te ve.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<sup>46</sup> Después llegaron a Jericó y mientras Jesús y sus discípulos salían de la ciudad, una gran
                multitud los siguió. <b>Un mendigo ciego llamado Bartimeo</b> (hijo de Timeo) estaba sentado junto al
                camino.<br/>
                <sup>47</sup> Cuando Bartimeo oyó que Jesús de Nazaret estaba cerca, <b>comenzó a gritar</b>: «¡Jesús,
                Hijo de David, <b>ten compasión de mí</b>!».<br/>
                <sup>48</sup> «¡Cállate!», muchos le gritaban, pero <b>él gritó aún más fuerte</b>: «¡Hijo de David, ten
                compasión de mí!».<br/>
                <sup>49</sup> Cuando Jesús lo oyó, se detuvo y dijo: «Díganle que se acerque». Así que llamaron al
                ciego. «Anímate —le dijeron. ¡Vamos, <b>él te llama</b>!».<br/>
                <sup>50</sup> Bartimeo <b>echó a un lado su abrigo</b>, se levantó de un salto y se acercó a Jesús.<br/>
                <sup>51</sup> ¿Qué quieres que haga por ti? —preguntó Jesús. Mi Rabí —dijo el hombre ciego—, <b>¡quiero
                    ver!</b><br/>
                <sup>52</sup> Y Jesús le dijo: Puedes irte, pues <b>tu fe te ha sanado</b>. Al instante <b>el hombre
                    pudo ver y siguió a Jesús por el camino</b>.”
                <br/>
                <small class="float-start">
                    Marcos 10:46-52 (NTV)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
