<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        ESTO ES FAVOR
        <br/>
        <small>
            Serie: No es lo que parece - Parte 2
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "El ángel entró en el lugar donde estaba María y le dijo: — Alégrate, favorecida de Dios. El Señor está
        contigo."
        <br/>
        <small class="float-right">
            Lucas 1:28
        </small>
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                SORPRENDIDO POR SU FAVOR.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Ante estas palabras, María se perturbó, y se preguntaba qué podría significar este saludo."
                <br/>
                <small class="float-right">
                    Lucas 1:29
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "--No tengas miedo, María; Dios te ha concedido su favor --le dijo el ángel--."
                <br/>
                <small class="float-right">
                    Lucas 1:30
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "31 Quedarás encinta y darás a luz un hijo, y le pondrás por nombre Jesús.<br/>
                32 Él será un gran hombre, y lo llamarán Hijo del Altísimo. Dios el Señor le dará el trono de su padre
                David,<br/>
                33 y reinará sobre el pueblo de Jacob para siempre. Su reinado no tendrá fin."
                <br/>
                <small class="float-right">
                    Lucas 1:31-33 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "--¿CÓMO podrá suceder esto --le preguntó María al ángel--, puesto que soy virgen?"
                <br/>
                <small class="float-right">
                    Lucas 1:34
                </small>
            </p>
            <h4 class="nota-style">
                EL PRECIO DEL FAVOR
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "--El Espíritu Santo vendrá sobre ti, y el poder del Altísimo te cubrirá con su sombra.”
                <br/>
                <small class="float-right">
                    Lucas 1:35
                </small>
            </p>
            <h4 class="nota-style">
                ¿Qué es el favor de Dios?
            </h4>

            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Así que al santo niño que va a nacer lo llamarán Hijo de Dios."
                <br/>
                <small class="float-right">
                    Lucas 1:35 (NVI)
                </small>
            </p>
            <h4 class="nota-style">
                LA RESPUESTA AL FAVOR.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "— Alégrate, favorecida de Dios. El Señor está contigo."
                <br/>
                <small class="float-right">
                    Lucas 1:28 (BTI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "También tu parienta Elisabet va a tener un hijo en su vejez; de hecho, la que decían que era estéril
                ya está en el sexto mes de embarazo.”
                <br/>
                <small class="float-right">
                    Lucas 1:36-37
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Porque para Dios no hay nada imposible."
                <br/>
                <small class="float-right">
                    Lucas 1:36-37
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "--Aquí tienes a la sierva del Señor --contestó María--. Que él haga conmigo como me has dicho"
                <br/>
                <small class="float-right">
                    Lucas 1:38
                </small>
            </p>

        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
