<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-start">
                    2 Reyes 6 (NTV)
                </small>
                <br/>
                “<sup>24b</sup> El rey de Aram reunió a todo su ejército y sitió a Samaria.<br/>
                <sup>25</sup> Como consecuencia, <b>hubo mucha hambre en la ciudad</b>. Estuvo sitiada por tanto tiempo
                que <b>la cabeza de un burro se vendía por casi ochenta piezas de plata</b>, y doscientos mililitros de
                estiércol de paloma se vendía por cinco piezas de plata.”
                <br/>
                <br/>
                “<sup>31</sup> Entonces … el rey dijo: ¡Todo este sufrimiento viene del SEÑOR! <b>¿Por qué seguiré
                    esperando al SEÑOR?</b>”
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-start">
                    2 Reyes 7 (NTV)
                </small>
                <br/>
                “Eliseo le respondió: ¡Escucha el mensaje del SEÑOR! Esto dice el SEÑOR: “<b>Mañana, a esta hora, en los
                    mercados de Samaria, tres kilos de harina selecta costarán apenas una pieza de plata</b> y seis
                kilos de grano de cebada costarán apenas una pieza de plata”.<br/>
                <sup>2</sup> El funcionario que atendía al rey le dijo al hombre de Dios: <b>¡Eso sería imposible aunque
                    el SEÑOR abriera las ventanas del cielo!</b> Pero Eliseo le respondió: ¡Lo verás con tus propios
                ojos, pero no podrás comer nada de eso!
                <br/>
                <br/>
                “<sup>3</sup> Sucedió que había <b>cuatro hombres con lepra</b> sentados en la entrada de las puertas de
                la ciudad. «<b>¿De qué nos sirve sentarnos aquí</b> a esperar la muerte? —se preguntaban unos a
                otros.<br/>
                <sup>4</sup> <b>Si nos quedamos aquí, moriremos</b>, pero con el hambre que hay en la ciudad, moriremos
                de hambre también allá si regresamos. Así que <b>mejor sería ir</b> y entregarnos al ejército arameo. Si
                ellos nos perdonan la vida, mucho mejor; pero si nos matan, igual habríamos muerto».
                <br/>
                <br/>
                “<sup>5</sup> Así que, <b>al ponerse el sol</b>, salieron hacia el campamento de los arameos; pero
                cuando se aproximaron al límite del campamento, <b>¡no había nadie!</b><br/>
                <sup>6</sup> Pues <b>el SEÑOR había hecho</b> que el ejército arameo <b>escuchara el traqueteo de carros
                    de guerra</b> a toda velocidad, el galope de caballos y los <b>sonidos de un gran ejército que se
                    acercaba…!</b>»
                <br/>
                <br/>
                “<sup>7</sup> Así que se llenaron de pánico y <b>huyeron en la oscuridad de la noche</b>; abandonaron
                sus carpas, sus caballos, sus burros y todo lo demás, y corrieron para salvar la vida.<br/>
                <sup>8</sup> Cuando los leprosos llegaron al límite del campamento, fueron de carpa en carpa, <b>comieron
                    y bebieron vino, sacaron plata, oro y ropa, y escondieron todo</b>.”
                <br/>
                <br/>
                “<sup>9</sup> Finalmente se dijeron entre ellos: <b>«Esto no está bien. Hoy es un día de buenas
                    noticias, ¡y nosotros no lo hemos dicho a nadie!</b> Si esperamos hasta la mañana, seguro que nos
                ocurre alguna calamidad. ¡Vamos, regresemos al palacio y <b>contémosle a la gente!</b>».
                <br/>
                <br/>
                “<sup>16</sup> Entonces <b>la gente de Samaria salió corriendo y tomó todas las cosas abandonadas</b>
                del campamento de los arameos. Así <b>se cumplió ese día, tal como el SEÑOR había prometido</b>, que se
                venderían tres kilos de harina selecta por una pieza de plata y seis kilos de grano de cebada por una
                pieza de plata.”
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-start">
                    Lucas 12:29-33 (NTV)
                </small>
                <br/>
                “<sup>29</sup>» <b>No se inquieten por lo que van a comer</b> o lo que van a beber. No se preocupen por
                esas cosas.<br/>
                <sup>30</sup> Esas cosas dominan el pensamiento de los incrédulos en todo el mundo, pero <b>su Padre ya
                    conoce sus necesidades</b>.<br/>
                <sup>31</sup> <b>Busquen el reino de Dios por encima de todo lo demás, y él les dará todo lo que
                    necesiten</b>.<br/>
                <sup>32</sup>»Así que <b>no se preocupe, pequeño rebaño. Pues al Padre le da mucha felicidad entregarles
                    el reino.</b>
                <br/>
                <br/>
                <sup>33</sup>»Vendan sus posesiones y <b>den a los que pasan necesidad</b>. ¡Eso almacenará tesoros para
                ustedes en el cielo! Y las bolsas celestiales nunca se ponen viejas ni se agujerean. <b>El tesoro de
                    ustedes estará seguro; ningún ladrón podrá robarlo y ninguna polilla, destruirlo</b>.”
            </p>
            {#            <h4 class="text-izq text-600"> #}
            {#                ¿CÓMO RECUPERAR TU PASIÓN? #}
            {#            </h4> #}
{#            <h5 class="text-centrado text-600">#}
{#                Tu {{ completa_lugar('uno') | raw }} sobre tu progreso, tus pérdidas, tu pasado y tu potencial es clave#}
{#                para tu vida excepcional#}
{#            </h5>#}

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
