<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                LAS DESVENTURAS DEL FRENTE “IJE” #}
            {#            </h5> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “El año que viene, por esta fecha, <b>¡tendrás un hijo en tus brazos!</b> ¡No, señor mío! —exclamó ella.
                Hombre de Dios, <b>no me engañes así ni me des falsas esperanzas</b>.<br/>
                <sup>17</sup> Efectivamente, la mujer pronto quedó embarazada y al año siguiente, por esa fecha, tuvo un
                hijo, tal como Eliseo le había dicho.”

                <br/>
                <small class="float-end">
                    2 Reyes 4:16-17 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “ Cierto día, el niño, ya más grande, ... <br/>
                <sup>19</sup> de repente gritó: <b>«¡Me duele la cabeza! ¡Me duele la cabeza!»</b>. Su padre le dijo a
                uno de sus sirvientes: «Llévalo a casa, junto a su madre».<br/>
                <sup>20</sup> Entonces el sirviente lo llevó a su casa, y <b>la madre lo sostuvo en su regazo; pero
                    cerca del mediodía, el niño murió</b>.<br/>
                <sup>21</sup> Ella lo subió y lo recostó sobre la cama del hombre de Dios; luego cerró la puerta y lo
                dejó allí.”

                <br/>
                <small class="float-end">
                    2 Reyes 4:18-21 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando ella se acercaba al hombre de Dios, en el monte Carmelo, Eliseo la vio desde lejos y le dijo a
                Giezi: «Mira, allí viene la señora de Sunem. <br/>
                <sup>26</sup> Corre a su encuentro y pregúntale: “¿Están todos bien, tú, tu esposo y tu hijo?”». «<b>Sí
                    —contestó ella—, todo bien</b>”. <br/>
                <sup>27</sup> Sin embargo, cuando ella se encontró con el hombre de Dios en la montaña, se postró en el
                suelo delante de él y se agarró de sus pies. Giezi comenzó a apartarla, pero el hombre de Dios dijo:
                «Déjala. Está muy angustiada, pero el SEÑOR no me ha dicho qué le pasa».<br/>
                <sup>28</sup> Entonces ella dijo: «<b>¿Acaso yo te pedí un hijo</b>, señor mío? ¿Acaso no te dije: <b>“No
                    me engañes ni me des falsas esperanzas”</b>?».”
                <br/>
                <small class="float-end">
                    2 Reyes 4:25-28 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Eliseo le dijo a Giezi: «¡Prepárate para salir de viaje, toma mi vara y vete! No hables con nadie en el
                camino. Ve rápido y <b>pon la vara sobre el rostro del niño</b>»… Giezi se adelantó apresuradamente y
                puso la vara sobre el rostro del niño, pero no pasó nada. No daba señales de vida. Entonces regresó a
                encontrarse con Eliseo y le dijo: <b>«El niño sigue muerto»</b>.”
                <br/>
                <small class="float-end">
                    2 Reyes 4:29-31 (NTV)
                </small>
            </p>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    <i>¿Cuál es la situación decepcionante en tu vida que parece muerta y te hace sentir derrotado?</i>
                </div>
            </div>


            <h4 class="text-izq text-600">
                La contabilidad del cielo
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No importa cuántas promesas haya hecho Dios, Cristo siempre ha sido el “sí” de todas ellas…”
                <br/>
                <small class="float-end">
                    2 Corintios 1:20 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Confía en el SEÑOR con todo tu corazón, no dependas de tu propio entendimiento.”
                <br/>
                <small class="float-end">
                    Proverbios 3:5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Abrán <b>creyó al Señor</b>, y eso le <b>fue contado</b> por justicia.”
                <br/>
                <small class="float-end">
                    Génesis 15:6 (RVC)
                </small>
            </p>
            <h5 class="text-600 float-end">
                Tu fe en dolor {{ completa_lugar('uno') | raw }}.<br/>
                Cuenta aunque las cosas no salgan como esperabas,<br/>
                porque saldrán como Dios espera<br/>
                y eso siempre será excepcional!<br/>
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Sabemos que <b>Dios dispone</b> todas las cosas para el bien de quienes lo aman”
                <br/>
                <small class="float-end">
                    Romanos 8:28 (NVI)
                </small>
            </p>

            <h4 class="text-izq text-600">
                Jugada sujeta a verificación
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “En efecto, cuando Eliseo llegó, el niño estaba muerto, acostado en la cama del profeta. <br/>
                <sup>33</sup> Eliseo entró solo, cerró la puerta tras sí y oró al SEÑOR. <br/>
                <sup>34</sup> Después se tendió sobre el cuerpo del niño, puso su boca sobre la boca del niño, sus ojos
                sobre sus ojos y sus manos sobre sus manos. Mientras se tendía sobre él, ¡el cuerpo del niño <b>comenzó
                    a entrar en calor</b>! <br/>
                <sup>35</sup> Entonces Eliseo se levantó, caminó de un lado a otro en la habitación, y se tendió
                nuevamente sobre el niño. <b>¡Esta vez el niño estornudó siete veces y abrió los ojos!</b>”
                <br/>
                <small class="float-end">
                    2 Reyes 4:32-35 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces Eliseo llamó a Giezi y le dijo: «¡Llama a la madre del niño!». Cuando ella entró, Eliseo le
                dijo: <b>«¡Aquí tienes, toma a tu hijo!»</b>.”
                <br/>
                <small class="float-end">
                    2 Reyes 4:36 (NTV)
                </small>
            </p>

            <h5 class="text-600 float-end">
                Cada área muerta de tu vida está bajo revisión del cielo, si la miras desde Su punto de vista, verás que<br/>
                tu final {{ completa_lugar('dos') | raw}} decepción, tu final será victoria!
            </h5>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
