<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        100 Razones para estar animados
        <br/>
        <small>
            Serie: Sé positivo - Parte 4
        </small>
    </h3>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                Dios usará tus palabras de aliento {{ completa_lugar('uno') | raw}}:
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Entonces Job volvió a hablar: Ya escuché todo esto antes, ¡qué consejeros tan miserables son ustedes!
                ¿Nunca dejarán de decir más que palabrería?  ¿Qué los mueve a seguir hablando?  Si ustedes estuvieran
                en mi lugar, yo podría decir lo mismo.  Podría lanzar críticas y menear mi cabeza ante ustedes.
                Sin embargo, yo les daría palabras de ánimo; intentaría aliviar su dolor.
                <br/>
                <small class="float-right">
                    Job 16: 1-5 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                La lengua tiene poder de vida y de muerte.
                <br/>
                <small class="float-right">
                    Proverbios 18:21 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Más bien, mientras dure ese “hoy”, anímense unos a otros cada día, para que ninguno de ustedes
                se endurezca por el engaño del pecado.
                <br/>
                <small class="float-right">
                    Hebreos 3:13 (NVI)
                </small>
            </p>

        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                La regla más simple es esta:  {{ completa_lugar('dos') | raw}}:
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                El que es generoso prospera; el que reanima será reanimado.
                <br/>
                <small class="float-right">
                    Prov. 11:25 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                No salga de ustedes ninguna palabra mala, sino solo la que sea buena para edificación, según
                la necesidad del momento, para que imparta gracia a los que escuchan.
                <br/>
                <small class="float-right">
                    Efesios 4:29 (LBLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                David se alarmó, pues la tropa hablaba de apedrearlo; y es que todos se sentían amargados por
                la pérdida de sus hijos e hijas. Pero cobró ánimo y puso su confianza en el Señor su Dios.
                <br/>
                <small class="float-right">
                    1 Samuel 30:6 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                David le preguntó al Señor: —¿Debo perseguir a esta banda de saqueadores? ¿Los atraparé? Y el
                Señor le dijo: —Sí, persíguelos. Recuperarás todo lo que te han quitado.
                <br/>
                <small class="float-right">
                    1 Samuel 30:8 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                ¿Por qué estoy desanimado? ¿Por qué está tan triste mi corazón? ¡Pondré mi esperanza en Dios!
                Nuevamente lo alabaré, ¡mi Salvador y mi Dios!
                <br/>
                <small class="float-right">
                    Salmos 42:5 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                El Señor ha puesto su Espíritu en mí, porque me eligió para anunciar las buenas noticias a los pobres.
                Me envió a contarles a los prisioneros que serán liberados. A contarles a los ciegos que verán de
                nuevo, y a liberar a los oprimidos; para anunciar que este año el Señor mostrará su bondad.
                <br/>
                <small class="float-right">
                    Lucas 4:18 y 19 (PDT)
                </small>
            </p>
            <br/>
        </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
