<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h4 class="text-izq text-600">
                El giro más inesperado de la historia
            </h4>
            {#            <h5 class="text-izq text-600"> #}
            {#                1. En el lugar de {{ completa_lugar('uno') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>La gente</b> que pasaba por allí gritaba <b>insultos</b> y movía la cabeza en forma burlona.
                <sup>40</sup> «¡Pero mírate ahora! —le gritaban. Dijiste que ibas a destruir el templo y a reconstruirlo
                en tres días. Muy bien, si eres el Hijo de Dios, sálvate a ti mismo y bájate de la cruz». <sup>41</sup>
                Los principales sacerdotes, <b>los maestros de la ley religiosa y los ancianos</b> también se <b>burlaban</b>
                de Jesús.<sup>42</sup> «Salvó a otros —se <b>mofaban</b>—, ¡pero no puede salvarse a sí mismo! ...”
                <br/>
                <small class="float-end">
                    Mateo 27:39-42 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Al mediodía, <b>la tierra se llenó de oscuridad hasta las tres de la tarde</b>. <sup>46</sup> A eso de
                las tres de la tarde, Jesús clamó en voz fuerte: «Eli, Eli, ¿lama sabactani?», que significa: «Dios mío,
                Dios mío, ¿por qué me has abandonado?»... <sup>50</sup> Entonces Jesús volvió a gritar y <b>entregó su
                    espíritu</b>.”
                <br/>
                <small class="float-end">
                    Mateo 27:45-50 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>El domingo, muy temprano por la mañana</b>, las mujeres fueron a la tumba... <sup>2</sup>
                Encontraron que la piedra de la entrada estaba corrida a un costado. <sup>3</sup> Entonces entraron,
                pero no encontraron el cuerpo del Señor Jesús. 4 Mientras estaban allí perplejas, de pronto aparecieron
                dos hombres vestidos con vestiduras resplandecientes. <sup>5</sup> Las mujeres quedaron aterradas y se
                inclinaron rostro en tierra. Entonces los hombres preguntaron: «<b>¿Por qué buscan entre los muertos a
                    alguien que está vivo? <sup>6</sup> ¡Él no está aquí! ¡Ha resucitado!</b>”
                <br/>
                <small class="float-end">
                    Lucas 24:1-6 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entiendan la increíble grandeza del poder de Dios <b>para nosotros, los que creemos en él. Es el mismo
                    gran poder <sup>20</sup> que levantó a Cristo de los muertos</b> y lo sentó en el lugar de honor, a
                la derecha de Dios, en los lugares celestiales.”
                <br/>
                <small class="float-end">
                    Efesios 1:19-20 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Un giro inesperado en el basurero de la vida
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Como habían pedido, (Pilatos) puso en libertad a Barrabás, el que estaba preso por levantamiento y
                asesinato. Y les entregó a Jesús <b>para que hicieran con él como quisieran</b>.”
                <br/>
                <small class="float-end">
                    Lucas 23:25 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Llevaron a otros <b>dos</b>, ambos <b>criminales</b>, para ser ejecutados con Jesús. <sup>33</sup>
                Cuando llegaron a un lugar llamado <b>«La Calavera»</b>, lo clavaron en la cruz y a los criminales
                también, uno a su derecha y otro a su izquierda.”
                <br/>
                <small class="float-end">
                    Lucas 23:32-33 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Uno de los criminales</b> colgados junto a él <b>se burló</b>: «¿Así que eres el Mesías? Demuéstralo
                salvándote a ti mismo, ¡y a nosotros también!».<br/>
                <sup>40</sup> Pero <b>el otro criminal</b> protestó: «¿Ni siquiera temes a Dios ahora que estás
                condenado a muerte?<br/>
                <sup>41</sup> <b>Nosotros merecemos morir</b> por nuestros crímenes, pero este hombre no ha hecho nada
                malo».<br/>
                <sup>42</sup> Luego dijo: Jesús, <b>acuérdate de mí</b> cuando vengas en <b>tu reino</b>.<br/>
                <sup>43</sup> Jesús respondió:<br/>
                “TE ASEGURO QUE HOY ESTARÁS CONMIGO EN EL PARAÍSO.”

                <br/>
                <small class="float-end">
                    Lucas 23:39-43 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
