<style>
    .card-header nota-style {
        /*nombre del estilo o botón*/
        /*border: 2px solid #b5f2f2;  !*borde: estilo y color*!*/
        font: normal normal 18px ArialNova;  /*fuente*/
        /*color:#59287a;  !*color de la fuente*!*/
        /*letter-spacing: 2px; !*separación entre las letras*!*/
        /*text-align: left; !*alineación del texto*!*/
        /*text-transform: uppercase; !*texto se transforma en mayúsculas*!*/
        padding: 10px 10px 10px 2em;  /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        /*background: #cccccc;*/

    }
</style>
{#<div class="col-sm-12">#}
{#    <h3>#}
{#        ¡CUANDO SEPAS QUIEN SOS!#}
{#        <br/>#}
{#        <small>#}
{#            Serie: Oye el Ruido de rotas cadenas – Parte 7#}
{#        </small>#}
{#    </h3>#}
{#    <br/>#}
{#    <p class="text-info text-14-300 text-left font-italic mb-5">#}
{#        "Pues, si escuchas la palabra…, sería como ver tu cara en un espejo; te ves a ti mismo…"#}
{#        <br/>#}
{#        <small class="float-right">#}
{#            Santiago 1:23-25 (NTV)#}
{#        </small>#}
{#    </p>#}
{#    <br/>#}
{#</div>#}
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h4 class="card-header nota-style">
            La respuesta de Juan el Bautista.
        </h4>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "--¿Entonces quién eres? ¡Tenemos que llevar una respuesta a los que nos enviaron! ¿Cómo te ves a ti mismo?"
            <br/>
            <small class="float-right">
                Juan 1:22 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Juan contestó con las palabras del profeta Isaías: «Soy una voz que clama en el desierto: “¡Abran camino
            para la llegada del SEÑOR!”»."
            <br/>
            <small class="float-right">
                Juan 1:23 (NTV)
            </small>
        </p>
        <br/>
        <h4 class="card-header nota-style">
            Llamados a la grandeza
        </h4>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "«Hagamos a los seres humanos a nuestra imagen, para que sean como nosotros. Ellos reinarán»."
            <br/>
            <small class="float-right">
                Génesis 1:26 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¡Despierten a los valientes!"
            <br/>
            <small class="float-right">
                Joel 3:9 (RVC)
            </small>
        </p>
        <h4 class="card-header nota-style">
            Gedeón, un hombre que no sabía lo que podía.
        </h4>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¡El Señor está contigo, guerrero valiente!"
            <br/>
            <small class="float-right">
                Jueces 6:12 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pero, Señor objetó Gedeón, ¿cómo voy a salvar a Israel? Mi clan es el más débil de la tribu de Manasés,
            y yo soy el más insignificante de mi familia."
            <br/>
            <small class="float-right">
                Jueces 6:15 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Todos gritaban: «¡Una espada por el Señor y una por Gedeón!»"
            <br/>
            <small class="float-right">
                Jueces 7:20 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Se parecían a ti —le contestaron—, todos tenían el aspecto de un hijo de rey."
            <br/>
            <small class="float-right">
                Jueces 8:18 (NTV)
            </small>
        </p>
        <h4 class="card-header nota-style">
            Tu mensajero
        </h4>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pues Dios amó tanto al mundo que dio a su único Hijo, para que todo el que crea en él no se pierda,
            sino que tenga vida eterna. Dios no envió a su Hijo al mundo para condenar al mundo, sino para salvarlo
            por medio de él."
            <br/>
            <small class="float-right">
                Juan 3:16-17 (NTV)
            </small>
        </p>
        <h4 class="card-header nota-style">
            No te olvides
        </h4>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pues, si escuchas la palabra pero no la obedeces, sería como ver tu cara en un espejo; te ves a ti mismo,
            luego te alejas y te olvidas cómo eres.”
            <br/>
            <small class="float-right">
                Santiago 1:23 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Pero si miras atentamente en la ley perfecta que te hace libre y la pones en práctica y no olvidas lo que
            escuchaste, entonces Dios te bendecirá por tu obediencia."
            <br/>
            <small class="float-right">
                Santiago 1:23-25 (NTV)
            </small>
        </p>
        <br/>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
