<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        NO ES LO QUE PARECE
        <br/>
        <small>
            Serie: No es lo que parece - Parte 1
        </small>
    </h3>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "El nacimiento de Jesús, el Cristo, fue así: Su madre, María, estaba comprometida para casarse con José,
        pero antes de unirse a él, <b>resultó</b> que estaba encinta por obra del Espíritu Santo."
        <br/>
        <small class="float-right">
            Mateo 1:18 (NVI)
        </small>
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Como José, su esposo, era un hombre <b>justo</b> y no quería <b>exponerla a vergüenza pública</b>,
                resolvió <b>divorciarse de ella en secreto</b>."
                <br/>
                <small class="float-right">
                    Mateo 1:19 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Pero cuando él estaba considerando hacerlo, se le apareció en sueños un ángel del Señor y le dijo:
                "José, <b>hijo de David</b>, no temas recibir a María por esposa, porque ella <b>ha concebido por obra
                    del Espíritu Santo</b>."
                <br/>
                <small class="float-right">
                    Mateo 1:20 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "<b>Dará a luz un hijo, y le pondrás por nombre Jesús</b>, porque él salvará a su pueblo de sus pecados."
                <br/>
                <small class="float-right">
                    Mateo 1:21 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Todo esto pasó <b>para que</b> se cumpliera lo que el Señor había dicho por medio del profeta:"
                <br/>
                <small class="float-right">
                    Mateo 1:22 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "La virgen concebirá y dará a luz un hijo, y lo llamarán Emanuel" (que significa "Dios con nosotros")."
                <br/>
                <small class="float-right">
                    Mateo 1:23 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Cuando José se despertó, hizo lo que el ángel del Señor le había mandado y recibió a María por esposa."
                <br/>
                <small class="float-right">
                    Mateo 1:24 (NVI)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
