<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-izq text-600">
                Una carta desde el encierro
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Alégrense siempre</b> en el Señor. Insisto: ¡Alégrense!”
                <br/>
                <small class="float-end">
                    Filipenses 4:4 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Que su amabilidad sea evidente a todos. El Señor está cerca.”
                <br/>
                <small class="float-end">
                    Filipenses 4:5 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “<b>No se inquieten por nada</b>; más bien, en toda ocasión, con oración y ruego, presenten sus
                peticiones a Dios y <b>denle gracias</b>.”
                <br/>
                <small class="float-end">
                    Filipenses 4:6 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Y <b>la paz de Dios</b>, que sobrepasa todo entendimiento, <b>cuidará sus corazones</b> y sus
                pensamientos en Cristo Jesús.”
                <br/>
                <small class="float-end">
                    Filipenses 4:7 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                La clave es adoptar la {{ completa_lugar('uno') | raw }} de la {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Hermanos, quiero que sepan que, <b>en realidad</b>, lo que me ha pasado ha contribuido al <b>avance del
                    evangelio</b>. Es más, se ha hecho evidente a toda la guardia del palacio y a todos los demás que
                estoy encadenado por causa de Cristo.”
                <br/>
                <small class="float-end">
                    Filipenses 1:12-13 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Cantando en la oscuridad
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “Entonces la multitud se amotinó contra Pablo y Silas, y los magistrados mandaron que les <b>arrancaran
                    la ropa y los azotaran</b>.”
                <br/>
                <small class="float-end">
                    Hechos 16:22 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “A eso de la <b>medianoche</b>, Pablo y Silas se pusieron a orar y a <b>cantar</b> himnos a Dios, y los
                otros presos los escuchaban.”
                <br/>
                <small class="float-end">
                    Hechos 16:25 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “De repente se produjo un terremoto tan fuerte que la cárcel se estremeció hasta sus cimientos. Al
                instante <b>se abrieron todas las puertas</b> y <b>a los presos se les soltaron las cadenas</b>.”
                <br/>
                <small class="float-end">
                    Hechos 16:26 (NVI)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
