<div class="col-sm-12">
    <h3>
        ¡LISTOS PARA LO NUEVO!
        <br/>
        <small>
            Serie: Oye el Ruido de rotas cadenas – Parte 6
        </small>
    </h3>
    <br/>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "<b>¡Voy a hacer algo nuevo!</b> Ya está sucediendo, ¿no se dan cuenta?"
            <br/>
            <small class="float-right">
                Isaías 43:19 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "<b>Olviden las cosas de antaño; ya no vivan en el pasado.</b>  ¡Voy a hacer algo nuevo!”
            <br/>
            <small class="float-right">
                Isaías 43:18-19 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Estoy abriendo <b>un camino en el desierto</b>, y ríos en lugares desolados."
            <br/>
            <small class="float-right">
                Isaías 43:18-19 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "En tiempos difíciles serán prosperados; en épocas de hambre tendrán abundancia."
            <br/>
            <small class="float-right">
                Salmos 37:19 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Y volvían, y tentaban a Dios, y <u>ponían límite al Santo de Israel</u>."
            <br/>
            <small class="float-right">
                Salmos 78:41 (RV1909)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Yo estoy por hacer algo nuevo: ya está <b>germinando</b>"
            <br/>
            <small class="float-right">
                Isaías 43:19 (BPD)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¿no se dan cuenta?"
            <br/>
            <small class="float-right">
                Isaías 43:19 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Yo soy el SEÑOR, que abrió un camino a través de las aguas, e hizo una senda seca a través del mar.
            Yo llamé al poderoso ejército de Egipto… Los sumergí debajo de las olas, y se ahogaron; … »
            <br/>
            <small class="float-right">
                Isaías 43:16-19 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Pero olvida todo eso; no es nada comparado con lo que voy a hacer. Pues estoy a punto de hacer algo nuevo"
            <br/>
            <small class="float-right">
                Isaías 43:16-19 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Por lo tanto, si alguno está en Cristo, es una nueva creación. ¡Lo viejo ha pasado, ha llegado ya lo
            nuevo!"
            <br/>
            <small class="float-right">
                2 Corintios 5:17 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El que estaba sentado en el trono dijo: "¡Yo hago nuevas todas las cosas."
            <br/>
            <small class="float-right">
                Apocalipsis 21:5 (NVI)
            </small>
        </p>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
