<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        NO LO ARRUINES
        <br/>
        <small>
            Serie: No es lo que parece - Parte 3
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        No podrás hablar hasta el día en que todo esto suceda."
        <br/>
        <small class="float-right">
            Lucas 1:20 (NVI)
        </small>
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                La trampa de las palabras negativas.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Te has enredado con tus propias palabras"
                <br/>
                <small class="float-right">
                    Proverbios 6:2 (RVC)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "«Pero Señor, yo soy muy joven y no sé hablar en público»."
                <br/>
                <small class="float-right">
                    Jeremías 1:6 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "«No digas que sólo eres un joven, …"
                <br/>
                <small class="float-right">
                    Jeremías 1:7 (PDT)
                </small>
            </p>
            <h4 class="nota-style">
                Como casi lo arruina Zacarías.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Zacarías, pues ha sido escuchada tu oración. Tu esposa Elisabet te dará un hijo, y le pondrás por
                nombre Juan. Tendrás gozo y alegría, y muchos se regocijarán por su nacimiento,"
                <br/>
                <small class="float-right">
                    Lucas 1:13-14 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Zacarías replicó al ángel: ¿Qué garantía me das de eso? Porque yo ya soy viejo, y mi mujer, de edad
                avanzada."
                <br/>
                <small class="float-right">
                    Lucas 1:18 (SM)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "-Yo soy Gabriel y estoy a las órdenes de Dios -le contestó el ángel. He sido enviado para hablar
                contigo y darte estas buenas noticias."
                <br/>
                <small class="float-right">
                    Lucas 1:19 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Pero como no creíste en mis palabras, las cuales se cumplirán a su debido tiempo, te vas a quedar
                mudo. No podrás hablar hasta el día en que todo esto suceda."
                <br/>
                <small class="float-right">
                    Lucas 1:20 (NVI)
                </small>
            </p>
            <h4 class="nota-style">
                El poder de tus palabras.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Señor, ponle a mi boca un guardián; vigílame cuando yo abra los labios."
                <br/>
                <small class="float-right">
                    Salmos 141:3 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "No moriré; sino que viviré para contar lo que hizo el SEÑOR."
                <br/>
                <small class="float-right">
                    Salmos 118:17 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                El Señor… “hará prosperar todo mi trabajo. Podré prestar…, pero no tendré que pedir prestado a nadie."
                <br/>
                <small class="float-right">
                    Deuteronomio 28:12 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Tu favor me rodea, como un escudo."
                <br/>
                <small class="float-right">
                    Salmos 5:12 (RVC)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Abraham creyó en el Dios… que llama las cosas que no son como si ya existieran."
                <br/>
                <small class="float-right">
                    Romanos 4:17 (NVI)
                </small>
            </p>
            <h4 class="nota-style">
                A pesar de todo lo que se levante, que tus palabras le den vida a la victoria y no a la derrota.
            </h4>
            <br/>
            <h4 class="nota-style">
                En tiempos difíciles, cuando es fácil desanimarse, simplemente permanecer en silencio puede ser el
                acto de fe que derribe todos tus muros.
            </h4>
            <br/>
            <h4 class="nota-style">
                Habla con gente embarazada de sueños.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Al escuchar el saludo de María, el bebé de Elisabet saltó en su vientre y Elisabet se llenó del
                Espíritu Santo."
                <br/>
                <small class="float-right">
                    Lucas 1:41 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Elisabet dio un grito de alegría y le exclamó a María: Dios te ha bendecido más que todas las
                mujeres, y tu hijo es bendito."
                <br/>
                <small class="float-right">
                    Lucas 1:42 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Cuando escuché tu saludo, el bebé saltó de alegría en mi vientre."
                <br/>
                <small class="float-right">
                    Lucas 1:44 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Eres bendita porque creíste que el Señor haría lo que te dijo."
                <br/>
                <small class="float-right">
                    Lucas 1:45 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Al instante Zacarías pudo hablar de nuevo y comenzó a alabar a Dios."
                <br/>
                <small class="float-right">
                    Lucas 1:64 (NTV)
                </small>
            </p>
            <h4 class="nota-style">
                Palabras de Salvación.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Esta es la palabra de fe que predicamos: que si confiesas con tu boca que Jesús es el Señor, y
                crees en tu corazón que Dios lo levantó de entre los muertos, serás salvo. Porque con el corazón
                se cree para ser justificado, pero con la boca se confiesa para ser salvo."
                <br/>
                <small class="float-right">
                    Romanos 10:8-10 (NVI)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
