<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-centrado text-600">
                Nos comprometemos:
            </h4>
            <h5 class="text-izq text-600">
                <ul>
                    <li>1. Buscaremos a Dios.</li>
                    <li>2. Pelearemos de manera limpia.</li>
                    <li>3. Nos divertiremos juntos.</li>
                    <li>4. Nos mantendremos puros.</li>
                    <li>5. Nunca nos rendiremos.</li>

                </ul>
            </h5>
            <h4 class="text-izq text-600">
                Dios es tu “Uno” y tu cónyuge es tu “Dos”.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “--Ama al Señor tu Dios con todo tu corazón, con toda tu alma y con toda tu mente’ --le respondió
                Jesús--. Éste es el primero y el más importante de los mandamientos. El segundo se parece a éste: Ama a
                tu prójimo como a ti mismo.’”
                <br/>
                <small class="float-end">
                    Mateo 22:37-39 (NVI
                </small>
            </p>

            <h5 class="text-izq text-600">
                <p>Aquellos con la esperanza de casarte<br/>
                    Buscaré al numero Uno<br/>
                    mientras me preparo para mi numero Dos.</p>
                <p>Aquellos ya casados<br/>
                    Siempre buscaré al numero Uno<br/>
                    junto con mi numero Dos.</p>
            </h5>
            <h4 class="text-izq text-600">
                ¿Como Buscamos A Dios?
            </h4>
            <h5 class="text-izq text-600">
                • {{ completa_lugar('uno') | raw }} juntos cada día.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                «Si mi pueblo, que lleva mi nombre, se humilla y ora, y me busca y abandona su mala conducta, yo lo
                escucharé desde el cielo, perdonaré su pecado y restauraré su tierra»
                <br/>
                <small class="float-end">
                    2 Crónicas 7:14 (NVI)
                </small>
            </p>

            <p class="nota-style">
                DE ACUERDO A UNA ENCUESTA DE VIDA FAMILIAR:<br/>
                • MENOS DEL 8% DE LAS PAREJAS CRISTIANAS ORAN
                JUNTOS REGULARMENTE.<br/>
                • DE ESTAS PAREJAS QUE SI ORAN, MENOS DEL 1% SE
                DIVORCIAN.
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Más bien, busquen primeramente el reino de Dios y su justicia, y todas estas cosas les serán añadidas.”
                <br/>
                <small class="float-end">
                    Mateo 6:33 (NVI)
                </small>
            </p>

            <div class="text-center">
                <img src="{{ asset('images/series/01-buscar-a-Dios-wtitle.png') }}" alt="Buscar a Dios" class="img-fluid">
            </div>

        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
