<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        La vacuna contra la queja
        <br/>
        <small>
            Serie: Sé positivo - Parte 2
        </small>
    </h3>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “El corazón alegre embellece el rostro, pero el dolor del corazón abate el espíritu.”
                <br/>
                <small class="float-right">
                    Proverbios 15:13 (RVR)
                </small>
            </p>
            <strong>
                Hay una vacuna para la queja y se llama gratitud.
            </strong>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                Como hacer para encontrar esa paz en mi vida y aprender a ser <b>AGRADECIDO</b>
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Alégrense siempre en el Señor. Insisto: ¡Alégrense!”
                <br/>
                <small class="float-right">
                    Filipenses 4:4 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Que su amabilidad sea evidente a todos. El Señor está cerca."
                <br/>
                <small class="float-right">
                    Filipenses 4:5 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "No se inquieten por nada,” ...
                <br/>
                <small class="float-right">
                    Filipenses 4:6 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                No se preocupen por nada,” ...
                <br/>
                <small class="float-right">
                    Filipenses 4:6 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Ahora bien, sabemos que Dios dispone todas las cosas para el bien de quienes lo aman, los que han sido
                llamados de acuerdo con su propósito."
                <br/>
                <small class="float-right">
                    Romanos 8:28
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “No se inquieten por nada; más bien, en toda ocasión, con oración y ruego, presenten sus peticiones a
                Dios
                y denle gracias.”
                <br/>
                <small class="float-right">
                    Filipenses 4:6 (NVI)
                </small>
            </p>
            <div class="col-sm-8 mx-auto text-left">
            <strong>
                Marca en los recuadros si ...
            </strong>
            <br/>
            <label><input type="checkbox" id="box1"
                          value="Pudiste abrir tus ojos está mañana">
                Pudiste abrir tus ojos está mañana.
            </label><br>
            <label><input type="checkbox" id="box2" value="Pudieron dormir en una cama o algo parecido"> Pudieron dormir
                en una cama o algo parecido.</label><br>
            <label><input type="checkbox" id="box2"
                          value="Pudiste dormir en una cama o algo parecido"> Pudiste dormir
                en una cama o algo parecido.</label><br>
            <label><input type="checkbox" id="box3"
                          value="Tienes al menos, una muda de ropa para ponerte">
                Tienes al menos, una muda de ropa para ponerte.</label><br>
            <label><input type="checkbox" id="box4"
                          value="Tomaste una taza de algo para desayunar">
                Tomaste una taza de algo para desayunar.</label><br>
            <label><input type="checkbox" id="box5"
                          value="Tienes a algo o alguien con quien conversar en tu vida">
                Tienes a algo o alguien con quien conversar en tu vida.</label><br>
            <label><input type="checkbox" id="box6"
                          value="En la última semana, al menos pudiste salir a una plaza o un parque sin un permiso de circulación">
                En la última semana, al menos pudiste salir a una plaza o un parque sin un permiso de
                circulación.</label>
            </div>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Y la paz de Dios, que sobrepasa todo entendimiento, cuidará sus corazones y sus pensamientos en Cristo
                Jesús.”
                <br/>
                <small class="float-right">
                    Filipenses 4:7 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Por último, hermanos, consideren bien todo lo verdadero, todo lo respetable, todo lo justo, todo lo puro,
                todo lo amable, todo lo digno de admiración, en fin, todo lo que sea excelente o merezca elogio.”
                <br/>
                <small class="float-right">
                    Filipenses 4:8 (NVI)
                </small>
            </p>
            <h4 class="nota-style">
            Porque lo que pensamos comienza a llenar y transformar nuestro corazón, y luego de la llenura de nuestro
            corazón la boca comienza a hablar y agradecer.
            </h4>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
