<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h4 class="text-izq text-600">
                Comenzando por el final
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando Eliseo cayó enfermo de muerte, <b>el rey Yoás de Israel fue a visitarlo</b> y lloró sobre él
                diciendo: ¡Padre mío! ¡Padre mío! ¡Veo los carros de Israel con sus conductores!
                <br/><sup>15</sup> <b>Eliseo le dijo: Consigue un arco y algunas flechas.</b> Y el rey hizo lo que se
                le indicó.
                <br/><sup>16</sup> Luego Eliseo le dijo: Pon tu mano sobre el arco. Eliseo puso sus dos manos sobre las
                manos del rey.
                <br/><sup>17</sup> Luego le ordenó: Abre la ventana que da al oriente. Él la abrió, y Eliseo le dijo:
                <b>¡Dispara!</b> Así que el rey disparó una flecha y Eliseo proclamó: Esta es la flecha del SEÑOR, una
                flecha de victoria sobre Aram, porque <b>tú conquistarás por completo</b> a los arameos en Afec.
                <br/><sup>18</sup> Luego Eliseo dijo: Ahora levanta las demás flechas y <b>golpéalas contra el piso</b>.
                Entonces el rey las tomó y golpeó el piso <b>tres veces</b>;
                <br/><sup>19</sup> pero <b>el hombre de Dios se enojó con él</b> y exclamó: ¡Tendrías que haber golpeado
                el
                piso cinco o seis veces! Así habrías vencido a Aram hasta destruirlo por completo. Ahora <b>saldrás
                    vencedor
                    solamente tres veces.</b>”
                <br/>><sup>20</sup> Después Eliseo murió y fue enterrado.”
                <br/>
                <small class="float-end">
                    2 Reyes 13:14-19 (NTV)
                </small>
            </p>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    La diferencia entre una vida excepcional y una vida promedio,
                    es la diferencia entre
                    capturar {{ completa_lugar('uno') | raw }} lo que Dios planeó para tu vida
                    y {{ completa_lugar('dos') | raw }} con cualquier cosa menos.

                </div>
            </div>

            <h4 class="text-izq text-600">
                Una sagrada interrupción
            </h4>


            <p class="text-14-300 font-italic pl-4 text-center">
                <sup>19</sup> Entonces Elías fue y encontró a Eliseo, hijo de Safat, <b>arando un campo.</b> Había doce
                pares de bueyes en el campo, y Eliseo araba con el último par.”
                “Elías se acercó a él, <b>le echó su capa sobre los hombros</b> y siguió caminando.
                <br/> <sup>20</sup> Eliseo dejó los bueyes donde estaban, <b>salió corriendo</b> detrás de Elías y le
                dijo: Deje que primero me despida de mis padres con un beso y luego iré con usted.”
                “Elías respondió: Regresa, <b>pero piensa en lo que te hice.</b>”
                <br/> <sup>21</sup> Entonces Eliseo regresó a donde estaban sus bueyes y los mató. Con la madera del
                arado hizo una fogata para asar la carne. Repartió la carne asada entre la gente del pueblo, y todos
                comieron.
                Después <b>se fue con Elías</b> como su ayudante.”

                <br/>
                <small class="float-end">
                    1 Reyes 19:19-21 (NTV)
                </small>
            </p>

            <h4 class="text-izq text-600">
                Una sagrada interrupción
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Jesús</b>...Encontró a Felipe y le dijo: <b>«Ven, sígueme»</b>...
                <br/><sup>45</sup> Felipe fue a buscar a Natanael…
                <br/><sup>47</sup> Mientras ellos se acercaban, Jesús dijo: Aquí viene un verdadero hijo de Israel, un
                hombre totalmente íntegro.
                <br/><sup>48</sup> <b>¿Cómo es que me conoces?</b> —preguntó Natanael. <b>Pude verte</b> debajo de la
                higuera antes de que Felipe te encontrara —contestó Jesús.
                <br/><sup>49</sup> Entonces Natanael exclamó: Rabí, ¡tú eres el Hijo de Dios, el Rey de Israel!
                <br/><sup>50</sup> Jesús le preguntó: ¿Crees eso sólo porque te dije que te había visto debajo de la
                higuera? <b>Verás cosas más grandes que ésta</b>.”
                <br/>
                <small class="float-end">
                    Juan 1:43-50 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todo el que cree en mí hará las mismas cosas que yo estoy haciendo.
                De hecho, <b>hará cosas incluso más grandes</b>”
                <br/>
                <small class="float-end">
                    Juan 14:12 (VBL)
                </small>
            </p>




                        <div class="col-sm-10 mx-auto">
                            <div class="col-12 mx-auto text-center">
                                ¿ME SEGUIRÁS A <b>COSAS MÁS GRANDES</b>?<br/>
                                TU ELECCIÓN: ¿UNA VIDA PROMEDIO O <b>UNA VIDA EXCEPCIONAL</b>?

                            </div>
                        </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
