<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-centrado text-600">
                Jesús es nuestro Si
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>El Amén</b>, el testigo fiel y verdadero”
                <br/>
                <small class="float-end">
                    Apocalipsis 3:14 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pues Jesucristo, el Hijo de Dios, no titubea entre el «sí» y el «no». <b>Él es … el «sí» definitivo de
                    Dios</b>, él siempre hace lo que dice. Pues <b>todas las promesas de Dios</b> se cumplieron en
                Cristo <b>con un resonante «¡sí!»</b>, y por medio de Cristo, nuestro «amén» (que significa «sí») se
                eleva a Dios para su gloria.”
                <br/>
                <small class="float-end">
                    2 Corintios 1:19-20 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                En la adversidad
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No me siento derrotado, pues sé en quién he confiado y estoy <b>firmemente persuadido</b> de que tiene
                poder para asegurar hasta el último día el encargo que me dio.” <br/>
                <small class="float-end">
                    2 Timoteo 1:12 (SM)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “ ¿Quién podrá separarnos del amor de Cristo»? ¿Tribulación, o angustia, o persecución, o hambre, o
                desnudez, o peligro, o espada? ... Sin embargo, en todas estas cosas vencemos plenamente por medio de
                aquel que nos amó. Pues <b>estoy firmemente convencido</b> de que ni muerte ni vida, ni ángeles ni
                principios, ni lo presente ni lo futuro, ..., ni ninguna otra cosa creada podrá separarnos del amor de
                Dios.”
                <br/>
                <small class="float-end">
                    Romanos 8:35-39 (SA)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Frente a los “no”
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “No importa cuántas promesas haya hecho Dios, Cristo siempre ha sido el “sí” de todas ellas “
                <br/>
                <small class="float-end">
                    2 Corintios 1:20 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                En la espera y lo imposible.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Abraham “no dudó de la promesa de Dios, por falta de fe, sino al contrario, fortalecido por esa fe,
                glorificó a Dios, <b>plenamente convencido</b> de que Dios tiene poder para cumplir lo que promete.”
                <br/>
                <small class="float-end">
                    Romanos 4:20-21 (BPD)
                </small>
            </p>

            <h5 class="text-izq text-600 ml-2">
                Cambia tu {{ completa_lugar('uno') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Ciertamente</b> tu bondad y tu amor inagotable me seguirán todos los días de mi vida, y en la casa
                del SEÑOR viviré por siempre.”
                <br/>
                <small class="float-end">
                    Salmos 23:6 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Pero de <b>una cosa estoy seguro</b>: he de ver la bondad del Señor en esta tierra de los vivientes.”
                <br/>
                <small class="float-end">
                    Salmos 27:13 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Cambia tu {{ completa_lugar('dos') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Caleb hizo callar al pueblo ante Moisés, y dijo: Subamos a conquistar esa tierra. <b>Estoy seguro de
                    que podremos hacerlo</b>.”
                <br/>
                <small class="float-end">
                    Números 13:30 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600 ml-2">
                Cambia tus {{ completa_lugar('tres') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “La bondad y el amor <b>me seguirán todos los días de mi vida</b>.”
                <br/>
                <small class="float-end">
                    Salmos 23:6 (NVI)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Al hombre justo; <b>tu favor</b> lo rodea, como un escudo.”
                <br/>
                <small class="float-end">
                    Salmos 5:12 (RVC)
                </small>
            </p>
            <div class="col-sm-10 mx-auto">

                <div class="col-sm-4 mx-auto text-center">
                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la
                        completará</b> hasta el Día de Cristo Jesús.”
                    <br/>
                    Filipenses 1:6 (BPD)
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
