<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        COMO PROTEGER TU AMOR
        <br/>
        <small>
            Serie: Social Ed. - Parte 7
        </small>
    </h3>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        “El fruto del Espíritu es amor, alegría, paz, paciencia, amabilidad, bondad, fidelidad…”
        <br/>
        <small class="float-right">
            Gálatas 5:22 (NVI)
        </small>
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <strong>
                I. EL PROBLEMA: ¿QUÉ CAUSA LA INFIDELIDAD?
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                El adulterio… “es una trampa peligrosa"
                <br/>
                <small class="float-right">
                    Proverbios 22:14 (NTV)
                </small>
            </p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">
                    <span class="badge badge-primary badge-pill">
                        <i class="fa fa-circle fa-inverse"></i>
                    </span>
                    Necesidades insatisfechas
                </li>
                <li class="list-group-item list-group-item-primary">
                    <span class="badge badge-primary badge-pill">
                        <i class="fa fa-circle fa-inverse"></i>
                    </span>
                    Expectativas incumplidas
                </li>
                <li class="list-group-item list-group-item-primary">
                    <span class="badge badge-primary badge-pill">
                        <i class="fa fa-circle fa-inverse"></i>
                    </span>
                   Conflicto no resuelto
                </li>
                <li class="list-group-item list-group-item-primary">
                    <span class="badge badge-primary badge-pill">
                        <i class="fa fa-circle fa-inverse"></i>
                    </span>
                    Autoestima no desarrollada
                </li>
            </ul>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                II. LA PREVENCIÓN: SEIS PASOS
            </h4>
            <strong class="text-center">
                1. MIDO MI VIDA CON LA PALABRA DE DIOS
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "¿Cómo puede un joven mantenerse puro? Obedeciendo tu palabra."
                <br/>
                <small class="float-right">
                    Salmos 119:9 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                <small class="float-right">
                    Proverbios 5:15 (NBV)
                </small>
                <br/>
                "Disfruta del amor, pero sólo con tu esposa. Tu amor y fidelidad le corresponden sólo a ella…"
            </p>
            <strong>
                2. MAGNIFICO LAS CONSECUENCIAS
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El hombre que comete adulterio es un necio total, porque se destruye a sí mismo."
                <br/>
                <small class="float-right">
                    Proverbios 6:32 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Dormir con la mujer de otro hombre te costará la vida."
                <br/>
                <small class="float-right">
                    Proverbios 6:26 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Con toda seguridad, Dios juzgará a los que cometen inmoralidades sexuales y a los que cometen
                adulterio."
                <br/>
                <small class="float-right">
                    Hebreos 13:4 (NTV)
                </small>
            </p>
            <strong>
                3. MANTENGO VIVA LA INTIMIDAD
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “El hombre debe satisfacer a su mujer en todo lo que ella necesita como esposa. De la misma manera,
                la mujer con su esposo."
                <br/>
                <small class="float-right">
                    1 Corintios 7:3 (PDT)
                </small>

            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "No se priven el uno al otro de tener relaciones sexuales, … a fin de que Satanás no pueda tentarlos
                por la falta de control propio."
                <br/>
                <small class="float-right">
                    1 Corintios 7:5 (NTV)
                </small>
            </p>
            <strong>
                4. MANEJO MIS PENSAMIENTOS
            </strong>
            <h5>
                Cómo se desarrollan los engaños
            </h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">1°</span>
                    Aceptar pensamientos pecaminosos en mi mente
                </li>
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">2°</span>
                     Participación emocional, no física
                </li>
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">3º</span>
                     Participación física
                </li>
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">4°</span>
                     Racionalizando el asunto
                </li>
            </ul>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "La tentación viene de nuestros propios deseos, los cuales nos seducen y nos arrastran.<br/>
                De esos deseos nacen los actos pecaminosos, y el pecado, cuando se deja crecer, da a luz la muerte."
                <br/>
                <small class="float-right">
                    Santiago 1:14-15 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Evita las pasiones desordenadas… Esfuérzate por alcanzar una vida recta, tener fe, amor y paz junto
                con la gente que tiene corazón puro y que ha confiado en el Señor."
                <br/>
                <small class="float-right">
                    2 Timoteo 2:22 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Sean sabios para hacer el bien, e inocentes en cuanto al mal."
                <br/>
                <small class="float-right">
                    Romanos 16:19 (PDT)
                </small>
            </p>
            <strong>
                5. ME ALEJO DE TODA RELACIÓN INCORRECTA
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Ni siquiera hablen de la inmoralidad sexual."
                <br/>
                <small class="float-right">
                    Efesios 5:3 (DHH)
                </small>
            </p>
            <strong>
                6. MINIMIZO LAS OPORTUNIDADES
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Por eso, que nadie se sienta seguro de que no va a pecar, pues puede ser el primero en hacerlo."
                <br/>
                <small class="float-right">
                    1 Corintios 10:12 (TLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "No se dejen engañar… «las malas compañías corrompen el buen carácter»."
                <br/>
                <small class="float-right">
                    1 Corintios 15:33 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "..Guarda tu corazón y permanece fiel a la esposa de tu juventud."
                <br/>
                <small class="float-right">
                    Malaquías 2:15 (NTV)
                </small>
            </p>
            <br/>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4>
                EL CAMINO DE REGRESO A LA PUREZA
            </h4>

            <ul class="list-group">
                <li class="list-group-item list-group-item-primary d-flex justify-content-start align-items-left">
                    <span class="badge badge-primary badge-pill">1</span>
                    Reconoce tu pecado.
                </li>
                <li class="list-group-item list-group-item-primary d-flex justify-content-start align-items-left">
                    <span class="badge badge-primary badge-pill">2</span>
                    Termine la relación inmediatamente.
                </li>
                <li class="list-group-item list-group-item-primary d-flex justify-content-start align-items-center">
                    <span class="badge badge-primary badge-pill">3</span>
                    Evite TODO el contacto con la persona a partir de ahora. <br/>  ¡Haz lo que sea necesario para hacer esto!
                </li>
            </ul>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
