{% extends 'base_coreui.html.twig' %}

{% block title %}New SourceApi{% endblock %}

{% block content %}
    <h1>Create new SourceApi</h1>

    {{ include('admin/source_api/_form.html.twig') }}

    <a href="{{ path('app_source_api_index') }}">
        {{ include('bases/_volver.html.twig') }}
    </a>
{% endblock %}
