{% extends 'base_admin_board.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('bt5-softui-dash/css/soft-ui-dashboard.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('fonts/awesome/web-fonts-with-css/css/all.min.css') }}">
{% endblock %}

{% block title %}Nuevo TypeBlock{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary py-1">
                <h4 class="card-title ">TypeBLock (Bloques Principales de AlamedaCMS)</h4>
                <p class="card-category"> Nuevo TypeBLock </p>
            </div>
            <div class="card-body">

                {{ include('type_block/_form.html.twig') }}
                <a href="{{ path('type_block_index') }}" class="inline-block">
                    {% include 'bases/_volver.html.twig' %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
