{% extends 'base.html.twig' %}

{% block title %}Edit ChannelFeed{% endblock %}

{% block body %}
    <h1>Edit ChannelFeed</h1>

    {{ include('channel_feed/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('channel_feed_index') }}">back to list</a>

    {{ include('channel_feed/_delete_form.html.twig') }}
{% endblock %}
