<section class="a-content-space-medium text-center h-100 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-1 mx-auto "></div>
                <div class="col-md-10 mx-auto ">
                    <div class="row justify-content-center main-60"
                         style="background-image: url(/images/avanza/fondo-camino-index.jpg); background-repeat: no-repeat; background-size:cover">
                        <div class="col-sm-11">
                            <div class="container text-center p-5">
                                <h4>
                                    <b class="aire-2 text-uppercase text-dark">
                                        Descubre tu propósito <br/>
                                        con el camino de crecimiento
                                    </b>
                                </h4>
                            </div>
                            <div class="container mb-5">
                                <div class="row">
                                    <div class="col-md-4 mb-sm-4">
                                        <div class="pasos h-100">
                                            <a href="/avanza.php">
                                                <div class="card card-plain bg-white h-100">
                                                    <div class="col-sm-4 mx-auto text-center img-20">
                                                        <img src="/images/avanza/paso-1.jpg" alt="Iglesia de La Alameda"
                                                             class="img-raised rounded-circle img-fluid"/>
                                                    </div>
                                                    <h4 class="card-title text-center text-alameda ">
                                                        <i>pasoUNO</i>
                                                    </h4>
                                                    <div class="card-body">
                                                        <p class="card-description text-center text-dark">
                                                            29 de agosto
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-sm-4">
                                        <div class="pasos h-100">
                                            <a href="/avanza.php">
                                                <div class="card card-plain bg-white h-100 ">
                                                    <div class="col-sm-4 mx-auto text-center img-20">
                                                        <img src="/images/avanza/paso-2.jpg" alt="Iglesia de La Alameda"
                                                             class="img-raised rounded-circle img-fluid">
                                                    </div>
                                                    <h4 class="card-title text-center text-alameda">
                                                        <i>pasoDOS</i>
                                                    </h4>
                                                    <div class="card-body">
                                                        <p class="card-description text-center text-dark ">
                                                            5 de setiembre
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-sm-4">
                                        <div class="pasos h-100">
                                            <a href="/avanza.php">
                                                <div class="card card-plain bg-white h-100">
                                                    <div class="col-sm-4 mx-auto text-center img-20">
                                                        <img src="/images/avanza/paso-3.jpg" alt="Iglesia de La Alameda"
                                                             class="img-raised rounded-circle img-fluid">
                                                    </div>
                                                    <h4 class="card-title text-center text-alameda">
                                                        <i>pasoTRES</i>
                                                    </h4>
                                                    <div class="card-body">
                                                        <p class="card-description text-center text-dark">
                                                            12 de setiembre
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 mx-auto "></div>
            </div>
        </div>
    </div>
</section>