{#
# Template section bienvenida.html.twig
# No necesita entradas
#}
<section class="u-content-space border-bottom py-5 bg-gris-medio ">
    <div class="container text-center">
        <h2 class="fuente-arial-nova">
            {{ section.title | replace({'<p>':'', '</p>':''}) | raw }}
        </h2>
        <span class="mb-0 text-14-300 ">
                {{ section.contenido | replace({'<p>':'', '</p>':''}) | raw }}
            </span>
    </div>
</section>
