<section class="p5-5 mt-1 " id="second">
    <div class="row text-center">
        {% for entrada in section.entrada %}
            {%  include 'modelEntrada/'~entrada.modelTemplate~'.html.twig' with { 'section':entrada } %}
        {% endfor %}

    </div>
</section>
<style>
    strong {
        font-weight: 400 !important
    }

    .card-text {
        font-size: 1.3em !important;
        font-weight: 600 !important;
    }
    .card {
        margin-bottom: 15px !important;
        margin-top: 15px !important;
    }
    .blockquote{
        margin-bottom: 10px !important;
    }

    /*.left-card {*/
    /*    float: left;*/
    /*    width: 50%;*/
    /*}*/

    /*.right-card {*/
    /*    float: left;*/
    /*    width: 50%;*/
    /*}*/

</style>