<section class="{{ section.cssClass | default('bg-alameda page-section mt-n1') }} ">
    <div class="container-fluid">
        <header class="text-center w-md-50 mx-auto mt-a35   mb-8 text-black-75">
            <h2 class="h4 pt-3">
                <a href="https://online.iglesiaalameda.com" class="text-black-75 ArialLight" target="_blank">
                    <span class="text-secondary">{{ section.title | replace({'<p>':'', '</p>':''}) | raw }}</span>
                    <span class="mr-2"></span>
                    <span class="text-secondary ">
                {{ section.contenido | replace({'<p>':'', '</p>':''}) | raw }}
            </span>
                </a>
            </h2>
            <hr>
        </header>
    </div>
</section>
