<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="css/foundation-icons.css" rel="stylesheet">
            <link href="css/mdb.min.css" rel="stylesheet">
            <link href="css/business-casual.min.css?v=<?php echo $version ?>" rel="stylesheet">
            <link href="css/igles.css?v=<?php echo $version ?>" rel="stylesheet">

            <link href="css/alameda/fontAlameda.css" rel="stylesheet">
            <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="css/swiper.min.css" rel="stylesheet">

            <!--    <link href="css/awasome/web-fonts-with-css/css/fontawesome-all.min.css " rel="stylesheet">-->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">
            <!--<script src="js/awasome/fontawesome-all.min.js"></script>-->

            <!-- Custom fonts for this template -->
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
            <link href="css/fonts/univers/font.css?v=<?php echo $version ?>" rel="stylesheet">

        {% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <script type="text/javascript" src="js/jquery.countdown.js"></script>
            <script type="text/javascript" src="js/swiper.min.js"></script>

            <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip({html: true, placement: "bottom"});
                });
            </script>
            <script type="text/javascript">

                $('.carousel').carousel({
                    interval: 10000
                })

                $('[data-countdown]').each(function() {
                    var $this = $(this), finalDate = $(this).data('countdown');
                    $this.countdown(finalDate, function(event) {

                        var semanas = event.offset.weeks;
                        var dias = event.offset.days;
                        var horas = event.offset.hours;
                        var minutos = event.offset.minutes;
                        var segundos = event.offset.seconds;

                        var letrasS = " semanas"
                        if (dias > 1){ var letrasD = " %d días" + "<br/>"}
                        if (dias == 1){ var letrasD = " %d día" + "<br/>"}
                        if (dias < 1){ var letrasD = " "}
                        if (semanas == 1){ var letrasW = "%w semana" + "<br/>"}
                        if (semanas < 1){ var letrasW = " "}
                        if (minutos > 1){ var letrasM = " %M minutos" + "<br/>"}
                        if (minutos == 1){ var letrasM = " %M minuto" + "<br/>"}
                        if (minutos < 1){ var letrasM = " "}
                        if (horas > 1){ var letrasH = " %H horas" + "<br/>"}
                        if (horas == 1){ var letrasH = " %H hora" + "<br/>"}
                        if (horas < 1){ var letrasH = " "}
                        if (segundos > 1){ var letrasS = " %S segundos" + "<br/>"}
                        if (segundos == 1){ var letrasS = " %S segundo" + "<br/>"}
                        if (segundos < 1){ var letrasS = " "}

                        if(dias==0 && semanas == 0 && horas == 0 && minutos ==0 && segundos == 0){
                            letrasB = '¡BIENVENIDOS!'
                        }else{
                            letrasB = ''
                        }
                        /*$(this).append().html(event.strftime(' letrasW + letrasD + letrasH + letrasM + letrasS));*/


                        $this.html(event.strftime('<div class="text-info card-body h-100 my-auto ">'+
                            letrasW + letrasD + letrasH + letrasM + letrasB
                            +'</div>'));
                    });
                });

            </script>
            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper('.swiper-container', {
                    effect: 'coverflow',
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: 'auto',
                    coverflowEffect: {
                        rotate: 50,
                        stretch: 0,
                        depth: 100,
                        modifier: 1,
                        slideShadows : true,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    autoplay: {
                        delay: 7500,
                        disableOnInteraction: false,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            </script>
        {% endblock %}
    </body>
</html>

<?php
    $lema = 'Disfruta el Viaje';
    $lemaSinEspacios = 'DisfrutaElViaje';
    $ahora = date('Y-m-d H:i');
    $version = date('YmdHi');
    $domingo = strtotime('today');
    include_once ('gerVendor/gerFunctions.php')
?>
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=",
     <?php
     echo $lema;
     ?>
     , Iglesia Bautista, Celebracion, Dios, Fe, Amistad, Arte,
    Libertad, Servicio, Misión">
    <meta name="author" content="Iglesia de la Alameda">

    <meta property="og:title" content="Iglesia Alameda" />
    <meta property="og:type" content="website" />

    <meta property="og:url" content="https://www.iglesialameda.com/index.php" />
    <!--    <meta property="og:image" content="https://www.iglesialameda.com/imagenes/meta/">-->
    <meta property="og:image" content="https://www.iglesialameda.com/imagenes/og/og-base.png">
    <title>Iglesia de la Alameda</title>
    <link rel="icon" href="imagenes/index.png" sizes="32x32" />
    <link rel="icon" href="nueva/imagenes/index.png" sizes="32x32" />
    <link rel="icon" href="imagenes/index192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="../imagenes/indexapple.png" />

    <!-- Bootstrap core CSS -->




    <!-- Custom styles for this template -->

    <style>
        /*.swiper-container {*/
        /*width: 100vw;*/
        /*height: 100vh;*/
        /*padding: 50px;*/
        /*}*/
        /*.swiper-slide {*/
        /*background-position: center;*/
        /*background-size: cover;*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*}*/
        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
        }
    </style>


</head>

<body>

<!--<h1 class="site-heading text-center text-white d-sm-block">-->
<!--      <span class="section-heading-upper">-->
<!--        <img src="imagenes/LOGO_ALAMEDA_CON_TEXTO_B.png" style="max-height: 150px" class="img-fluid mt-5">-->
<!--      </span>-->
<!---->
<!---->
<!--</h1>-->

<?php include 'nav.php'; ?>


<?php include ('footer.php'); ?>

<!-- Bootstrap core JavaScript -->



</body>

</html>

