{% extends 'base_coreui.html.twig' %}

{% block title %}New Organization{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('admin') }}">Panel</a></span>
    </li>
    <li class="breadcrumb-item ">
        <span>
            <a href="{{ path('admin_organization_index') }}">
                Organización
            </a>
        </span>
    </li>
    <li class="breadcrumb-item active"><span>Crear</span></li>
{% endblock %}

{% block content %}
    <div class="col-sm-6 mx-auto text-center m-4">
        <h4 class="border border-primary border-top-0">Agregar datos organización</h4>
    </div>
<div class="form-container">
    {{ include('admin/organization/_form.html.twig') }}
</div>
    <a href="{{ path('admin_organization_index') }}">Volver al listado</a>
{% endblock %}
