{% extends 'base_coreui.html.twig' %}

{% block title %}New Organization{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('admin') }}">Panel</a></span>
    </li>
    <li class="breadcrumb-item ">
        <span>
            <a href="{{ path('admin_organization_index') }}">
                Organización
            </a>
        </span>
    </li>
    <li class="breadcrumb-item active"><span>Detalle</span></li>
{% endblock %}

{% block content %}
    <h1>Crear Organización</h1>

    {{ include('organization/_form.html.twig') }}

    <a href="{{ path('admin_organization_index') }}">Vovler al listado</a>
{% endblock %}
