<form method="post" action="{{ path('app_blocs_fixes_delete', {'id': blocs_fix.id}) }}"
      onsubmit="return confirm('¿Está seguro de borrar este bloque fijo?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blocs_fix.id) }}">
    <button class="btn btn-danger col-12">Borrar</button>
</form>
