{% extends 'base.html.twig' %}

{% block title %}Edit BlocsFixes{% endblock %}

{% block body %}
    <h1>Edit BlocsFixes</h1>

    {{ include('admin/blocs_fixes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blocs_fixes_index') }}">back to list</a>

    {{ include('admin/blocs_fixes/_delete_form.html.twig') }}
{% endblock %}
