{% extends 'admin_brote/base_brote.twig' %}

{% block title %}{{ brote.titulo }}{% endblock %}



{% block contenido_body %}
    <h5>Edición de "{{ brote.titulo }}" </h5>
    <div class="form-container">
        {{ include('admin_brote/_form.html.twig',
            {
                button_label :'Actualizar'
            }) }}
    </div>
    <a class="btn btn-link" href="{{ path('admin_brote_list') }}"><i class="fas fa-backspace"></i> Volver al listado de Brotes</a>
{% endblock %}


