{% extends 'base.html.twig' %}

{% block title %}New Derivada{% endblock %}

{% block body %}
    <h1>Create new Derivada</h1>

    {{ include('derivada/_form.html.twig') }}

    <a href="{{ path('derivada_index') }}">back to list</a>
{% endblock %}
