{% extends 'base_coreui.html.twig' %}

{% block title %}Edit BarraNav{% endblock %}

{% block body %}
    <h1>Edit BarraNav</h1>

    {{ include('barra_nav/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_barra_nav_index') }}">back to list</a>

    {{ include('barra_nav/_delete_form.html.twig') }}
{% endblock %}
