{% extends 'base.html.twig' %}

{% block title %}New Comentario{% endblock %}

{% block body %}
    <h1>Create new Comentario</h1>

    {{ include('comentario/_form.html.twig') }}

    <a href="{{ path('admin_comentarios') }}">back to list</a>
{% endblock %}
