<div class="col-sm-12">
    <h3>
        Desbordado de esperanza
        <br/>
        <small>
            Serie: El mundo está en sus manos - Parte 5
        </small>
    </h3>
</div>
<div class="col-sm-12">

    <strong>
        Para triunfar en este año desafiante, necesitas algo más que simplemente tener esperanza, necesitas desbordar de
        esperanza.
    </strong>
    <p class="text-info">
        "
        Que con la fuerza del Espíritu Santo desborden de esperanza.
        "
        <br/>
        <small>Romanos 15:13 (SM)</small>
    </p>

    <br/>
    {# Confía en la perspectiva de Dios #}
    {# <small><i class="fa fa-star" id="xpuno"> </i></small> #}
    {# <label id="lpuno"> </label> #}
    {# <label id="sinpuno"> #}
    {# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
    {# </label> #}
    <div class="col-sm-12">
        <strong>
            Vivir desbordado de esperanza es:
        </strong>
        <ol class="list-group ">
            <li class="shadow-sm shadow-blue mb-3  ">
                    Estar plenamente convencido
                    <p class="text-info">
                        "
                        Abraham estaba plenamente convencido de que Dios es poderoso para cumplir todo lo que promete.
                        "
                        <br/>
                        <small>
                            Romanos 4:21 (NTV)
                        </small>
                        <br/>

                        "
                        Aun cuando no había motivos para tener esperanza, Abraham siguió teniendo esperanza….
                        "
                        <br/>
                        <small>
                            Romanos 4:18 (NTV)
                        </small>
                        <br/>
                        "
                        Abraham lo creyó, aun cuando aquello estaba al borde de lo imposible.
                        "
                        <br/>
                        <small>
                            Romanos 4:18 (BAD)
                        </small>
                        <br/>
                        "
                        ¿Existe algo demasiado difícil para el SEÑOR? Regresaré dentro de un año, y Sara tendrá un hijo.
                        "
                        <br/>
                        <small>
                            Génesis 18:14 (NTV)
                        </small>
                    </p>

            </li>
            <li class="shadow-sm shadow-blue mb-3  ">
                No te conmueven las circunstancias.
                <p class="text-info">
                    "La fe de Abraham no se debilitó a pesar de que él reconocía que, por tener unos cien años de edad,
                    su cuerpo ya estaba muy anciano para tener hijos, igual que el vientre de Sara."
                    <br/>
                    <small>Romanos 4:19 (NTV)</small>
                </p>

            </li>
            <li class="shadow-sm shadow-blue mb-3  ">
                Hablas con certeza de victoria.
                <p class="text-info">
                    "Ciertamente tu bondad y tu amor inagotable me seguirán todos los días de mi vida"
                    <br/>
                    <small>Salmos 23:6 (NTV)</small>
                    <br/>
                    "Estoy completamente seguro de que tu bondad y tu amor me acompañarán mientras yo viva"
                    <br/>
                    <small>Salmos 23:6 (TLA)</small>
                    <br/>
                    "Pero de una cosa estoy seguro: he de ver la bondad del Señor."
                    <br/>
                    <small>Salmos 27:13 (NVI)</small>
                    <br/>
                    "Caleb hizo callar al pueblo ante Moisés, y dijo: Subamos a conquistar esa tierra. Estoy seguro de
                    que podremos hacerlo."
                    <br/>
                    <small>Números 13:30 (NVI)</small>
                </p>

            </li>
            <li class="shadow-sm shadow-blue mb-3  ">
                Descansas en la fidelidad de Dios.
                <p class="text-info">
                    "Estoy convencido de que Dios empezó una buena obra entre ustedes y la continuará hasta
                    completarla."
                    <br/>
                    <small>Filipenses 1:6 (PDT)</small>
                </p>

            </li>
        </ol>

    </div>


</div>

{# {{ encore_entry_script_tags('nota_mensaje') }} #}


