<div class="col-sm-12">
    <h3>
        EN LA SIGUIENTE TORMENTA
        <br/>
        <small>
            Serie: El mundo está en sus manos - Parte 4
        </small>
    </h3>
</div>
<div class="col-sm-12">


    <p class="text-info">
        "
        Inmediatamente después, Jesús insistió en que los discípulos regresaran a la barca y cruzaran al otro lado del lago mientras él enviaba a la gente a casa. Después de despedir a la gente, subió a las colinas para orar a solas. Mientras estaba allí solo, cayó la noche. Mientras tanto, los discípulos se encontraban en problemas lejos de tierra firme, ya que se había levantado un fuerte viento y luchaban contra grandes olas.
        "
        <br/>
        <small>Mateo 14:22 – 24 NTV.</small>
    </p>

    <br/>
    Confía en la perspectiva de Dios
    <small><i class="fa fa-star" id="xpuno"> </i></small>
    <label id="lpuno"> </label>
    <label id="sinpuno">
        <input id="puno" class="input-group-sm " placeholder="puedes completar aquí">
    </label>

    <br/>

    <p class="text-info">
        "
        Él contempla desde su trono a todos los habitantes de la tierra. Salmos 33:14 NVI
        "

    </p>
    <p class="text-info">
        "
        A eso de las tres de la madrugada, Jesús se acercó a ellos caminando sobre el agua. Cuando los discípulos lo vieron caminar sobre el agua, quedaron aterrados. Llenos de miedo, clamaron: « ¡Es un fantasma!». Mateo 14: 25 -26 NTV
        "
    </p>

    <br/>
    Creé que Dios es confiable
    <small><i class="fa fa-star" id="xpdos"> </i></small>
    <label id="lpdos"> </label>
    <label id="sinpdos">
        <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí">
    </label>

    <br/>

    <p class="text-info">
        "
        Depositen en él toda ansiedad, porque él cuida de ustedes. 1 Pedro 5:7 NVI
        "

    </p>
    <p class="text-info">
        "
        Pero Jesús les habló de inmediato: —No tengan miedo—dijo—. ¡Tengan ánimo! ¡Yo estoy aquí!  Mateo 14:27 NTV.
        "
    </p>

    <br/>
    Comprendé que Dios tiene tu vida en sus manos
    <small><i class="fa fa-star" id="xptres"> </i></small>
    <label id="lptres"> </label>
    <label id="sinptres">
        <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí">
    </label>

    <br/>


    <h4>
        <strong>
            La palabra del Señor vino a Jonás hijo de Amitay: «Anda, ve a la gran ciudad de Nínive y proclama contra ella que su maldad ha llegado hasta mi presencia». Jonás se fue, pero en dirección a Tarsis, para huir del Señor. Bajó a Jope, donde encontró un barco que zarpaba rumbo a Tarsis.…Pero el Señor lanzó sobre el mar un fuerte viento, y se desencadenó una tormenta tan violenta que el barco amenazaba con hacerse pedazos. Jonás 1:1-4 NVI <br/>
            Las aguas me llegaban hasta el cuello, lo profundo del océano me envolvía;
            las algas se me enredaban en la cabeza, arrastrándome a los cimientos de las montañas. Me tragó la tierra, y para siempre sus cerrojos se cerraron tras de mí.
            Pero tú, Señor, Dios mío, me rescataste de la fosa. Jonás 2:5-6 NVI
        </strong>

    </h4>
    <br/>


    <br/>
    <h4>

        Pero cuando vio el fuerte viento y las olas, se aterrorizó y comenzó a hundirse. — ¡Sálvame, Señor!—gritó. De inmediato, Jesús extendió la mano y lo agarró. —Tienes tan poca fe—le dijo Jesús—. ¿Por qué dudaste de mí? Cuando subieron de nuevo a la barca, el viento se detuvo. Entonces los discípulos lo adoraron. « ¡De verdad eres el Hijo de Dios!», exclamaron. Mateo 14: 30–33  NTV
    </h4>



</div>

{{ encore_entry_script_tags('nota_mensaje') }}


