<div class="col-sm-12">
    <h3>
        REIVINDICACIÓN PÚBLICA
        <br/>
        <small>
            Serie: Cuando Dios está en tu vida – Parte 7
        </small>
    </h3>
    <hr/>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Tú preparas mesa delante de mí en presencia de mis enemigos"
        <br/>
        <small class="float-right  ">
            Salmos 23:5 (NBLH)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Aderezas mesa delante de mí  en presencia de <b><u>mis angustiadores</u></b>.”
        <br/>
        <small class="float-right  ">
            Salmos 23:5 (RV95)
        </small>
    </p>

</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h4>
                TRES COSAS QUE MIS ANGUSTIADORES NO SABEN
        </h4>
        <strong>
            1. DIOS ESTÁ {{ completa_lugar('uno') | raw}} MI REIVINDICACIÓN
        </strong>
        <br/>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Tú <b><u>preparas</u></b> mesa delante de mí en presencia de mis enemigos"
            <br/>
            <small class="float-right">
                Salmos 23:5 (NBLH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Ciertamente he visto la opresión que sufre mi pueblo… Estoy al tanto de sus sufrimientos.
            Por eso he descendido para rescatarlos del poder de los egipcios."
            <br/>
            <small class="float-right">
                Éxodo 3:7-8 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El Señor ha dicho: "A mí me corresponde hacer justicia; yo pagaré."
            <br/>
            <small class="float-right">
                Hebreos 10:30 (DHH)
            </small>
        </p>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Yo daré la retribución."
            <br/>
            <small class="float-right">
                Hebreos 10:30 (BPD)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Además haré que los egipcios los miren con agrado. Les darán obsequios cuando salgan,
            de modo que <b>no se irán con las manos vacías</b>.”
            <br/>
            <small class="float-right">
                Éxodo 3:21 (NTV)
            </small>
        </p>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Toda mujer israelita pedirá a sus vecinas egipcias y a las mujeres extranjeras que vivan con ellas toda clase de objetos de plata y de oro, y prendas costosas. Con estos vestirán a sus hijos e hijas. Así despojarán a los egipcios de sus riquezas."
            <br/>
            <small class="float-right">
                Éxodo 3:21-22 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Como mi pueblo ha tenido que sufrir doble porción de deshonra e insultos,
            por eso recibirá en su país <u>doble porción de riquezas</u> y gozará de eterna alegría."
            <br/>
            <small class="float-right">
                Isaías 61:7 (DHH)
            </small>
        </p>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Yo los compensaré por los años de cosecha que se han comido las langostas,..”
            <br/>
            <small class="float-right">
                Joel 2:25 (PDT)
            </small>
        </p>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Comerán hasta que queden satisfechos.”
            <br/>
            <small class="float-right">
                Joel 2:26 (PDT)
            </small>
        </p>

        <strong>
            2. PUEDO {{ completa_lugar('dos') | raw}} POR FE SU JUSTICIA
        </strong>
        <br/>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Tú preparas mesa <b><u>delante de mí</u></b> en presencia de mis enemigos"
            <br/>
            <small class="float-right">
                Salmos 23:5 (NBLH)
            </small>
        </p>

        <strong>
            3. DIOS LO HARÁ DE MANERA {{ completa_lugar('tres') | raw}}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Tú preparas mesa delante de mí <b><u>en presencia de</u> mis enemigos</b>"
            <br/>
            <small class="float-right">
                Salmos 23:5 (NBLH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El Señor dijo:… “Voy a hacer cosas maravillosas que no han sido hechas en ninguna otra nación de
            la tierra, y <b>toda la gente entre la que ustedes se encuentran verá lo que el Señor puede hacer</b>,
            pues será maravilloso lo que yo haré con ustedes."
            <br/>
            <small class="float-right">
                Éxodo 34:10 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Hoy el SEÑOR te conquistará, y yo te mataré.., ¡<u>y todo el mundo sabrá que hay un Dios en Israel</u>!
            Todos los que están aquí reunidos <u>sabrán que el SEÑOR rescata a su pueblo</u>,
            pero no con espada ni con lanza. ¡Esta es la batalla del SEÑOR!"
            <br/>
            <small class="float-right">
                1 Samuel 17:46-47 (NTV)
            </small>
        </p>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Haz que mi vida refleje lo bueno que eres tú. Quedarán en ridículo mis enemigos cuando vean que tú me das ayuda y consuelo."
            <br/>
            <small class="float-right">
                Salmos 86:17 (TLA)
            </small>
        </p>
    </div>
</div>
<hr/>

{{ encore_entry_script_tags('nota_mensaje') }}
