<div class="col-sm-12">
    <h3>
        EL VIRUS LETAL DEL CINISMO
        <br/>
        <small>
            Serie: Infectados - Parte 1
        </small>
    </h3>
</div>
<div class="col-sm-12">

    <strong>
        Cinismo es esa renuncia interior a la <small><i class="fa fa-star" id="xpuno"> </i></small>
         <label id="lpuno"> </label>
         <label id="sinpuno">
         <input id="puno" class="input-group-sm " placeholder="puedes completar aquí">
         </label> , que infecta cada parte de nuestra vida.

    </strong>
    <p class="text-info">
        "
        ¿Y qué beneficio obtienes si ganas el mundo entero pero pierdes tu propia alma? ¿Hay algo que valga más que tu alma?.
        "
        <br/>
        <small>
            Mateo 16:26 (NTV)
        </small>
    </p>

    <br/>
    {# Confía en la perspectiva de Dios #}
    {# <small><i class="fa fa-star" id="xpuno"> </i></small> #}
    {# <label id="lpuno"> </label> #}
    {# <label id="sinpuno"> #}
    {# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
    {# </label> #}
    <div class="col-sm-12">
        <strong>
            El proceso del cinismo.
        </strong>
        <br/>
        1. E<small><i class="fa fa-star" id="xpdos"> </i></small>
        <label id="lpdos"> </label>
        <label id="sinpdos">
            <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí">
        </label> algo.
        <br/>
        2. Nos golpeamos con la <small><i class="fa fa-star" id="xptres"> </i></small>
        <label id="lptres"> </label>
        <label id="sinptres">
            <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí">
        </label> y la <small><i class="fa fa-star" id="xpcuatro"> </i></small>
        <label id="lpcuatro"> </label>
        <label id="sinpcuatro">
            <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí">
        </label>.
        <br />
        <p class="text-info">
            "
            Francamente, »mientras más sabiduría, más problemas; mientras más se sabe, más se sufre.
            "
            <br/>
            <small>
                Eclesiastés 1:18 (NVI)
            </small>
        </p>
        <br />
        <p class="text-info">
            "
            Había sufrido mucho a manos de varios médicos, y se había gastado todo lo que tenía sin que le hubiera servido de nada, pues en vez de mejorar, iba de mal en peor.
            "
            <br/>
            <small>
                Marcos 5:26 (NVI)
            </small>
        </p>
        <br/>
        3. Comenzamos a proyectar el pasado <small><i class="fa fa-star" id="xpcinco"> </i></small>
        <label id="lpcinco"> </label>
        <label id="sinpcinco">
            <input id="pcinco" class="input-group-sm " placeholder="puedes completar aquí">
        </label>.
        <br/>
        4. Dejamos de <small><i class="fa fa-star" id="xpseis"> </i></small>
        <label id="lpseis"> </label>
        <label id="sinpseis">
            <input id="pseis" class="input-group-sm " placeholder="puedes completar aquí">
        </label> y tener esperanza.

        <br />
        <p class="text-info">
            "
            Uno de ellos era un hombre que hacía treinta y ocho años que estaba enfermo. Cuando Jesús lo vio y supo qué hacía tanto que padecía la enfermedad, le preguntó: ¿Te gustaría recuperar la salud?
            "
            <br/>
            <small>
                Juan 5:5-6 (NTV)
            </small>
        </p>
        <span>El cinismo es una elección.</span>
        <br/>
        <strong>
            Maneras prácticas de derrotar a tu cínico interior
        </strong>
        <br/>
        1. Se <small><i class="fa fa-star" id="xpsiete"> </i></small>
        <label id="lpsiete"> </label>
        <label id="sinpsiete">
            <input id="psiete" class="input-group-sm " placeholder="puedes completar aquí">
        </label>
        <br />
        <p class="text-info">
            "
            --Les aseguro que a menos que ustedes cambien y se vuelvan como niños, no entrarán en el reino de los cielos.
            "
            <br/>
            <small>
                Mateo 18:3 (NVI)
            </small>
        </p>
        <br/>
        2. Vuelve a <small><i class="fa fa-star" id="xpocho"> </i></small>
        <label id="lpocho"> </label>
        <label id="sinpocho">
            <input id="pocho" class="input-group-sm " placeholder="puedes completar aquí">
        </label>
        <br />
        <p class="text-info">
            "
            Cuando oyó hablar de Jesús, se le acercó por detrás entre la gente y le tocó el manto. Pensaba: "Si logro tocar siquiera su ropa, quedaré sana." Al instante cesó su hemorragia, y se dio cuenta de que su cuerpo había quedado libre de esa aflicción.
            "
            <br/>
            <small>
                Marcos 5:27-29 (NVI)
            </small>
        </p>
        <br/>
        3. P<small><i class="fa fa-star" id="xpnueve"> </i></small>
        <label id="lpnueve"> </label>
        <label id="sinpnueve">
            <input id="pnueve" class="input-group-sm " placeholder="puedes completar aquí">
        </label> la bondad de Dios.
        <br />
        <p class="text-info">
            "
            Jesús le dijo: ¡Ponte de pie, toma tu camilla y anda!  ¡Al instante, el hombre quedó sano! Enrolló la camilla, ¡y comenzó a caminar!
            "
            <br/>
            <small>
                Juan 5:8-9 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            La medicina para el cinismo: la <small><i class="fa fa-star" id="xpdiez"> </i></small>
            <label id="lpdiez"> </label>
            <label id="sinpdiez">
                <input id="pdiez" class="input-group-sm " placeholder="puedes completar aquí">
            </label> .
        </strong>
    </div>

</div>

 {{ encore_entry_script_tags('nota_mensaje') }}
