<div class="col-sm-12">
    <h4>
        UNA COMUNIDAD NUEVA<br/>
        <small>
            Serie: Audaz Nuevo Mundo – Parte 3
        </small>
    </h4>
</div>
<div class="col-sm-12">
    "Ustedes han oído que se dijo a sus antepasados: 'No <b>mates</b>, y todo el que mate quedará sujeto al juicio del
    tribunal.' Pero yo les digo que todo el que se <b>enoje</b> con su hermano quedará sujeto al juicio del tribunal.
    Es más, cualquiera que <b>insulte</b> a su hermano quedará sujeto al juicio del Consejo. Pero cualquiera que lo
    <b>maldiga</b> quedará sujeto al juicio del infierno.
    <br/>
    "Por lo tanto, si estás presentando tu ofrenda en el altar y allí recuerdas que <b>tu hermano</b> tiene algo contra
    ti, deja tu ofrenda allí delante del altar. Ve primero y <b>reconcíliate</b> con tu hermano; luego vuelve y presenta tu
    ofrenda.<br/>
    “Si <b>tu adversario te va a denunciar</b>, llega a un <b>acuerdo</b> con él lo más pronto posible. Hazlo mientras
    vayan de camino al juzgado, no sea que te entregue al juez, y el juez al guardia, y te echen en la <b>cárcel</b>.
    Te aseguro que no saldrás de allí hasta que pagues el último centavo.*" Mateo 5:21-26 (NVI)<br/>
    <br/>

    <strong class="text-14-300 text-invitacion">Desmantelando el odio:</strong><br/>

    1.
    <small><i class="fa fa-star" id="xpuno"> </i></small>
    <label id="lpuno"> </label>
    <label id="sinpuno">
        <input id="puno"  class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    tu adversario
    <br/>
    2.
    <small><i class="fa fa-star" id="xpdos"> </i></small>
    <label id="lpdos"> </label>
    <label id="sinpdos">
        <input id="pdos"  class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <br/>
    <b>“Ve primero y reconcíliate con tu hermano” Mateo 5:24 (NVI)</b>
    <br/>

    3. Limpia tu
    <small><i class="fa fa-star" id="xptres"> </i></small>
    <label id="lptres"> </label>
    <label id="sinptres">
    <input id="ptres"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label><br/>
    "Ponte a buenas con tu adversario cuanto antes” Mateo 5:25 (NVI)<br/><br/>
    "Las palabras que ustedes dicen provienen del corazón; eso es lo que los contamina." Mateo 15:18-19 (NTV)
    <br/><br/>

    El combustible del odio: el
    <small><i class="fa fa-star" id="xpcuatro"> </i></small>
    <label id="lpcuatro"> </label>
    <label id="sinpcuatro">
    <input id="pcuatro"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label> y la
    <small><i class="fa fa-star" id="xpcinco"> </i></small>
    <label id="lpcinco"> </label>
    <label id="sinpcinco">
        <input id="pcinco"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label>
    <br/>
    "Sigamos amándonos unos a otros, porque el amor viene de Dios. Todo el que ama es un hijo de Dios y conoce a Dios;
    pero el que no ama no conoce a Dios, porque Dios es amor." 1 Juan 4:7-8 (NTV)
    <br/><br/>
    "En esa clase de amor no hay temor, porque el amor perfecto expulsa todo temor. Si tenemos miedo es por temor al
    castigo, y esto muestra que no hemos experimentado plenamente el perfecto amor de Dios.” 1 Juan 4:18 (NTV)
    <br/><br/>
    “Nos amamos unos a otros, porque él nos amó primero.” 1 Juan 4:18 (NTV)
    <br/><br/>
    "Por la muerte de Cristo en la cruz, Dios perdonó nuestros pecados y nos liberó de toda culpa. Esto lo hizo por su
    inmenso amor. Por su gran sabiduría y conocimiento," Efesios 1:7 (TLA)
    <br/><br/>

    <b>
        Solo la cruz de Cristo puede sanar el miedo y la culpa del corazón de nuestra humanidad.
    </b>

</div>
