<div class="col-sm-12">
    <h4>
        HASTA HALLAR TU PAZ
        <br/>
        <small>
            Serie: El mundo está en Sus manos - Parte 2
        </small>
    </h4>
</div>
<div class="col-sm-12">

    <h3>
        DIOS FORJA TU CARÁCTER EN MEDIO DE LA INCERTIDUMBRE
    </h3>
    <p class="text-info">
        "Y sabemos que Dios hace que todas las cosas cooperen para el bien de quienes lo aman y son llamados
        según el propósito que él tiene para ellos " Romanos 8:28 (NTV)
        <br/>

    </p>



    <br/>
{#    <small><i class="fa fa-star" id="xpuno"> </i></small>#}
{#    <label id="lpuno"> </label>#}
{#    <label id="sinpuno">#}
{#        <input id="puno"  class="input-group-sm " placeholder="puedes completar aquí">#}
{#    </label>#}

    <br/>

    <h4>
        ¿QUÉ HACER MIENTRAS TANTO?<br/>
        Filipenses 4:4-7(NVI)
    </h4><br/>
    <p class="text-info">
        <sup>4</sup>
        "Alégrense siempre en el Señor. Insisto: ¡Alégrense!."
    </p>
    <p class="text-info">
        <sup>5</sup>
        "Que su amabilidad sea evidente a todos ...<br/>
        ... el Señor está cerca "
    </p>
    <p class="text-info">
        <sup>6</sup>
        "No se inquieten por nada; más bien, en toda ocasión, con oración y ruego,
        presenten sus peticiones a Dios y denle gracias"
    </p>
    <p class="text-info">
        <sup>7</sup>
        "Y la paz de Dios, que sobrepasa todo entendimiento, cuidará sus corazones y sus pensamientos en Cristo Jesús."
    </p>

    <br/>
    <br/>
    <br/>

{#    <small><i class="fa fa-star" id="xpdos"> </i></small>#}
{#    <label id="lpdos"> </label>#}
{#    <label id="sinpdos">#}
{#        <input id="pdos"  class="input-group-sm " placeholder="puedes completar aquí">#}
{#    </label>#}
    <br/>
{#  Punto 3   #}
{#    <small><i class="fa fa-star" id="xptres"> </i></small>#}
{#    <label id="lptres"> </label>#}
{#    <label id="sinptres">#}
{#    <input id="ptres"  class="input-group-sm " placeholder="escribe la palabra completa" >#}
{#    </label><br/>#}

{# Punto 4#}
{#    <small><i class="fa fa-star" id="xpcuatro"> </i></small>#}
{#    <label id="lpcuatro"> </label>#}
{#    <label id="sinpcuatro">#}
{#    <input id="pcuatro"  class="input-group-sm " placeholder="escribe la palabra completa" >#}
{#    </label>#}
    <br/>

    <br/>
    <h4>
        CUANDO TODO PARECE INCIERTO, RECUERDA<br/>
        EL MUNDO AÚN ESTÁ EN SUS MANOS
    </h4>

        <br/>

        <br/>

{#  Punto 5  #}
{#    <small><i class="fa fa-star" id="xpcinco"> </i></small>#}
{#    <label id="lpcinco"> </label>#}
{#    <label id="sinpcinco">#}
{#        <input id="pcinco"  class="input-group-sm " placeholder="escribe la palabra completa" >#}
{#    </label>#}
    <br/>

</div>

    {{ encore_entry_script_tags('nota_mensaje') }}

