<div class="col-sm-12">
    <h4>
        DAR GRACIAS POR TODO<br/>
        <small>
            Serie: Audaz Nuevo Mundo – Parte 6
        </small>
    </h4>
</div>
<div class="col-sm-12">
    <p class="text-info">
        "Den gracias a Dios en todo, porque ésta es su voluntad para ustedes en Cristo Jesús." 1 Tesalonicenses 5:18 (RVC)
        <br/>

    </p>


    Dos grandes niveles de gratitud
    <br/>
    <small><i class="fa fa-star" id="xpuno"> </i></small>
    <label id="lpuno"> </label>
    <label id="sinpuno">
        <input id="puno"  class="input-group-sm " placeholder="puedes completar aquí">
    </label>

    <br/>

    Dar gracias por lo pasado nos previene de la inmadurez.<br/>
    <p class="text-info">
        "Todo está al servicio de tus planes." Salmos 119:91 (NTV)
    </p>

    <br/>
    <br/>
    <br/>

    <small><i class="fa fa-star" id="xpdos"> </i></small>
    <label id="lpdos"> </label>
    <label id="sinpdos">
        <input id="pdos"  class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <br/>
{#  Punto 3   #}
{#    <small><i class="fa fa-star" id="xptres"> </i></small>#}
{#    <label id="lptres"> </label>#}
{#    <label id="sinptres">#}
{#    <input id="ptres"  class="input-group-sm " placeholder="escribe la palabra completa" >#}
{#    </label><br/>#}

{# Punto 4#}
{#    <small><i class="fa fa-star" id="xpcuatro"> </i></small>#}
{#    <label id="lpcuatro"> </label>#}
{#    <label id="sinpcuatro">#}
{#    <input id="pcuatro"  class="input-group-sm " placeholder="escribe la palabra completa" >#}
{#    </label>#}
    <br/>
    <p>
<b>
    Dar gracias por el futuro nos previene de la nostalgia.
</b>
<br/>
<br/>
    Dar gracias de antemano atrae los milagros de Dios.
    <br/>
    <br/>
</p>
    Dar gracias de antemano atrae los milagros de Dios.
    <br/>
    <br/>
    <p class="text-info">
        "Abraham siempre creyó la promesa de Dios sin vacilar. De hecho, su fe se fortaleció aún más y así le dio gloria a Dios." Romanos 4:20 (NTV)
        <br/>
        <br/>

        <br/>
    </p>
{#  Punto 5  #}
{#    <small><i class="fa fa-star" id="xpcinco"> </i></small>#}
{#    <label id="lpcinco"> </label>#}
{#    <label id="sinpcinco">#}
{#        <input id="pcinco"  class="input-group-sm " placeholder="escribe la palabra completa" >#}
{#    </label>#}
    <br/>

</div>

    {{ encore_entry_script_tags('nota_mensaje') }}

