<div class="col-sm-12">
    <h4>
        AUTÉNTICOS<br/>
        <small>
            Serie: Audaz Nuevo Mundo – Parte 4
        </small>
    </h4>
</div>
<div class="col-sm-12">
    <p class="text-info">
    "Cuando ores, no hagas como los hipócritas a quienes les encanta orar en público,… donde
    todos pueden verlos. Les digo la verdad, no recibirán otra recompensa más que ésa.”
    Mateo 6:5 (NTV)
    <br/>
    <br/>
    “Pero tú, cuando ores, apártate a solas, cierra la puerta detrás de ti y ora a tu Padre
    en privado. Entonces, tu Padre, quien todo lo ve, te recompensará." Mateo 6:6 (NTV)
    <br/>
    <br/>
    </p>


    Hipócritas: <b> Personas que</b>
    <small><i class="fa fa-star" id="xpuno"> </i></small>
    <label id="lpuno"> </label>
    <label id="sinpuno">
        <input id="puno"  class="input-group-sm " placeholder="puedes completar aquí">
    </label>
<b>
    una cosa que en realidad no viven
    </b>
    <br/>
    <br/>
    ¿Cuál es el atractivo de ser un hipócrita?
    <br/>
    <br/>

    “Les digo la verdad, no recibirán otra recompensa más que ésa.” Mateo 6:5 (NTV)
    <br/>
    <br/>
    La recompensa de la hipocresía es lograr agradar a la gente y a la vez sentirnos bien engañándonos a nosotros mismos
    <br/>
    <br/>
    ¿Cuál es la trampa?<br/>
    <i class="fa fa-circle-o"> </i> Simular
    <small><i class="fa fa-star" id="xpdos"> </i></small>
    <label id="lpdos"> </label>
    <label id="sinpdos">
        <input id="pdos"  class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <br/>
    <i class="fa fa-circle-o"> </i> Simular es <b>una vida</b>
    <small><i class="fa fa-star" id="xptres"> </i></small>
    <label id="lptres"> </label>
    <label id="sinptres">
    <input id="ptres"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label><br/>
    <i class="fa fa-circle-o"> </i> Simular será <b>un gran</b>
    <small><i class="fa fa-star" id="xpcuatro"> </i></small>
    <label id="lpcuatro"> </label>
    <label id="sinpcuatro">
    <input id="pcuatro"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label>
    <br/>
<p class="text-info">
    "No todo el que me llama: “¡Señor, Señor!” entrará en el reino del cielo. Sólo entrarán
    aquellos que verdaderamente hacen la voluntad de mi Padre que está en el cielo.
    Mateo 7:21 (NTV)
<br/>
<br/>
    "Pero yo les diré: ¡Apártense de mí, gente malvada! ¡Yo no tengo nada que ver con ustedes!"
    Mateo 7:23 (TLA)
    <br/>
    <br/>
</p>
    ¿Qué es un cristianismo autentico?
    <br/>
    <br/>
    <p class="text-info">
        “Entonces, tu Padre, quien todo lo ve, te <b>recompensará</b>." Mateo 6:6 (NTV)
        <br/>
        <br/>
        "El reino de Dios no consiste en las muchas palabras sino en vivir por el poder de Dios."
        1 Corintios 4:20 (NTV)
        <br/>
        <br/>
    </p>
    Vivir un cristianismo autentico no es religión, es
    <small><i class="fa fa-star" id="xpcinco"> </i></small>
    <label id="lpcinco"> </label>
    <label id="sinpcinco">
        <input id="pcinco"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label>
    <br/>
    <p class="text-info">
    "¡Alégrense! ¡Estén contentos, porque les espera una gran recompensa en el cielo!" Mateo 5:12 (NTV)

    <br/><br/>
    </p>
</div>

    {{ encore_entry_script_tags('nota_mensaje') }}

