<div class="col-sm-12">
    <h3>
        EL VIRUS LETAL DEL ORGULLO
        <br/>
        <small>
            Serie: Infectados - Parte 2
        </small>
    </h3>
</div>
<div class="col-sm-12">

    <strong>
        Manifestaciones en este tiempo <br/>
    </strong>
    <br/>


    {# <p class="text-info"> #}
    {# " #}
    {# ¿Y qué beneficio obtienes si ganas el mundo entero pero pierdes tu propia alma? ¿Hay algo que valga más que tu alma?. #}
    {# " #}
    {# <br/> #}
    {# <small> #}
    {# Mateo 16:26 (NTV) #}
    {# </small> #}
    {# </p> #}


    {# Confía en la perspectiva de Dios #}
    {# <small><i class="fa fa-star" id="xpuno"> </i></small> #}
    {# <label id="lpuno"> </label> #}
    {# <label id="sinpuno"> #}
    {# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
    {# </label> #}
    <div class="col-sm-12">
        1. V<small><i class="fa fa-star" id="xpuno"> </i></small>
        <label id="lpuno"> </label>
        <label id="sinpuno">
            <input id="puno" class="input-group-sm " placeholder="puedes completar aquí">
        </label>

        <br/>
        2. H<small><i class="fa fa-star" id="xpdos"> </i></small>
        <label id="lpdos"> </label>
        <label id="sinpdos">
            <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí">
        </label>
        <br/>
        3. A <small><i class="fa fa-star" id="xptres"> </i></small>
        <label id="lptres"> </label>
        <label id="sinptres">
            <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí">
        </label>
        <br/>

        <p class="text-info">
            "
            El orgullo termina en humillación, mientras que la humildad trae honra.
            "
            <br/>
            <small>
                Proverbios 29:23 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            El antídoto para el orgullo
        </strong>
        <br/>

        <p class="text-info">
            "
            Pedro declaró: Aunque todos te abandonen, yo jamás te abandonaré.
            "
            <br/>
            <small>
                Mateo 26:33 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "
            También tengo algo que decirles a los jóvenes: acepten la autoridad de los ancianos líderes.
            "
            <br/>
            <small>
                1 Pedro 5:5a (PDT)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "
            Vístanse todos ustedes de <small><i class="fa fa-star" id="xptres"> </i></small>
            <label id="lpcuatro"> </label>
            <label id="sinpcuatro">
                <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí">
            </label> y sírvanse unos a otros porque: "Dios está en contra de los orgullosos, pero da su generoso amor a los humildes".
            "
            <br/>
            <small>
                1 Pedro 5:5b (PDT)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "
            Humíllense bajo la mano poderosa de Dios, para que él los eleve en el momento oportuno.
            "
            <br/>
            <small>
                1 Pedro 5:6 (BPD)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "
            Pongan todas sus preocupaciones y ansiedades en las manos de Dios, porque él cuida de ustedes.
            "
            <br/>
            <small>
                1 Pedro 5:7 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "
            Sean sobrios y estén siempre alerta, porque su enemigo, el demonio, ronda como un león rugiente, buscando a quién devorar.
            "
            <br/>
            <small>
                1 Pedro 5:8 (BPD)
            </small>
        </p>
        <br/>
        <strong>
            Santiago 4:6 – “Dios se opone al orgulloso pero da gracia al humilde.”
        </strong>
    </div>

</div>

{{ encore_entry_script_tags('nota_mensaje') }}
