<div class="col-sm-12">
    <h3>
        EL VIRUS LETAL DEL VACÍO
        <br/>
        <small>
            Serie: Infectados - Parte 4
        </small>
    </h3>
    <p class="text-info">
        "Nada tiene sentido —dice el Maestro—, ¡ningún sentido en absoluto!». ¿Qué obtiene la gente con trabajar tanto <b>bajo el sol</b>?"<br/>
        “Todo es tan tedioso, imposible de describir. No importa cuánto veamos, nunca quedamos satisfechos. No importa cuánto oigamos, nada nos tiene contentos."
        <br/>
        <small>
            Eclesiastés 1:2-8 (NTV)
        </small>
    </p>
</div>
<hr/>
<div class="col-sm-12">

    <strong>
        Tres caminos ineficaces de satisfacción.
    </strong>
    <br/>

    1. Acrecentando <small><i class="fa fa-star" id="xpuno"> </i></small>
    <label id="lpuno"> </label>
    <label id="sinpuno">
        <input id="puno" class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <br/>
    <p class="text-info">
        "Me dediqué a buscar el entendimiento y a investigar con sabiduría todo lo que se hacía debajo del cielo."
        <br/>
        <small>
            Eclesiastés 1:13 (NTV)
        </small>
    </p>
    <br/>
    <p class="text-info">
        “Me dispuse a aprender de todo: desde la sabiduría hasta la locura y la insensatez; pero descubrí por experiencia que procurar esas cosas es como perseguir el viento."
        <br/>
        <small>
            Eclesiastés 1:17 (NTV)
        </small>
    </p>
    <br/>
    <p class="text-info">
        "Cuanta más sabiduría tengo, mayor es mi desconsuelo; aumentar el conocimiento sólo trae más dolor."
        <br/>
        <small>
            Eclesiastés 1:18 (NTV)
        </small>
    </p>

    2. Experimentando <small><i class="fa fa-star" id="xpdos"> </i></small>
    <label id="lpdos"> </label>
    <label id="sinpdos">
        <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <br/>
    <p class="text-info">
        "Me dije: «Vamos, probemos los placeres. ¡Busquemos “las cosas buenas” de la vida!»; pero descubrí que eso también carecía de sentido».
        <br/>
        <small>
            Eclesiastés 2:1 (NTV)
        </small>
    </p>
    <br/>
    <p class="text-info">
        “Así traté de experimentar la única felicidad que la mayoría de la gente encuentra en su corto paso por este mundo."
        <br/>
        <small>
            Eclesiastés 2:3b (NTV)
        </small>
    </p>
    <br/>

    3. Acumulando <small><i class="fa fa-star" id="xptres"> </i></small>
    <label id="lptres"> </label>
    <label id="sinptres">
        <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <br/>
    <p class="text-info">
        "También traté de encontrar sentido a la vida edificándome enormes mansiones y plantando hermosos viñedos.
        <br/>
        ¡Tuve todo lo que un hombre puede desear!"
        <small>
            Eclesiastés 2:8 (NTV)
        </small>
    </p>
    <br/>

    <p class="text-info">
        "Pero al observar todo lo que había logrado con tanto esfuerzo, vi que nada tenía sentido, era como perseguir el viento. No había absolutamente nada que valiera la pena."
        <br/>
        <small>
            Eclesiastés 2:11 (NTV)
        </small>
    </p>
</div>

<div class="col-sm-12">
    <strong>
        COMO LLENAR EL VACÍO DE TU VIDA
    </strong>
    <br/>
    <p class="text-info">
        "Si tratas de aferrarte a la vida, la perderás, pero si entregas tu vida por mi causa, la salvarás."
        <br/>
        <small>
            Lucas 9:24 (NTV)
        </small>
    </p>
    <br/>
    La clave: Ceder el <small><i class="fa fa-star" id="xpcuatro"> </i></small>
    <label id="lpcuatro"> </label>
    <label id="sinpcuatro">
        <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí">
    </label> de tu vida y vivir para una <small><i class="fa fa-star" id="xpcinco"> </i></small>
    <label id="lpcinco"> </label>
    <label id="sinpcinco">
        <input id="pcinco" class="input-group-sm " placeholder="puedes completar aquí">
    </label> más grande que tu propia vida.
    <br/>
    <strong>
        Tres nuevos caminos de satisfacción.
    </strong>
    1. Conocer a <small><i class="fa fa-star" id="xpseis"> </i></small>
    <label id="lpseis"> </label>
    <label id="sinpseis">
        <input id="pseis" class="input-group-sm " placeholder="puedes completar aquí">
    </label>.
    <br/>
    <p class="text-info">
        "Y la manera de tener vida eterna es conocerte a ti, el único Dios verdadero, y a Jesucristo, a quien tú enviaste a la tierra."
        <br/>
        <small>
            Juan 17:3 (NTV)
        </small>
    </p>
    <br/>
    2. Experimentar el placer en Su <small><i class="fa fa-star" id="xpsiete"> </i></small>
    <label id="lpsiete"> </label>
    <label id="sinpsiete">
        <input id="psiete" class="input-group-sm " placeholder="puedes completar aquí">
    </label>.
    <br/>
    <p class="text-info">
        "Yo soy el pan de vida --declaró Jesús--. El que a mí viene nunca pasará hambre, y el que en mí cree nunca más volverá a tener sed."
        <br/>
        <small>
            Juan 6:35 (NVI)
        </small>
    </p>
    <br/>
    3. Acumular tesoros en el <small><i class="fa fa-star" id="xpocho"> </i></small>
    <label id="lpocho"> </label>
    <label id="sinpocho">
        <input id="pocho" class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <br/>
    <p class="text-info">
        "No almacenes tesoros aquí en la tierra, donde las polillas se los comen y el óxido los destruye, y donde los ladrones entran y roban. Almacena tus tesoros en el cielo,”
        <br/>
        <small>
            Mateo 6:19-20a (NTV)
        </small>
    </p>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
