<div class="col-sm-12">
    <h3>
        AVANZA A PESAR DE TODO
        <br/>
        <small>
            Serie: Despierta con Esperanza – Parte 5
        </small>
    </h3>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        “Los hombres de Israel vieron el gran aprieto en el que estaban y, como estaban fuertemente presionados por el enemigo, trataron de esconderse en cuevas, matorrales, rocas, hoyos y cisternas.”
        <br/>
        <small class="float-right  ">
            1 Samuel 13:6 (NTV)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Jonatán hijo de Saúl, <b>sin decirle nada a su padre</b>,
        le ordenó a su escudero: "Ven acá. <b>Vamos a cruzar al otro lado</b>, donde está el destacamento de los filisteos.""
        <br/>
        <small class="float-right  ">
            1 Samuel 14:1 (NVI)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Crucemos hasta la avanzada de esos paganos —le dijo Jonatán a su escudero. Tal vez el SEÑOR nos ayude!"
        <br/>
        <small class="float-right">
            1 Samuel 14:6 (NTV)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "¡Él puede ganar la batalla ya sea que tenga muchos guerreros o sólo unos cuantos!"
        <br/>
        <small class="float-right">
            1 Samuel 14:6 (NTV)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Haz lo que mejor te parezca —respondió el escudero. Estoy contigo, decidas lo que decidas."
        <br/>
        <small class="float-right">
            1 Samuel 14:7 (NTV)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Si nos dicen: “Quédense…”, <b>entonces nos detendremos</b>...
        Pero si nos dicen: “Suban y peleen”, entonces subiremos. <b>Esa será la señal del SEÑOR de que nos ayudará</b> a derrotarlos."
        <br/>
        <small class="float-right">
            1 Samuel 14:9-10 (NTV)
        </small>
    </p>

    <h3>
        El plan básico de un valiente es avanzar, avanzar a pesar de todo.
    </h3>

    <h3>
        ¡En todo lo que no se te detiene, avanza!
    </h3>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Le gritaron a Jonatán: «¡Suban aquí y les daremos una lección!». «Vamos, sube detrás de mí —le dijo Jonatán a su escudero—, ¡porque el SEÑOR nos ayudará a derrotarlos!»."
        <br/>
        <small class="float-right">
            1 Samuel 14:11-12 (NTV)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "En <b>un espacio reducido</b>, Jonatán y su escudero mataron a unos <b>veinte hombres</b>."
        <br/>
        <small class="float-right">
            1 Samuel 14:13-14 (NVI)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "De repente, <b>el ejército de los filisteos se llenó de pánico</b>,... Y
        <b>en ese preciso momento hubo un terremoto, y todos quedaron aterrorizados</b>."
        <br/>
        <small class="float-right">
            1 Samuel 14:15 (NTV)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "En seguida Saúl reunió a su ejército, y todos juntos se lanzaron a la batalla."
        <br/>
        <small class="float-right">
            1 Samuel 14:20 (NVI)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Los hebreos que hacía tiempo se habían unido a los filisteos, y que estaban con ellos en el campamento, se pasaron a las filas de los israelitas."
        <br/>
        <small class="float-right">
            1 Samuel 14:21 (NVI)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Y los israelitas que se habían escondido…  al oír que los filisteos huían, se unieron a la batalla para perseguirlos."
        <br/>
        <small class="float-right">
            1 Samuel 14:22 (NVI)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "<b>Así que en ese día el SEÑOR salvó a Israel</b>, y la recia batalla se extendió aún más allá de Bet-avén."
        <br/>
        <small class="float-right">
            1 Samuel 14:23 (NTV)
        </small>
    </p>
</div>
<hr/>
{# <div class="col-sm-12"> #}

{# <strong> #}
{# Tres caminos ineficaces de satisfacción. #}
{# </strong> #}
{# <br/> #}

{# 1. Acrecentando <small><i class="fa fa-star" id="xpuno"> </i></small> #}
{# <label id="lpuno"> </label> #}
{# <label id="sinpuno"> #}
{# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dediqué a buscar el entendimiento y a investigar con sabiduría todo lo que se hacía debajo del cielo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:13 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Me dispuse a aprender de todo: desde la sabiduría hasta la locura y la insensatez; pero descubrí por experiencia que procurar esas cosas es como perseguir el viento." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:17 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Cuanta más sabiduría tengo, mayor es mi desconsuelo; aumentar el conocimiento sólo trae más dolor." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:18 (NTV) #}
{# </small> #}
{# </p> #}

{# 2. Experimentando <small><i class="fa fa-star" id="xpdos"> </i></small> #}
{# <label id="lpdos"> </label> #}
{# <label id="sinpdos"> #}
{# <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dije: «Vamos, probemos los placeres. ¡Busquemos “las cosas buenas” de la vida!»; pero descubrí que eso también carecía de sentido». #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:1 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Así traté de experimentar la única felicidad que la mayoría de la gente encuentra en su corto paso por este mundo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:3b (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# 3. Acumulando <small><i class="fa fa-star" id="xptres"> </i></small> #}
{# <label id="lptres"> </label> #}
{# <label id="sinptres"> #}
{# <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "También traté de encontrar sentido a la vida edificándome enormes mansiones y plantando hermosos viñedos. #}
{# <br/> #}
{# ¡Tuve todo lo que un hombre puede desear!" #}
{# <small> #}
{# Eclesiastés 2:8 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# <p class= "text-info text-14-300"> #}
{# "Pero al observar todo lo que había logrado con tanto esfuerzo, vi que nada tenía sentido, era como perseguir el viento. No había absolutamente nada que valiera la pena." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:11 (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{# <div class="col-sm-12"> #}
{# <strong> #}
{# COMO LLENAR EL VACÍO DE TU VIDA #}
{# </strong> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Si tratas de aferrarte a la vida, la perderás, pero si entregas tu vida por mi causa, la salvarás." #}
{# <br/> #}
{# <small> #}
{# Lucas 9:24 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# La clave: Ceder el <small><i class="fa fa-star" id="xpcuatro"> </i></small> #}
{# <label id="lpcuatro"> </label> #}
{# <label id="sinpcuatro"> #}
{# <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> de tu vida y vivir para una <small><i class="fa fa-star" id="xpcinco"> </i></small> #}
{# <label id="lpcinco"> </label> #}
{# <label id="sinpcinco"> #}
{# <input id="pcinco" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> más grande que tu propia vida. #}
{# <br/> #}
{# <strong> #}
{# Tres nuevos caminos de satisfacción. #}
{# </strong> #}
{# 1. Conocer a <small><i class="fa fa-star" id="xpseis"> </i></small> #}
{# <label id="lpseis"> </label> #}
{# <label id="sinpseis"> #}
{# <input id="pseis" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Y la manera de tener vida eterna es conocerte a ti, el único Dios verdadero, y a Jesucristo, a quien tú enviaste a la tierra." #}
{# <br/> #}
{# <small> #}
{# Juan 17:3 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 2. Experimentar el placer en Su <small><i class="fa fa-star" id="xpsiete"> </i></small> #}
{# <label id="lpsiete"> </label> #}
{# <label id="sinpsiete"> #}
{# <input id="psiete" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Yo soy el pan de vida --declaró Jesús--. El que a mí viene nunca pasará hambre, y el que en mí cree nunca más volverá a tener sed." #}
{# <br/> #}
{# <small> #}
{# Juan 6:35 (NVI) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 3. Acumular tesoros en el <small><i class="fa fa-star" id="xpocho"> </i></small> #}
{# <label id="lpocho"> </label> #}
{# <label id="sinpocho"> #}
{# <input id="pocho" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "No almacenes tesoros aquí en la tierra, donde las polillas se los comen y el óxido los destruye, y donde los ladrones entran y roban. Almacena tus tesoros en el cielo,” #}
{# <br/> #}
{# <small> #}
{# Mateo 6:19-20a (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{{ encore_entry_script_tags('nota_mensaje') }}
