<div class="col-sm-12">
    <h3>
        EL VIRUS LETAL DE LA DESCONEXIÓN
        <br/>
        <small>
            Serie: Infectados - Parte 3
        </small>
    </h3>
    <p class="text-info">
        "
        … el demonio lo arrastraba a lugares solitarios.
        "
        <br/>
        <small>
            Lucas 8:29 (NVI)
        </small>
    </p>
</div>
<hr/>
<div class="col-sm-12">

    <strong>
        COMO ESCAPAR DE TU AISLAMIENTO:
    </strong>
    <br/>


    {# <p class="text-info"> #}
    {# " #}
    {# ¿Y qué beneficio obtienes si ganas el mundo entero pero pierdes tu propia alma? ¿Hay algo que valga más que tu alma?. #}
    {# " #}
    {# <br/> #}
    {# <small> #}
    {# Mateo 16:26 (NTV) #}
    {# </small> #}
    {# </p> #}


    {# Confía en la perspectiva de Dios #}
    {# <small><i class="fa fa-star" id="xpuno"> </i></small> #}
    {# <label id="lpuno"> </label> #}
    {# <label id="sinpuno"> #}
    {# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
    {# </label> #}

    1. Reconsiderá tus<small><i class="fa fa-star" id="xpuno"> </i></small>
    <label id="lpuno"> </label>
    <label id="sinpuno">
        <input id="puno" class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <br/>
    <p class="text-info">
        "
        Si... no amara a otros, yo no sería nada.
        "
        <br/>
        <small>
            1 Corintios 13:2 (NTV)
        </small>
    </p>
    <br/>
    <p class="text-info">
        "
        Lo más importante es el amor.
        "
        <br/>
        <small>
            1 Corintios 13:13 (TLA)
        </small>
    </p>
    <br/>

    2. Animate a <small><i class="fa fa-star" id="xpdos"> </i></small>
    <label id="lpdos"> </label>
    <label id="sinpdos">
        <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí">
    </label> verdadera conversación.
    <br/>
    <p class="text-info">
        "
        Háganlo (todo) con humildad y considerando cada uno a los demás como superiores a sí mismo.
        "
        <br/>
        <small>
            Filipenses 2:3 (RVC)
        </small>
    </p>
    <br/>
    <p class="text-info">
        "
        Ámense unos a otros con un afecto genuino y deléitense al honrarse mutuamente.
        "
        <br/>
        <small>
            Romanos 12:10 (NTV)
        </small>
    </p>
    <br/>

    3. Experimenta el <small><i class="fa fa-star" id="xptres"> </i></small>
    <label id="lptres"> </label>
    <label id="sinptres">
        <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí">
    </label> liberador de Jesús.
    <br/>
    <p class="text-info">
        "
        Cruzaron el lago hasta llegar a la región de los gerasenos. Tan pronto como desembarcó Jesús,
        "
        <br/>
        <small>
            Marcos 5:1-2 (NVI)
        </small>
    </p>
    <br/>

    <p class="text-info">
        "
        Un hombre poseído por un espíritu maligno le salió al encuentro de entre los sepulcros. 3 Este hombre vivía en los sepulcros
        "
        <br/>
        <small>
            Marcos 5:2-3 (NVI)
        </small>
    </p>
    <br/>
    <p class="text-info">
        "
        Noche y día andaba por los sepulcros y por las colinas, gritando y golpeándose con piedras.
        "
        <br/>
        <small>
            Marcos 5:5
        </small>
    </p>
    <br/>
    <p class="text-info">
        "
        Cuando vio a Jesús desde lejos, corrió y se postró delante de él.
        "
        <br/>
        <small>
            Marcos 5:6
        </small>
    </p>
    <br/>
    <p class="text-info">
        "
        --¿Por qué te entrometes, Jesús, Hijo del Dios Altísimo? --gritó con fuerza--. ¡Te ruego por Dios que no me atormentes!
        "
        <br/>
        <small>
            Marcos 5:7
        </small>
    </p>
    <br/>
    <p class="text-info">
        "
        Es que Jesús le había dicho: "¡Sal de este hombre, espíritu maligno!"
        "
        <br/>
        <small>
            Marcos 5:8
        </small>
    </p>
<hr/>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
