<div class="col-sm-12">
    <h3>
        Despierta, e ¡Invitalo a tus batallas!
        <br/>
        <small>
            Serie: Despierta con Esperanza – Parte 2
        </small>
    </h3>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Cuando pases por aguas profundas, yo estaré contigo. Cuando pases por ríos de dificultad, no te ahogarás.
        Cuando pases por el fuego de la opresión, no te quemarás"
        <br/>
        <small class="float-right  ">
            Isaías 43:2 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "Aunque pase por el más oscuro de los valles, no temeré peligro alguno, porque tú, Señor, estás conmigo."

        <br/>
        <small class="float-right  ">
            Salmos 23:4 (DHH)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "Ciertamente nuestro Dios a quien servimos puede librarnos...y…, nos librará."

        <br/>
        <small class="float-right">
            Daniel 3:17 (NBLH)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "Pero aun si nuestro Dios no lo hace así, sepa usted que no honraremos a sus dioses ni adoraremos a su estatua."


        <br/>
        <small class="float-right">
            Daniel 3:18 (NVI)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "— ¿No hemos arrojado a las llamas a tres hombres maniatados?.. — Pues yo estoy viendo cuatro hombres... ¡Y el
        cuarto tiene todo el aspecto de un hijo de los dioses!"


        <br/>
        <small class="float-right">
            Daniel 3:24-25 (BTI)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "Dios es nuestro amparo y nuestra fortaleza, nuestra ayuda segura en momentos de angustia."

        <br/>
        <small class="float-right">
            Salmos 46:1 (NVI)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "El SEÑOR le respondió: Yo mismo iré contigo, Moisés, y te daré descanso; todo te saldrá bien."


        <br/>
        <small class="float-right">
            Éxodo 33:14 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "— ¿No hemos arrojado a las llamas a tres hombres maniatados? … yo estoy viendo cuatro hombres que pasean
        desatados”


        <br/>
        <small class="float-right">
            Daniel 3:24-25 (BTI)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "El Señor estaba con José, por eso tenía éxito en todo."


        <br/>
        <small class="float-right">
            Génesis 39:2 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "Potifar lo notó y se dio cuenta de que el Señor estaba con José."


        <br/>
        <small class="float-right">
            Génesis 39:3 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "Pero el SEÑOR estaba con José en la cárcel.”


        <br/>
        <small class="float-right">
            Génesis 39:21 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">

        "Crucemos al otro lado del lago".


        <br/>
        <small class="float-right">
            Marcos 4:35 (NTV)
        </small>
    </p>

</div>
<hr/>
{# <div class="col-sm-12"> #}

{# <strong> #}
{# Tres caminos ineficaces de satisfacción. #}
{# </strong> #}
{# <br/> #}

{# 1. Acrecentando <small><i class="fa fa-star" id="xpuno"> </i></small> #}
{# <label id="lpuno"> </label> #}
{# <label id="sinpuno"> #}
{# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dediqué a buscar el entendimiento y a investigar con sabiduría todo lo que se hacía debajo del cielo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:13 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Me dispuse a aprender de todo: desde la sabiduría hasta la locura y la insensatez; pero descubrí por experiencia que procurar esas cosas es como perseguir el viento." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:17 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Cuanta más sabiduría tengo, mayor es mi desconsuelo; aumentar el conocimiento sólo trae más dolor." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:18 (NTV) #}
{# </small> #}
{# </p> #}

{# 2. Experimentando <small><i class="fa fa-star" id="xpdos"> </i></small> #}
{# <label id="lpdos"> </label> #}
{# <label id="sinpdos"> #}
{# <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dije: «Vamos, probemos los placeres. ¡Busquemos “las cosas buenas” de la vida!»; pero descubrí que eso también carecía de sentido». #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:1 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Así traté de experimentar la única felicidad que la mayoría de la gente encuentra en su corto paso por este mundo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:3b (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# 3. Acumulando <small><i class="fa fa-star" id="xptres"> </i></small> #}
{# <label id="lptres"> </label> #}
{# <label id="sinptres"> #}
{# <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "También traté de encontrar sentido a la vida edificándome enormes mansiones y plantando hermosos viñedos. #}
{# <br/> #}
{# ¡Tuve todo lo que un hombre puede desear!" #}
{# <small> #}
{# Eclesiastés 2:8 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# <p class= "text-info text-14-300"> #}
{# "Pero al observar todo lo que había logrado con tanto esfuerzo, vi que nada tenía sentido, era como perseguir el viento. No había absolutamente nada que valiera la pena." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:11 (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{# <div class="col-sm-12"> #}
{# <strong> #}
{# COMO LLENAR EL VACÍO DE TU VIDA #}
{# </strong> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Si tratas de aferrarte a la vida, la perderás, pero si entregas tu vida por mi causa, la salvarás." #}
{# <br/> #}
{# <small> #}
{# Lucas 9:24 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# La clave: Ceder el <small><i class="fa fa-star" id="xpcuatro"> </i></small> #}
{# <label id="lpcuatro"> </label> #}
{# <label id="sinpcuatro"> #}
{# <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> de tu vida y vivir para una <small><i class="fa fa-star" id="xpcinco"> </i></small> #}
{# <label id="lpcinco"> </label> #}
{# <label id="sinpcinco"> #}
{# <input id="pcinco" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> más grande que tu propia vida. #}
{# <br/> #}
{# <strong> #}
{# Tres nuevos caminos de satisfacción. #}
{# </strong> #}
{# 1. Conocer a <small><i class="fa fa-star" id="xpseis"> </i></small> #}
{# <label id="lpseis"> </label> #}
{# <label id="sinpseis"> #}
{# <input id="pseis" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Y la manera de tener vida eterna es conocerte a ti, el único Dios verdadero, y a Jesucristo, a quien tú enviaste a la tierra." #}
{# <br/> #}
{# <small> #}
{# Juan 17:3 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 2. Experimentar el placer en Su <small><i class="fa fa-star" id="xpsiete"> </i></small> #}
{# <label id="lpsiete"> </label> #}
{# <label id="sinpsiete"> #}
{# <input id="psiete" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Yo soy el pan de vida --declaró Jesús--. El que a mí viene nunca pasará hambre, y el que en mí cree nunca más volverá a tener sed." #}
{# <br/> #}
{# <small> #}
{# Juan 6:35 (NVI) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 3. Acumular tesoros en el <small><i class="fa fa-star" id="xpocho"> </i></small> #}
{# <label id="lpocho"> </label> #}
{# <label id="sinpocho"> #}
{# <input id="pocho" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "No almacenes tesoros aquí en la tierra, donde las polillas se los comen y el óxido los destruye, y donde los ladrones entran y roban. Almacena tus tesoros en el cielo,” #}
{# <br/> #}
{# <small> #}
{# Mateo 6:19-20a (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{{ encore_entry_script_tags('nota_mensaje') }}
