<div class="col-sm-12">
    <h4>
        LIBRES DE TODO<br/>
        <small>
            Serie: Nuevo Mundo Audaz - Parte 2 - Mateo 6:19-34 (NTV)
        </small>
    </h4>
</div>
<div class="col-sm-12">
    “Les digo que <b> no se preocupen por la vida diaria</b>, si tendrán suficiente alimento y bebida, o suficiente ropa
    para vestirse. ¿Acaso no es la vida más que la comida y el cuerpo más que la ropa?” Mateo 6:25 (NTV)<br/>
    "No que haya pasado necesidad alguna vez, porque <b>he aprendido a estar contento con lo que tengo</b>. Sé vivir con casi
    nada o con todo lo necesario. Mateo 6:11-12 (NTV)<br/>
    “He aprendido el <b>secreto de vivir en cualquier situación</b>, sea con el estómago lleno o vacío, con mucho o con poco.
    Pues <b>todo lo puedo hacer por medio de Cristo</b>, quien <b>me da las fuerzas</b>." Filipenses 4:12-13 (NTV)<br/>
    <strong class="text-14-300 text-invitacion">Vivir libre de todo se llama:</strong><br/>

    <small><i class="fa fa-star" id="xpcentral"> </i></small>
    <label id="lpcentral"> </label>
    <label id="sinpcentral">
        <input id="pcentral"  class="input-group-sm " placeholder="puedes completar aquí">
    </label>
    <hr/>
    <h4>Las claves del contentamiento</h4>
    1.
    <small><i class="fa fa-star" id="xpuno"> </i></small>
    <label id="lpuno"> </label>
    <label id="sinpuno">P
    <input id="puno"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label><br/>
    "No almacenes tesoros aquí en la tierra, donde las polillas se los comen y el óxido los destruye, y donde los
    ladrones entran y roban.” Mateo 6:19 (NTV)<br/><br/>
    “Almacena tus tesoros en el cielo, donde las polillas y el óxido no pueden destruir, y los ladrones no entran
    a robar.” Mateo 6:20 (NTV)<br/><br/>
    “Donde esté tu tesoro, allí estarán también los deseos de tu corazón. Mateo 6:21 (NTV)<br/>
    <br/>

    2.
    <small><i class="fa fa-star" id="xpdos"> </i></small>
    <label id="lpdos"> </label>
    <label id="sinpdos">I
    <input id="pdos"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label><br/>
    “Miren los pájaros. No plantan ni cosechan ni guardan comida en graneros, porque el Padre celestial los alimenta.
    ¿Y no son ustedes para él mucho más valiosos que ellos?  Mateo 6:26 (NTV)<br/><br/>
    “Si Dios cuida de manera tan maravillosa a las flores silvestres que hoy están y mañana se echan al fuego, tengan
    por seguro que cuidará de ustedes. Mateo 6:30 (NTV)<br/>
    <br/>
    3.
    <small><i class="fa fa-star" id="xptres"> </i></small>
    <label id="lptres"> </label>
    <label id="sinptres">C
    <input id="ptres"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label><br/>
    ¿Por qué tienen tan poca fe?  »Así que no se preocupen por todo eso diciendo: “¿Qué comeremos?, ¿qué beberemos?,
    ¿qué ropa nos pondremos?”. Mateo 6:31 (NTV)<br/><br/>
    “Esas cosas dominan el pensamiento de los incrédulos, pero su Padre celestial ya conoce todas sus necesidades.
    Mateo 6:32 (NTV) <br/>
    <br/>
    4.
    <small><i class="fa fa-star" id="xpcuatro"> </i></small>
    <label id="lpcuatro"> </label>
    <label id="sinpcuatro">P
    <input id="pcuatro"  class="input-group-sm " placeholder="escribe la palabra completa" >
    </label><br/>
    “Nadie puede servir a dos amos. Pues odiará a uno y amará al otro; será leal a uno y despreciará al otro. No se
    puede servir a Dios y al dinero. Mateo 6:24 (NTV)<br/>

    <hr/>
    <b>
        “Busquen el reino de Dios por encima de todo lo demás y lleven una vida justa, y él les dará todo lo que necesiten.” Mateo 6:33 (NTV)
    </b>

</div>
