<div class="col-sm-12">
    <h3>
        UNA FIRME ESPERANZA
        <br/>
        <small>
            Serie: El mundo está en Sus manos - Parte 3
        </small>
    </h3>
</div>
<div class="col-sm-12">


    <p class="text-info">
        "
        Que tu amor inagotable nos rodee, Señor, porque solo en ti está nuestra esperanza
        "
        <br/>
        <small>Salmos 33:22 (NTV)</small>
    </p>

    <br/>
    ESPERANZA:
    <small><i class="fa fa-star" id="xpuno"> </i></small>
    <label id="lpuno"> </label>
    <label id="sinpuno">
        <input id="puno" class="input-group-sm " placeholder="puedes completar aquí">
    </label>

    <br/>
    <ul>
        <li class="ml-lg-5">
            P
            <small><i class="fa fa-star" id="xpdos"> </i></small>
            <label id="lpdos"> </label>
            <label id="sinpdos">
                <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí">
            </label>
        </li>
        <li class="ml-lg-5">
            H
            <small><i class="fa fa-star" id="xptres"> </i></small>
            <label id="lptres"> </label>
            <label id="sinptres">
                <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí">
            </label>
        </li>
        <li class="ml-lg-5">
            H
            <small><i class="fa fa-star" id="xpcuatro"> </i></small>
            <label id="lpcuatro"> </label>
            <label id="sinpcuatro">
                <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí">
            </label>
        </li>
        <li class="ml-lg-5">
            L
            <small><i class="fa fa-star" id="xpcinco"> </i></small>
            <label id="lpcinco"> </label>
            <label id="sinpcinco">
                <input id="pcinco" class="input-group-sm " placeholder="puedes completar aquí">
            </label>
        </li>
    </ul>

    <h4>
        <strong>
            La pared siempre es
        </strong>
            <small><i class="fa fa-star" id="xpseis"> </i></small>
            <label id="lpseis"> </label>
            <label id="sinseis">
                <input id="pseis" class="input-group-sm " placeholder="puedes completar aquí">
            </label>
        <strong>
            , tomas conciencia de ella cuando experimentas una
        </strong>
            <small><i class="fa fa-star" id="xpsiete"> </i></small>
            <label id="lpsiete"> </label>
            <label id="sinpsiete">
                <input id="psiete" class="input-group-sm " placeholder="puedes completar aquí">
            </label>
    </h4>
    <br/>
    <h3>
        <strong>
        ¿Cómo tener la esperanza en un mundo roto?
        </strong>
    </h3>
    <p class="text-info">
        <sup>20</sup>
         [La creación] fue sometida a la frustración.
        [...] Pero queda la firme <b>esperanza</b>
        <sup>21</sup> de que la creación misma ha de ser liberada de la corrupción
        <small>Romanos 8:20-21 (NVI)</small>
    </p>
    <p class="text-info">
        <sup>25</sup>
        esperamos lo que no vemos, con <b>paciencia</b> lo aguardamos.
        <small>Romanos 8:25 (RVR) </small>
    </p>
    <p class="text-info">
        <sup>32</sup>
        El que no escatimó ni a su propio Hijo, sino que lo <b>entregó</b>
        por todos nosotros, ¿cómo no habrá de darnos generosamente, junto con él, todas las cosas?
        <small>Romanos 8:32(NVI)</small>
    </p>
    <p class="text-info">
        <sup>35</sup>
        ¿Quién nos apartará del <b>amor</b> de Cristo? ¿La tribulación,
        o la angustia, la persecución, el hambre, la indigencia, el peligro,
        o la violencia?
        <sup>38</sup> Pues estoy convencido de que ni la muerte ni la vida,
        ni los ángeles ni los demonios, ni lo presente ni lo por venir,
        ni los poderes, <sup>39</sup> ni lo alto ni lo profundo,
        ni cosa alguna en toda la creación podrá apartarnos del amor que
        Dios nos ha manifestado en Cristo Jesús nuestro Señor.
        <small>Romanos 8:35, 38-39 (NVI)</small>
    </p>

    <br/>
    <br/>
    <br/>

    {# <small><i class="fa fa-star" id="xpdos"> </i></small> #}
    {# <label id="lpdos"> </label> #}
    {# <label id="sinpdos"> #}
    {# <input id="pdos"  class="input-group-sm " placeholder="puedes completar aquí"> #}
    {# </label> #}
    <br/>
    {# Punto 3 #}
    {# <small><i class="fa fa-star" id="xptres"> </i></small> #}
    {# <label id="lptres"> </label> #}
    {# <label id="sinptres"> #}
    {# <input id="ptres"  class="input-group-sm " placeholder="escribe la palabra completa" > #}
    {# </label><br/> #}

    {# Punto 4 #}
    {# <small><i class="fa fa-star" id="xpcuatro"> </i></small> #}
    {# <label id="lpcuatro"> </label> #}
    {# <label id="sinpcuatro"> #}
    {# <input id="pcuatro"  class="input-group-sm " placeholder="escribe la palabra completa" > #}
    {# </label> #}
    <br/>

    <br/>
    <h4>
        ¿DÓNDE ESTÁS APOYANDO TU ESCALERA?
    </h4>
    <h4>
        AUNQUE TODO ESTÉ ROTO, RECUERDA: HAY ESPERANZA<br/>
        PORQUE EL MUNDO AÚN ESTÁ EN SUS MANOS
    </h4>

    <br/>

    <br/>

    {# Punto 5 #}
    {# <small><i class="fa fa-star" id="xpcinco"> </i></small> #}
    {# <label id="lpcinco"> </label> #}
    {# <label id="sinpcinco"> #}
    {# <input id="pcinco"  class="input-group-sm " placeholder="escribe la palabra completa" > #}
    {# </label> #}
    <br/>

</div>

{{ encore_entry_script_tags('nota_mensaje') }}

