{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Editar Usuario</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('admin_list_user') }}">Volver al listado</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
